{% extends 'menu.html' %} 
<title> {% block head_title %} ADR - Admin {% endblock %} </title>
{% block body %}

<h4>Associate Master</h4>
<a data-toggle="modal" data-target="#addassociate" class="btn btn-primary add-btn pull-right">Add</a>
<hr>
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
  <thead>
    <tr>
      <th width="5%">Associate Id</th>
      <th width="15%">Associate Name</th>
      <th width="10%">Designation</th>
      <th width="5%">Grade</th>
      <th width="10%">Department</th>
      <th width="15%">Manager </th>
      <th width="10%">Project</th>
      <th width="10%">
        <center>Actions</th>
      </center>
    </tr>
  </thead>
  <tbody>
    {% for associate in associates %}
    <tr>
      <td>{{ associate.associate_id }}</td>
      <td>{{ associate.associate_name }}</td>
      <td>{{ associate.designation }}</td>
      <td>{{ associate.grade }}</td>
      <td>{{ associate.department_name }}</td>
      <td>{{ associate.manager_name }} ({{ associate.manager_id }})</td>
      <td>{{ associate.project_name }}</td>
      <td>
        <center>
          <a data-toggle="modal" data-target="#editassociate{{associate.id}}">
            <i class="material-icons" data-toggle="tooltip" title="Edit Associate">&#xE254;</i>
          </a>
          <a data-toggle="modal" data-target="#deleteassociate{{associate.id}}">
            <i class="material-icons" data-toggle="tooltip" title="Delete Associate">&#xE872;</i>
          </a>
          <a data-toggle="modal" data-target="#viewassociate{{associate.id}}">
            <i class="material-icons" data-toggle="tooltip" title="View Details">&#xE03B;</i>
          </a>
        </center>

        <div class="modal fade" id="editassociate{{associate.id}}" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <form method="POST" action="{% url 'competence:associate_update' associate.id %}">
                {% csrf_token %}
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Edit Associate</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-6 form-group">
                      <label for="associate_id">Associate Id</label>
                      <input type="text" name="associate_id" value="{{ associate.associate_id }}" class="form-control" style="width:100%;" readonly />
                    </div>
                    <div class="col-sm-6 form-group">
                      <label for="associate_name">Associate Name</label>
                      <input type="text"   pattern="[A-Z a-z]{1,30}" name="associate_name" value="{{ associate.associate_name }}" class="form-control" style="width:100%;" readonly />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 form-group">
                      <label for="primary_skills">Primary Skills</label>
                      <input type="text" name="primary_skills" value="{{ associate.primary_skills }}" class="form-control" style="width:100%;" required />                      
                    </div>
                    <div class="col-sm-6 form-group">
                      <label for="date_of_join">Date of Join</label>
                      <input type="date" name="date_of_join" value="{{ associate.date_of_join|date:'Y-m-d' }}" class="form-control" style="width:100%;" required />
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6 form-group">
                        <label for="jira_id">Jira Id</label>
                        <input type="text" name="jira_id" value="{{ associate.jira_id }}" class="form-control" style="width:100%;" required />
                      </div>
                      <div class="col-sm-6 form-group">
                        <label for="email_address">Email Id</label>
                        <input type="text" name="email_address" value="{{ associate.email_address }}" class="form-control" style="width:100%;" required />
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 form-group">
                      <label for="manager_name">Manager Name</label>
                      <select name="manager_name" style="width:100%;" required class="form-control" required>
                        {% for manager in managers %}
                        <option value="{{ manager.associate_name }}" {% if associate.manager_name == manager.associate_name %} selected="selected" {% endif %}> 
                          {{ manager.associate_name }} ({{ manager.associate_id }})</option>
                        {% endfor %}
                      </select>
                    </div>
                      <div class="col-sm-6 form-group">
                        <label for="role">Role</label>
                        <input type="text" name="role" value="{{ associate.role }}" class="form-control" style="width:100%;" required />
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 form-group">
                      <label for="designation">Designation</label>
                      <select name="designation" class="form-control" style="width:100%;" required 
                      onchange="geteditGrade(this.options[this.selectedIndex].getAttribute('data-editgrade'))">
                        {% for designation in designations %}
                        <option value="{{ designation.designation }}" {% if associate.designation == designation.designation %} selected="selected"
                          {% endif %} data-editgrade="{{designation.grade}}">{{ designation.designation }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <script>
                      function geteditGrade(a) {
                        document.getElementById("editgrade").value = a;
                      }
                    </script>
                    <div class="col-sm-6 form-group">
                        <label for="grade">Grade</label>
                        {% for designation in designations %}
                        {% if associate.designation == designation.designation %}
                        {% with designation.grade as editgrade %} 
                        <input type="text" name="grade" value="{{editgrade}}" id="editgrade" style="width:100%;" required class="form-control" readonly/>
                        {% endwith %} 
                        {% endif %}   
                        {%endfor%}
                    </div> 
                  </div>
                  <div class="row">
                    <div class="col-sm-6 form-group">
                      <label for="department_name">Department Name</label>
                      <select name="department_name" style="width:100%;" required class="form-control" 
                      onchange="geteditDept_id(this.options[this.selectedIndex].getAttribute('data-editdeptId'))">
                        {% for department in departments %}
                        <option value="{{ department.department_name }}" {% if associate.department_name == department.department_name %} selected="selected"
                          {% endif %} data-editdeptId="{{department.department_id}}">{{ department.department_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <script>
                      function geteditDept_id(a) {
                        document.getElementById("editdept").value = a;
                      }
                    </script>
                    <div class="col-sm-6 form-group">
                        <label for="department_id">Department ID</label>
                        {% for department in departments %}
                        {% if associate.department_name == department.department_name %}
                        {% with department.department_id as editdept %} 
                        <input type="text" name="department_id" value="{{editdept}}" id="editdept" style="width:100%;" required class="form-control" readonly/>
                        {% endwith %} 
                        {% endif %}   
                        {%endfor%}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 form-group">
                      <label for="project_name">Project Name</label>
                      <select name="project_name" style="width:100%;" required class="form-control" 
                      onchange="geteditProjectId(this.options[this.selectedIndex].getAttribute('data-editprojectId'))">
                        {% for project in projects %}
                        <option value="{{ project.project_name }}" {% if associate.project_name == project.project_name %} selected="selected" {% endif %} 
                          data-editprojectId="{{ project.project_id }}">{{ project.project_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <script>
                      function geteditProjectId(a) {
                        document.getElementById("editproject").value = a;
                      }
                    </script>
                    <div class="col-sm-6 form-group">
                        <label for="project_id">Project ID</label>
                        {% for project in projects %}
                        {% if associate.project_name == project.project_name %}
                        {% with project.project_id as editproject %} 
                        <input type="text" name="project_id" value="{{editproject}}" id="editproject" style="width:100%;" required class="form-control" readonly/>
                        {% endwith %} 
                        {% endif %}   
                        {%endfor%}
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="modal fade" id="viewassociate{{associate.id}}" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <form method="POST" action="{% url 'competence:associate_detail' associate.id %}">
                {% csrf_token %}
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Associate Details</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class=" col-sm-4 col-xs-6 form-group">
                      <label for="associate_id">Associate Id</label>
                    </div>
                    <div class="col-sm-1 form-group">
                      <label for="colon">:</label>
                    </div>
                    <div class="col-sm-7 form-group">
                      <input type="text" name="associate_id" value="{{ associate.associate_id }}" class="form-control" style="width:100%;" disabled/>
                    </div>
                  </div>

                  <div class="row">
                    <div class=" col-sm-4 col-xs-6 form-group">
                      <label for="associate_name">Associate Name</label>
                    </div>
                    <div class="col-sm-1 form-group">
                      <label for="colon">:</label>
                    </div>
                    <div class="col-sm-7 form-group">
                      <input type="text" name="associate_name" value="{{ associate.associate_name }}" class="form-control" style="width:100%;" disabled/>
                    </div>
                  </div>

                  <div class="row">
                    <div class=" col-sm-4 col-xs-6 form-group">
                      <label for="primary_skills">Primary Skills</label>
                    </div>
                    <div class="col-sm-1 form-group">
                      <label for="colon">:</label>
                    </div>
                    <div class="col-sm-7 form-group">
                      <input type="text" name="primary_skills" value="{{ associate.primary_skills }}" class="form-control" style="width:100%;" disabled/>
                    </div>
                  </div>

                  <div class="row">
                    <div class=" col-sm-4 col-xs-6 form-group">
                      <label for="date_of_join">Date of Join</label>
                    </div>
                    <div class="col-sm-1 form-group">
                      <label for="colon">:</label>
                    </div>
                    <div class="col-sm-7 form-group">
                      <input type="date" name="date_of_join" value="{{ associate.date_of_join|date:'Y-m-d' }}" class="form-control" style="width:100%;" disabled/>
                    </div>
                  </div>

                  <div class="row">
                    <div class=" col-sm-4 col-xs-6 form-group">
                      <label for="manager_name">Manager Name</label>
                    </div>
                    <div class="col-sm-1 form-group">
                      <label for="colon">:</label>
                    </div>
                    <div class="col-sm-7 form-group">
                      <input type="text" name="manager_name" value="{{associate.manager_name}} ({{ manager.associate_id }})" class="form-control" style="width:100%;" disabled/>
                    </div>
                  </div>
                  
                  <div class="row">
                      <div class=" col-sm-4 col-xs-6 form-group">
                        <label for="manager_id">Manager Id</label>
                      </div>
                      <div class="col-sm-1 form-group">
                        <label for="colon">:</label>
                      </div>
                      <div class="col-sm-7 form-group">
                        <input type="text" name="manager_id" value="{{associate.manager_id}}" class="form-control" style="width:100%;" disabled/>
                      </div>
                    </div>
                  
                  <div class="row">
                    <div class=" col-sm-4 col-xs-6 form-group">
                      <label for="role">Role</label>
                    </div>
                    <div class="col-sm-1 form-group">
                      <label for="colon">:</label>
                    </div>
                    <div class="col-sm-7 form-group">
                      <input type="text" name="role" value="{{associate.role}}" class="form-control" style="width:100%;" disabled/>
                    </div>
                  </div>

                  <div class="row">
                    <div class=" col-sm-4 col-xs-6 form-group">
                      <label for="project_name">Project Name</label>
                    </div>
                    <div class="col-sm-1 form-group">
                      <label for="colon">:</label>
                    </div>
                    <div class="col-sm-7 form-group">
                      <input type="text" name="project_name" value="{{ associate.project_name }}" class="form-control" style="width:100%;" disabled/>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class=" col-sm-4 col-xs-6 form-group">
                      <label for="project_id">Project Id</label>
                    </div>
                    <div class="col-sm-1 form-group">
                      <label for="colon">:</label>
                    </div>
                    <div class="col-sm-7 form-group">
                      <input type="text" name="project_id" value="{{ associate.project_id }}" class="form-control" style="width:100%;" disabled/>
                    </div>
                  </div>

                  <div class="row">
                    <div class=" col-sm-4 col-xs-6 form-group">
                      <label for="designation">Designation</label>
                    </div>
                    <div class="col-sm-1 form-group">
                      <label for="colon">:</label>
                    </div>
                    <div class="col-sm-7 form-group">
                      <input type="text" name="designation" value="{{ associate.designation }}" class="form-control" style="width:100%;" disabled/>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class=" col-sm-4 col-xs-6 form-group">
                      <label for="department_id">Department Id</label>
                    </div>
                    <div class="col-sm-1 form-group">
                      <label for="colon">:</label>
                    </div>
                    <div class="col-sm-7 form-group">
                      <input type="text" name="department_id" value="{{associate.department_id}}" class="form-control" style="width:100%;" disabled/>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class=" col-sm-4 col-xs-6 form-group">
                      <label for="grade">Grade</label>
                    </div>
                    <div class="col-sm-1 form-group">
                      <label for="colon">:</label>
                    </div>
                    <div class="col-sm-7 form-group">
                      <input type="text" name="grade" value="{{associate.grade}}" class="form-control" style="width:100%;" disabled/>
                    </div>
                  </div>

                  <div class="row">
                    <div class=" col-sm-4 col-xs-6 form-group">
                      <label for="department_name">Department Name</label>
                    </div>
                    <div class="col-sm-1 form-group">
                      <label for="colon">:</label>
                    </div>
                    <div class="col-sm-7 form-group">
                      <input type="text" name="department_name" value="{{associate.department_name}}" class="form-control" style="width:100%;" disabled/>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            </form>
          </div>
        </div>
        </div>

        <div class="modal fade" id="deleteassociate{{associate.id}}" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" id="modal-delete">
                    <div class="modal-body">
                        <h4 class="modal-title">Confirm Delete ?</h4>
                        <form action="{% url 'competence:associate_delete' associate.id %}">
                            <input type="submit" data-inline="true" class="btn btn-danger" value="Delete"> &nbsp;
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="modal fade" id="addassociate" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <form method="POST" action="{% url 'competence:associate_add' %}">
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Associate</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6 form-group">
                <label for="associate_id">Associate Id</label>
                <input type="text" name="associate_id" id = "associate_id"  class="form-control" title = "N followed by 4 integers" pattern = "N[0-9]{4}" maxlength = "5" style="width:100%;" required />
                <div id="error" class="form_error"> </div>
                <script>
                var ids = [];
                {% for associate in associates %}
                      ids.push('{{ associate.associate_id }}');
                {% endfor %}
                 function validate_associate(associate_id){
                     var n = "{{associates.count}}";
                     for(var i = 0; i < n; i++){
                       if(associate_id == ids[i]){
                            document.getElementById("error").innerHTML = "Associate already exists!";
                            break;
                       }
                       else{
                         document.getElementById("error").innerHTML = "";
                       }
                     }
                 }
                </script>
              </div>
              <div class="col-sm-6 form-group">
                <label for="associate_name">Associate Name</label>
                <input type="text" pattern="[A-Z a-z]{1,30}" name="associate_name" title = "Name should not contain integers or special characters" maxlength = "30" class="form-control" style="width:100%;" required />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 form-group">
                <label for="primary_skills">Primary Skills</label>
                <!-- <input type="text" name="primary_skills" class="form-control" style="width:100%;" required /> -->
                <input type="search" list=" " name="primary_skills" multiple="multiple" class="form-control" style="width:100%;" required placeholder="Enter your Skills">
                <datalist id="skillset">
                  {% for skill in skillset %}
                  <option value=" {{ skill }} " /> {% endfor %}
                </datalist>
              </div>
              <div class="col-sm-6 form-group">
                <label for="date_of_join">Date of Join</label> 
                <input type="date" id ="currentdate" name="date_of_join" class="form-control" style="width:100%;" required />
              </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group"> 
                  <label for="jira_id">Jira Id</label>
                  <input type="text" name="jira_id" class="form-control" style="width:100%;" required/>
                </div>
                <div class="col-sm-6 form-group">
                  <label for="email_address">Email Id</label>
                  <input type="email" name="email_address" class="form-control" style="width:100%;" required />
                </div>
            </div>
            
            <div class="row">
              <div class="col-sm-6 form-group">
                <label for="manager_name">Manager Name</label>
                <select name="manager_name" style="width:100%;" required class="form-control" required>
                  {% for manager in managers %}
                  <option value="{{ manager.associate_name }}"> {{ manager.associate_name }} ({{ manager.associate_id }})</option>
                  {% endfor %}
                </select>
              </div>
                <div class="col-sm-6 form-group">
                  <label for="role">Role</label>
                  <input type="text" name="role" value="{{ associate.role }}" class="form-control" style="width:100%;" required />
                </div>
            </div>
            <div class="row">
              <div class="col-sm-6 form-group">
                <label for="designation">Designation</label>
                <select name="designation" class="form-control" style="width:100%;" required 
                onchange="getGrade(this.options[this.selectedIndex].getAttribute('data-grade'))">
                  {% for designation in designations %}
                  <option data-grade="{{designation.grade}}">{{ designation.designation }}</option>
                  {% endfor %}
                </select>
              </div>
              <script>
                function getGrade(a) {
                  document.getElementById("grade").value = a;
                }
              </script>
              <div class="col-sm-6 form-group">
                <label for="grade">Grade</label>
                <input type="text" name="grade" id="grade" value="{{first_grade}}" style="width:100%;" required class="form-control" readonly/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 form-group">
                <label for="department_name">Department Name</label>
                <select name="department_name" style="width:100%;" required class="form-control" 
                onchange="getDept_id(this.options[this.selectedIndex].getAttribute('data-deptId'))">
                  {% for department in departments %}
                  <option data-deptId="{{department.department_id}}">{{ department.department_name }}</option>
                  {% endfor %}
                </select>
              </div>
              <script>
                function getDept_id(a) {
                  document.getElementById("department_id").value = a;
                }
              </script> 
              <div class="col-sm-6 form-group">
                <label for="department_id">Department Id</label>
                <input type="text" name="department_id" id="department_id" value="{{first_department_id}}" style="width:100%;" required class="form-control" readonly/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 form-group">
                <label for="project_name">Project Name</label>
                <select name="project_name" style="width:100%;" required class="form-control" 
                onchange="getProject_id(this.options[this.selectedIndex].getAttribute('data-projectId'))">
                  {% for project in projects %}
                  <option data-projectId="{{ project.project_id }}">{{ project.project_name }}</option>
                  {% endfor %}
                </select>
              </div>
              <script>
                function getProject_id(a) {
                  document.getElementById("project_id").value = a;
                }
              </script>
              <div class="col-sm-6 form-group">
                <label for="project_id">Project ID</label>
                <input type="text" name="project_id" id="project_id" value="{{first_project_id}}" style="width:100%;" required class="form-control" readonly/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" data-inline="true" class="btn btn-primary" onclick = "validate_associate(document.getElementById('associate_id').value)" value="Save">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<script>
    document.getElementById("currentdate").valueAsDate = new Date() 
    document.getElementById("associate_master").style.backgroundColor = "#00665C";
    document.getElementById("associate_master").style.fontWeight = "500";
  
</script>

{% endblock %}