{% extends 'menu.html' %} 
<title> {% block head_title %} ADR - Admin {% endblock %} </title>
{% block body %}

<h4>Category Master</h4>
<a data-toggle="modal" data-target="#addcategory" class="btn btn-primary add-btn pull-right">Add</a>
<hr>
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="20%">Category Type</th>
            <th width="70%">Category</th>
            <th width="10%">
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.category_type }}</td>
            <td>{{ category.category }}</td>
            <td>
                <center>
                    <a data-toggle="modal" data-target="#editcategory{{category.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Edit category">&#xE254;</i>
                    </a>
                    <a data-toggle="modal" data-target="#deletecategory{{category.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Delete category">&#xE872;</i>
                    </a>
                </center>

                <div class="modal fade" id="editcategory{{category.id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <form method="POST" action="{% url 'competence:category_update' category.id %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Category</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="category_type">Category Type</label>
                                            <input type="text" name="category_type" value="{{category.category_type}}" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="category">Category</label>
                                            <input type="text" name="category" value="{{ category.category }}" class="form-control" style="width:100%;"
                                                required />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deletecategory{{category.id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" id="modal-delete">
                            <div class="modal-body">
                                <h4 class="modal-title">Confirm Delete ?</h4>
                                <form action="{% url 'competence:category_delete' category.id %}">
                                    <input type="submit" data-inline="true" class="btn btn-danger" value="Delete"> &nbsp; &nbsp;
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="addcategory" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form method="POST" action="{% url 'competence:category_add' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Category</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="category_id">Category Type</label>
                            <input type="text" name="category_type" id="category_type" class="form-control" style="width:100%;" required />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="category">Category </label>
                            <input type="text" name="category" class="form-control" style="width:100%;" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("category_master").style.backgroundColor = "#00665C";
    document.getElementById("category_master").style.fontWeight = "600";
</script> {% endblock %}