{% extends 'menu.html' %} 
<title> {% block head_title %} ADR - Admin {% endblock %} </title>
{% block body %}

<h4>Control Master</h4>
<a data-toggle="modal" data-target="#addcontrol" class="btn btn-primary add-btn pull-right">Add</a>
<hr>
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="15%">Associate </th>
            <th width="15%">Project</th>
            <th width="15%">Manager</th>
            <th width="10%">Authority</th>
            <th width="15%">Menu Name</th>
            <th width="15%">Link Name</th>
            <th width="10%">
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>
        {% for control in controls %}
        <tr>
            <td>{{ control.associate_name }} ({{ control.associate_id }})</td>
            <td>{{ control.project_name }} ({{ control.project_id }})</td>
            <td>{{ control.manager_name }} ({{ control.manager_id }})</td>
            <td>{{ control.authority }}</td>
            <td>{{ control.menu_name }}</td>
            <td>{{ control.link_name }}</td>
            <td>
                <center>
                    <a data-toggle="modal" data-target="#editcontrol{{control.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Edit Control">&#xE254;</i>
                    </a>
                    <a data-toggle="modal" data-target="#deletecontrol{{control.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Delete Control">&#xE872;</i>
                    </a>
                </center>

                <div class="modal fade" id="editcontrol{{control.id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <form method="POST" action="{% url 'competence:control_update' control.id %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Control</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="associate_id">Associate Id</label>
                                            <input type="text" name="associate_id" value="{{control.associate_name}} ({{control.associate_id}})" class="form-control" style="width:100%;" required readonly/>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="project">Project</label>
                                            <input type="text" name="project" value="{{control.project_name}} ({{control.project_id}})" class="form-control"  style="width:100%;" readonly/>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="manager">Manager</label>
                                            <input type="text" name="manager" value="{{control.manager_name}} ({{control.manager_id}})" class="form-control"  style="width:100%;" readonly/>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="authority">Authority</label>
                                                <select name="authority" class="form-control" style="width:100%;" required>
                                                <option selected readonly hidden style='display: none' value=''>Select</option>
                                                {% for authority in authority_levels %}
                                                <option value="{{ authority }}" {% if control.authority == authority %} selected="selected" {% endif %}> {{authority}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="menu_name">Menu Name</label>
                                            <input type="text" name="menu_name" value="{{ control.menu_name }}" class="form-control" style="width:100%;" required />
                                        
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="link_name">Link Name</label>
                                            <input type="text" name="link_name" value="{{ control.link_name }}" class="form-control" style="width:100%;" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deletecontrol{{control.id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" id="modal-delete">
                            <div class="modal-body">
                                <h4 class="modal-title">Confirm Delete ?</h4>
                                <form action="{% url 'competence:control_delete' control.id %}">
                                    <input type="submit" data-inline="true" class="btn btn-danger" value="Delete"> &nbsp;
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="addcontrol" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form method="POST" action="{% url 'competence:control_add' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Control</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="associate_id">Associate Id</label>
                                <select name="associate" class="selectpicker" data-width="100%" data-show-subtext="true" data-live-search="true" data-size="5">
                                    {% for associate in associates %}
                                    <option> {{associate.associate_name}} ({{associate.associate_id}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="authority">Authority</label>
                                    <select name="authority" class="form-control" style="width:100%;" required>
                                    <option selected readonly hidden style='display: none' value=''>Select</option>
                                    {% for authority in authority_levels %}
                                    <option value="{{ authority }}"> {{authority}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="menu_name">Menu Name</label>
                                <input type="text" name="menu_name" class="form-control" style="width:100%;" required />
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="link_name">Link Name</label>
                                <input type="text" name="link_name" class="form-control" style="width:100%;" required />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("control_master").style.backgroundColor = "#00665C";
        document.getElementById("control_master").style.fontWeight = "600";
    </script>
{% endblock %}