{% extends 'menu.html' %} 
<title> {% block head_title %} ADR - Admin {% endblock %} </title>
{% block body %}

<h4>Department Master</h4>
<a data-toggle="modal" data-target="#adddepartment" class="btn btn-primary add-btn pull-right">Add</a>
<hr>
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="10%">Department Id</th>
            <th width="20%">Department Name</th>
            <th width="10%">
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>
        {% for department in departments %}
        <tr>
            <td>{{ department.department_id }}</td>
            <td>{{ department.department_name }}</td>
            <td>
                <center>
                    <a data-toggle="modal" data-target="#editdepartment{{department.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Edit department">&#xE254;</i>
                    </a>
                    <a data-toggle="modal" data-target="#deletedepartment{{department.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Delete department">&#xE872;</i>
                    </a>
                </center>

                <div class="modal fade" id="editdepartment{{department.id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <form method="POST" action="{% url 'competence:department_update' department.id %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Department</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="department_id">Department Id</label>
                                            <input type="text" name="department_id" value="{{department.department_id}}" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="department_name">Department Name</label>
                                            <input type="text" name="department_name" value="{{ department.department_name }}" class="form-control" style="width:100%;"
                                                required />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deletedepartment{{department.id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" id="modal-delete">
                            <div class="modal-body">
                                <h4 class="modal-title">Confirm Delete ?</h4>
                                <form action="{% url 'competence:department_delete' department.id %}">
                                    <input type="submit" data-inline="true" class="btn btn-danger" value="Delete"> &nbsp; &nbsp;
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="adddepartment" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form method="POST" action="{% url 'competence:department_add' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Department</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="department_id">Department Id</label>
                            <input type="text" name="department_id" id="department_id" class="form-control" style="width:100%;" required />
                            <div id="error" style="color:red; margin:2px;"> </div>
                            <script>
                                var ids = [];
                                {% for department in departments %}
                                ids.push('{{ department.department_id }}');
                                {% endfor %}
                                function validateDepartment(department_id) {
                                    var n = "{{departmentcount}}";
                                    for (var i = 0; i < n; i++) {
                                        if (department_id == ids[i]) {
                                            document.getElementById("error").innerHTML = "Department Id already exists!";
                                            break;
                                        }
                                        else {
                                            document.getElementById("error").innerHTML = "";
                                        }
                                    }
                                }
                            </script>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="department_name">Department Name</label>
                            <input type="text" name="department_name" class="form-control" style="width:100%;" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" data-inline="true" class="btn btn-primary" value="Save" onclick = "validateDepartment(document.getElementById('department_id').value)">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("department_master").style.backgroundColor = "#00665C";
    document.getElementById("department_master").style.fontWeight = "600";
</script> {% endblock %}