{% extends 'menu.html' %} 
<title> {% block head_title %} ADR - Admin {% endblock %} </title>
{% block body %}

<h4>Designation Master</h4>
<a data-toggle="modal" data-target="#adddesignation" class="btn btn-primary add-btn pull-right">Add</a>
<hr>
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="10%">Grade</th>
            <th width="20%">Designation</th>
            <th width="10%">
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>
        {% for designation in designations %}
        <tr>
            <td>{{ designation.grade }}</td>
            <td>{{ designation.designation }}</td>
            <td>
                <center>
                    <a data-toggle="modal" data-target="#editdesignation{{designation.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Edit designation">&#xE254;</i>
                    </a>
                    <a data-toggle="modal" data-target="#deletedesignation{{designation.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Delete designation">&#xE872;</i>
                    </a>
                </center>

                <div class="modal fade" id="editdesignation{{designation.id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <form method="POST" action="{% url 'competence:designation_update' designation.id %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Designation</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="designation">Designation</label>
                                            <input type="text" name="designation" value="{{ designation.designation }}" class="form-control" style="width:100%;" readonly />
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="grade">Grade</label>
                                            <input type="text" name="grade" value="{{designation.grade}}" class="form-control" style="width:100%;" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deletedesignation{{designation.id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" id="modal-delete">
                            <div class="modal-body">
                                <h4 class="modal-title">Confirm Delete ?</h4>
                                <form action="{% url 'competence:designation_delete' designation.id %}">
                                    <input type="submit" data-inline="true" class="btn btn-danger" value="Delete"> &nbsp;
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="adddesignation" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form method="POST" action="{% url 'competence:designation_add' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Designation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="designation">Designation</label>
                                <input type="text" name="designation" id="designation" class="form-control" style="width:100%;" required />
                                <div id="error" style="color:red; margin:2px;"> </div>
                                <script>
                                    var ids = [];
                                    {% for designation in designations %}
                                    ids.push('{{ designation.designation }}');
                                    {% endfor %}
                                    function validateDesignation(designation) {
                                        var n = "{{designationcount}}";
                                        for (var i = 0; i < n; i++) {
                                            if (designation == ids[i]) {
                                                document.getElementById("error").innerHTML = "Designation already exists!";
                                                break;
                                            }
                                            else {
                                                document.getElementById("error").innerHTML = "";
                                            }
                                        }
                                    }
                                </script>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="designation">Grade</label>
                                <input type="text" name="grade" class="form-control" style="width:100%;" required />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" data-inline="true" class="btn btn-primary" value="Save" onclick = "validateDesignation(document.getElementById('designation').value)">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("designation_master").style.backgroundColor = "#00665C";
        document.getElementById("designation_master").style.fontWeight = "600";
    </script>
{% endblock %}