{% extends 'menu.html' %} 
<title> {% block head_title %} ADR - Admin {% endblock %} </title>
{% block body %}

<h4>Hierarchy Master</h4>
<a data-toggle="modal" data-target="#addhierarchy" class="btn btn-primary add-btn pull-right">Add</a>
<hr>
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="15%">Associate </th>
            <th width="20%">Project</th>
            <th width="15%">Manager</th>
            <th width="10%">Access Level</th>
            <th width="10%">
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>
        {% for hierarchy in hierarchies %}
        <tr>
            <td>{{ hierarchy.associate_name }} ({{ hierarchy.associate_id }})</td>
            <td>{{ hierarchy.project_name }} - {{ hierarchy.project_id }}</td>
            <td>{{ hierarchy.manager_name }} ({{ hierarchy.manager_id }})</td>
            <td>{{ hierarchy.access_level }}</td>
            <td>
                <center>
                    <a data-toggle="modal" data-target="#edithierarchy{{hierarchy.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Edit Hierarchy">&#xE254;</i>
                    </a>
                    <a data-toggle="modal" data-target="#deletehierarchy{{hierarchy.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Delete Hierarchy">&#xE872;</i>
                    </a>
                </center>

                <div class="modal fade" id="edithierarchy{{hierarchy.id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <form method="POST" action="{% url 'competence:hierarchy_update' hierarchy.id %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Hierarchy</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="associate">Associate</label>
                                            <input type="text" name="associate" value="{{hierarchy.associate_name}} ({{hierarchy.associate_id}})" class="form-control"  style="width:100%;" readonly/>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="project">Project</label>
                                            <input type="text" name="project" value="{{hierarchy.project_name}} ({{hierarchy.project_id}})" class="form-control"  style="width:100%;" readonly/>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="manager">Manager</label>
                                            <input type="text" name="manager" value="{{hierarchy.manager_name}} ({{hierarchy.manager_id}})" class="form-control"  style="width:100%;" readonly/>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="level">Access Level</label>
                                            <select name="access_level" class="form-control"  style="width:100%;" required>
                                                <option selected readonly hidden style='display: none' value=''>Select</option>
                                                {% for access in access_levels %}
                                                <option value="{{ access }}" {% if hierarchy.access_level == access %} selected="selected" {% endif %}> {{access}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deletehierarchy{{hierarchy.id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" id="modal-delete">
                            <div class="modal-body">
                                <h4 class="modal-title">Confirm Delete ?</h4>
                                <form action="{% url 'competence:hierarchy_delete' hierarchy.id %}">
                                    <input type="submit" data-inline="true" class="btn btn-danger" value="Delete"> &nbsp;
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="addhierarchy" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form method="POST" action="{% url 'competence:hierarchy_add' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Hierarchy</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="associate_id">Associate Id</label>
                                <select name="associate" class="selectpicker" data-width="100%" data-show-subtext="true" data-live-search="true" data-size="5">
                                    {% for associate in associates %}
                                    <option> {{associate.associate_name}} ({{associate.associate_id}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="level">Access Level</label>
                                <select name="access_level" class="form-control"  style="width:100%;" required>
                                    <option selected readonly hidden style='display: none' value=''>Select</option>
                                    {% for access_level in access_levels %}
                                    <option value="{{ access_level }}"> {{access_level}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("hierarchy_master").style.backgroundColor = "#00665C";
        document.getElementById("hierarchy_master").style.fontWeight = "600";
    </script>
    
{% endblock %}