{% extends 'menu.html' %} 
<title> {% block head_title %} ADR - Admin {% endblock %} </title>
{% block body %}

<h4>KRA Category Master</h4>

<a data-toggle="modal" data-target="#addcategory" class="btn btn-primary add-btn pull-right">Add</a>
<hr>

<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="15%">Category</th>
            <th width="55%">Description</th>
            <th width="10%">Weightage</th>
            <th width="10%">Target</th>
            <th width="10%">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for master in masterc %}
        <tr>
            <td>{{ master.category }}</td>
            <td>{{ master.description |wordwrap:70|linebreaks}}</td>
            <td>{{ master.weightage }} %</td>
            <td>>= {{ master.target }}</td>
                <td>
                        <a data-toggle="modal" data-target="#addsubcategory{{master.id}}">
                            <i class="material-icons" data-toggle="tooltip" title="Add Sub Category">add</i>
                        </a>
                        <a data-toggle="modal" data-target="#editcategory{{master.id}}">
                            <i class="material-icons" data-toggle="tooltip" title="Edit Category">&#xE254;</i>
                        </a>
                        <a data-toggle="modal" data-target="#deletecategory{{master.id}}">
                            <i class="material-icons" data-toggle="tooltip" title="Delete Category">&#xE872;</i>
                        </a>
                        {% if master.subcategory_count%}
                        <a href="krasubcategory_master/{{ master.category }}">
                            <i class="material-icons" data-toggle="tooltip" title="View Sub Categories">&#xE03B;</i>
                        </a>
                        {% endif %}

                    <div class="modal fade" id="addsubcategory{{master.id}}" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <form method="POST" action="{% url 'competence:krasubcategory_add' master.category %}">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Add Sub-category</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-6 form-group">
                                                    <label for="category">Category</label>
                                                    <input type="text" name="category" class="form-control" value="{{ master.category}}"  readonly/>
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <label for="subcategory">Sub Category </label>
                                                    <input type="text" name="subcategory" class="form-control" value=" "  required/>
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <label for="target">Target</label>
                                                    <input type="number" min="0" max="5" name="target" class="form-control"  required />
                                                </div>
                                                <div class="col-sm-12 form-group">
                                                    <label for="description"> Sub Category Description</label>
                                                    <textarea rows="3" cols="70" name="description" class="form-control" style="width:100%;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    <div class="modal fade" id="editcategory{{master.id}}" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <form method="POST" action="{% url 'competence:kracategory_update' master.id %}">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit Category</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="category">Category</label>
                                                <input type="text" name="category" class="form-control" value="{{ master.category}}" readonly/>
                                            </div>
                                            <div class="col-sm-12 form-group">
                                                <label for="description"> Description</label>
                                                <textarea rows="3" cols="70" name="description" class="form-control" style="width:100%;">{{ master.description }}</textarea>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="weightage">Weightage</label>
                                                <input type="number" min="0" max="100" step="5" name="weightage" class="form-control" value="{{ master.weightage }}" required/>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="target">Target</label>
                                                <input type="number" min="0" max="5" name="target" class="form-control" value="{{ master.target}}" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="deletecategory{{master.id}}" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content" id="modal-delete">
                                <div class="modal-body">
                                    <h4 class="modal-title">Confirm Delete ?</h4>
                                    <form action="{% url 'competence:kracategory_delete' master.id %}">
                                        <input type="submit" data-inline="true" class="btn btn-danger" value="Delete"> &nbsp;
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="addcategory" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form method="POST" action="{% url 'competence:kracategory_add' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Category</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="category">Category</label>
                                <input type="text" name="category" class="form-control" required />
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="description"> Description</label>
                                <textarea rows="3" cols="70" name="description" class="form-control" style="width:100%;"></textarea>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="weightage">Weightage</label>
                                <input type="number" min="0" max="100" step="5" name="weightage" class="form-control" required/>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="target">Target</label>
                                <input type="number" min="0" max="5" name="target" class="form-control" required/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("kracategory_master").style.backgroundColor = "#00665C";
        document.getElementById("kracategory_master").style.fontWeight = "600";
    </script>

{% endblock %}