{% extends 'menu.html' %} 
<title> {% block head_title %} ADR - Admin {% endblock %} </title>
{% block body %}

<h4>Project Master</h4>
<a data-toggle="modal" data-target="#addproject" class="btn btn-primary add-btn pull-right">Add</a>
<hr>

<div class="modal fade" id="addproject" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form method="POST" action="{% url 'competence:project_add' %}" name='addProject' onSubmit="return formValidation();">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="project_id">Project Id</label>
                            <input type="text" name="project_id" class="form-control" required/>
                            <div name="project_id" style="color:red; margin:2px;"> </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="project_name">Project Name</label>
                            <input type="text" name="project_name" class="form-control" required/>
                            <div name="project_name" style="color:red; margin:2px;"> </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="manager">Manager </label>
                            <input list="manager" name="manager" class="form-control" autocomplete="off" >
                            <datalist id="manager">
                                {% for manager in managers %}
                                <option data-value="{{manager.associate_name}} ({{manager.associate_id}})" value="{{manager.associate_name}} ({{manager.associate_id}})"></option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="lead">Team Lead </label>
                            <input list="lead" name="lead" class="form-control" autocomplete="off" >
                            <datalist id="lead">
                                {% for lead in leads %}
                                <option data-value="{{lead.associate_name}} ({{lead.associate_id}})" value="{{lead.associate_name}} ({{lead.associate_id}})"></option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="10%">Project Id</th>
            <th width="15%">Project Name</th>
            <th width="15%">Manager</th>
            <th width="15%">Team Lead</th>
            <th width="10%">
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project.project_id }}</td>
            <td>{{ project.project_name }}</td>
            <td>{{ project.manager_name }} ({{ project.manager_id }})</td>
            <td>{{ project.lead_name }} ({{ project.lead_id }})</td>
            <td>
                <center>
                    <a data-toggle="modal" data-target="#editproject{{project.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Edit Project">&#xE254;</i>
                    </a>
                    <a data-toggle="modal" data-target="#deleteproject{{project.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Delete Project">&#xE872;</i>
                    </a>
                </center>

                <div class="modal fade" id="editproject{{project.id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <form method="POST" action="{% url 'competence:project_update' project.id %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Project</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="project_id">Project Id</label>
                                            <input type="text" name="project_id" value="{{project.project_id}}" class="form-control" readonly />
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="project_name">Project Name</label>
                                            <input type="text" name="project_name" value="{{project.project_name}}" class="form-control" required />
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="manager">Manager </label>
                                            <input list="manager" name="manager" class="form-control" autocomplete="off" value="{{project.manager_name}} ({{project.manager_id}})">
                                            <datalist id="manager">
                                                {% for manager in managers %}
                                                <option data-value="{{manager.associate_name}} ({{manager.associate_id}})" value="{{manager.associate_name}} ({{manager.associate_id}})"></option>
                                                {% endfor %}
                                            </datalist>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="lead"> Team Lead </label>
                                            <input list="lead" name="lead" class="form-control" autocomplete="off" value="{{project.lead_name}} ({{project.lead_id}})">
                                            <datalist id="lead">
                                                {% for lead in leads %}
                                                <option data-value="{{lead.associate_name}} ({{lead.associate_id}})" value="{{lead.associate_name}} ({{lead.associate_id}})"></option>
                                                {% endfor %}
                                            </datalist>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deleteproject{{project.id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" id="modal-delete">
                            <div class="modal-body">
                                <h4 class="modal-title">Confirm Delete ?</h4>
                                <form action="{% url 'competence:project_delete' project.id %}">
                                    <input type="submit" data-inline="true" class="btn btn-danger" value="Delete"> &nbsp;
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.getElementById("project_master").style.backgroundColor = "#00665C";
    document.getElementById("project_master").style.fontWeight = "600";

    function formValidation()
    {
        var project_id = document.addProject.project_id.value;
        var project_name = document.addProject.project_name.value;
        status1 = id_validation(project_id);
        status2 = name_validation(project_name);
        if (status1 && status2) 
            return true;
        else
            return false;
    }     
    
    function id_validation(project_id) {
        var project_ids = [];
        {% for project in projects %}
            project_ids.push('{{ project.project_id }}');
        {% endfor %}

        var n = {{projects.count}};
        for (var i = 0; i < n; i++) {
            if (project_id == project_ids[i]) {
                document.getElementsByName('project_id')[1].innerHTML = "Project ID already exists";
                return false;
                project_name.focus();
                break;
            }
        }
        document.getElementsByName('project_id')[1].innerHTML = " ";
        return true;
    }

    function name_validation(project_name) {
        var project_names = [];
        {% for project in projects %}
            project_names.push('{{ project.project_name }}');
        {% endfor %}

        var n = {{projects.count}};
        for (var i = 0; i < n; i++) {
            if (project_name == project_names[i]) {
                document.getElementsByName('project_name')[1].innerHTML = "Project name already exists";
                return false;
                project_name.focus();
                break;
            }
        }
        document.getElementsByName('project_name')[1].innerHTML = " ";
        return true;
    }

    </script> 
{% endblock %}