{% extends 'menu.html' %} 
<title> {% block head_title %} ADR - Admin {% endblock %} </title>
{% block body %}

<h4>KRA Sub-category Master</h4>

<a data-toggle="modal" data-target="#addsubcategory" class="btn btn-primary add-btn pull-right">Add</a>
<hr>

<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="15%">Category</th>
            <th width="15%">Sub Category</th>
            <th width="50%">Description</th>
            <th width="10%">Target</th>
            <th width="10%">
                <center>Actions</center>
            </th>
        </tr>
    </thead>
    <tbody id="mytable">
        {% for master in mastersubc %}
        <tr>
            <td>{{ master.category }}</td>
            <td>{{ master.subcategory }}</td>
            <td class="ellipsis">{{ master.description }}</td>
            <td>{{ master.target }}</td>
                <td>
                    <center>
                        <a data-toggle="modal" data-target="#edit{{master.id}}">
                            <i class="material-icons" data-toggle="tooltip" title="Edit Subcategory">&#xE254;</i>
                        </a>
                        <a data-toggle="modal" data-target="#delete{{master.id}}">
                            <i class="material-icons" data-toggle="tooltip" title="Delete Subcategory">&#xE872;</i>
                        </a>
                    </center>

                    <!-- Edit a Sub Category -->
                    <div class="modal fade" id="edit{{master.id}}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form method="POST" action="{% url 'competence:subcategory_update' master.id %}">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit Sub Category</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="category">Category</label>
                                                <input type="text" name="category" class="form-control" value="{{ master.category}}" readonly/>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="subcategory">Sub Category</label>
                                                <input type="text" name="subcategory" class="form-control" value="{{ master.subcategory }}" required="required" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 form-group">
                                                <label for="description"> Description</label>
                                                <textarea rows="3" cols="70" name="description" class="form-control" style="width:100%;">{{ master.description }}</textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="target">Target</label>
                                                <input type="number" min="0" max="5" name="target" class="form-control" value="{{ master.target}}" required="required" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Delete a Sub Category -->
                    <div class="modal fade" id="delete{{master.id}}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content" id="modal-delete">
                                <div class="modal-body">
                                    <h4 class="modal-title">Confirm Delete ?</h4>
                                    <form action="{% url 'competence:subcategory_delete' master.id %}">
                                        <input type="submit" data-inline="true" class="btn btn-danger" value="Delete"> &nbsp;
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="addsubcategory" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form method="POST" action="{% url 'competence:subcategory_add' master.category %}">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Add Sub-category</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="category">Category</label>
                                                <input type="text" name="category" class="form-control" value="{{ master.category}}" style="width:100%;" readonly/>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="subcategory">Sub Category </label>
                                                <input type="text" name="subcategory" class="form-control" value=" " style="width:100%;" required/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="target">Target</label>
                                                <input type="number" min="0" max="5" name="target" class="form-control" style="width:100%;" required />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 form-group">
                                                <label for="description"> Sub Category Description</label>
                                                <textarea rows="3" cols="70" name="description" class="form-control" style="width:100%;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.getElementById("subcategory_master").style.backgroundColor = "#00665C";
    document.getElementById("subcategory_master").style.fontWeight = "600";
</script>


 {% endblock %}