       
{% extends 'menu.html' %} {% block body %}

<style>
    .no_pending {
        top: -17px;
        color: green;
        float: right;
    }

    .pending {
        top: -17px;
        color: orangered;
        float: right;
    }

</style>

<h4 data-toggle="dropdown"> {{ associate_name }} &nbsp; - &nbsp; {{ selected_category }} &nbsp; ({{ selected_cycle }}) </h4>
<a data-toggle="modal" data-target="#copyCompetence" class="btn btn-primary add-btn pull-right">Copy Competencies</a>
<hr>

<!-- Page Content Holder -->
{% if cycles %}
<div class="row col-md-10">
    {% block competency %} {% endblock %}
</div>
{% else%}
<div class="row col-md-10" style="font-size: 16px; font-weight: 600"> 
    * Please select from the above dropdowns
</div>
{% endif %}

<!-- Filter - START -->
<div class="col-md-2 filter">
    <h4 class="filter_header">FILTER</h4>
    <div class="form-group">
        <label> Associate </label>
        <select class="selectpicker search_dropdown" data-width="100%" data-show-subtext="true" data-live-search="true" data-size="6" onchange="location = this.value;">
        {% for associate in associates %}
        {% if selected_category == 'Learning Skills' %}
        <option value="{% url 'competence:manager_learning' associate.associate_id selected_cycle %}"
        {% elif selected_category == 'Sharing Skills' %}
        <option value="{% url 'competence:manager_sharing' associate.associate_id selected_cycle %}"
        {% elif selected_category == 'Technical & Managerial' %}
        <option value="{% url 'competence:manager_technical_managerial' associate.associate_id selected_cycle %}"
        {% elif selected_category == 'Workplace Behaviour' %}
        <option value="{% url 'competence:manager_workplace_behaviour' associate.associate_id selected_cycle %}"
        {% elif selected_category == 'Organization Development' %}
        <option value="{% url 'competence:manager_organization_development' associate.associate_id selected_cycle %}"
        {% elif selected_category == 'Awards' %}
        <option value="{% url 'competence:manager_awards' associate.associate_id selected_cycle %}"
        {% elif selected_category == 'Appreciations' %}
        <option value="{% url 'competence:manager_appreciations' associate.associate_id selected_cycle %}"
        {% elif selected_category == 'Improvement Areas' %}
        <option value="{% url 'competence:manager_feedback' associate.associate_id selected_cycle %}"
        {% endif %}
        {% if associate_id == associate.associate_id %} selected="selected" {% endif %} 
        data-subtext="- {{associate.associate_id}}"> {{associate.associate_name}}</option> 
        {% endfor %}
        </select>
    </div><hr>

    <div class="form-group">
        <label> Category </label>
        <ul class="list-unstyled" id="changelist-filter">
            <li {% if selected_category == 'Learning Skills' %} class="selected" {% endif %}>
                <a href="{% url 'competence:manager_learning' associate_id selected_cycle %}">Learning Skills</a>
                {% if pendingList.0.learning == 0 %}
                <span class="glyphicon glyphicon-ok no_pending"></span>
                {% else %}
                <span class="glyphicon glyphicon-warning-sign pending"></span>
                {% endif %}
            </li>
            <li {% if selected_category == 'Sharing Skills' %} class="selected" {% endif %}>
                <a href="{% url 'competence:manager_sharing' associate_id selected_cycle %}">Sharing Skills</a>
                {% if pendingList.0.sharing == 0 %}
                <span class="glyphicon glyphicon-ok no_pending"></span>
                {% else %}
                <span class="glyphicon glyphicon-warning-sign pending"></span>
                {% endif %}
            </li>
            <li {% if selected_category == 'Awards' %} class="selected" {% endif %}>
                <a href="{% url 'competence:manager_awards' associate_id selected_cycle %}">Awards</a>
                {% if pendingList.0.awards == 0 %}
                <span class="glyphicon glyphicon-ok no_pending"></span>
                {% else %}
                <span class="glyphicon glyphicon-warning-sign pending"></span>
                {% endif %}
            </li>
            <li {% if selected_category == 'Appreciations' %} class="selected" {% endif %}>
                <a href="{% url 'competence:manager_appreciations' associate_id selected_cycle %}">Appreciations</a>
                {% if pendingList.0.appreciations == 0 %}
                <span class="glyphicon glyphicon-ok no_pending"></span>
                {% else %}
                <span class="glyphicon glyphicon-warning-sign pending"></span>
                {% endif %}
            </li>
            <li {% if selected_category == 'Improvement Areas' %} class="selected" {% endif %}>
                <a href="{% url 'competence:manager_feedback' associate_id selected_cycle %}">Improvement Areas</a>
                {% if pendingList.0.feedback == 0 %}
                <span class="glyphicon glyphicon-ok no_pending"></span>
                {% else %}
                <span class="glyphicon glyphicon-warning-sign pending"></span>
                {% endif %}
            </li>
            <li {% if selected_category == 'Technical & Managerial' %} class="selected" {% endif %}>   
                <a href="{% url 'competence:manager_technical_managerial' associate_id selected_cycle %}">Technical & Managerial</a>
            </li>
            <li {% if selected_category == 'Workplace Behaviour' %} class="selected" {% endif %}>
                <a href="{% url 'competence:manager_workplace_behaviour' associate_id selected_cycle %}">Workplace Behaviour</a>
            </li>
            <li {% if selected_category == 'Organization Development' %} class="selected" {% endif %}>
                <a href="{% url 'competence:manager_organization_development' associate_id selected_cycle %}">Organization Development</a>
            </li>
        </ul>
    </div><hr>

    <div class="form-group">
        <label> Financial Cycle </label>
        <ul class="list-unstyled" id="changelist-filter">
            <li>
            {% for cycle in cycles %}
            <li {% if selected_cycle == cycle %} class="selected" {% endif %}>
                {% if selected_category == 'Learning Skills' %}
                <a href="{% url 'competence:manager_learning' associate_id cycle %}">{{cycle}}</a>
                {% elif selected_category == 'Sharing Skills' %}
                <a href="{% url 'competence:manager_sharing' associate_id cycle %}">{{cycle}}</a>
                {% elif selected_category == 'Awards' %}
                <a href="{% url 'competence:manager_awards' associate_id cycle %}">{{cycle}}</a>
                {% elif selected_category == 'Appreciations'  %}
                <a href="{% url 'competence:manager_appreciations' associate_id cycle %}">{{cycle}}</a>
                {% elif selected_category == 'Improvement Areas' %}
                <a href="{% url 'competence:manager_feedback' associate_id cycle %}">{{cycle}}</a>
                {% elif selected_category == 'Technical & Managerial' %}
                <a href="{% url 'competence:manager_technical_managerial' associate_id cycle %}">{{cycle}}</a>
                {% elif selected_category == 'Workplace Behaviour' %}
                <a href="{% url 'competence:manager_workplace_behaviour' associate_id cycle %}">{{cycle}}</a>
                {% elif selected_category == 'Organization Development' %}
                <a href="{% url 'competence:manager_organization_development' associate_id cycle %}">{{cycle}}</a>
                {% endif %}
            </li>
            {% endfor %}
            </li>
        </ul>
    </div>
</div>
<!-- Filter - END -->

<!-- Copy Competence Popup - START -->
<div class="modal fade" id="copyCompetence" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="{% url 'competence:copy_competencies' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Copy Competencies</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="selected_start">Effective Start Month</label>
                            <input type="date" name="selected_start" class="form-control" style="width:100%;" required />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="selected_end">Effective End Month</label>
                            <input type="date" name="selected_end" class="form-control" style="width:100%;" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" data-inline="true" class="btn btn-primary" value="Submit">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Copy Competence Popup - END -->

<script>
    document.getElementById("associates_competence").style.backgroundColor = "#00665C";
    document.getElementById("associates_competence").style.fontWeight = "600";
</script>     
    
{% endblock %}