       
{% extends 'menu.html' %} {% block body %}

<h4 data-toggle="dropdown"> Associates' Competence </h4>
<a data-toggle="modal" data-target="#copyCompetence" class="btn btn-primary add-btn pull-right">Copy Competencies</a>
<hr>

<div class="col-md-2 form-group" style="margin-bottom: 25px;">
    <label> Competence Category </label>
    <select class="selectpicker search_dropdown" data-width="100%" data-size="6" onchange="location = this.value;">
        <option value="{% url 'competence:manager_learning' associate_id selected_cycle %}" 
        {% if competency_category == 'Learning Skills' %} selected="selected" {% endif %}> Learning Skills</a>
        </option>
        <option value="{% url 'competence:manager_sharing' associate_id selected_cycle %}"
        {% if competency_category == 'Sharing Skills' %} selected="selected" {% endif %}> Sharing Skills</a>
        </option>
        <option value="{% url 'competence:manager_technical_managerial' associate_id selected_cycle %}"
        {% if competency_category == 'Technical & Managerial' %} selected="selected" {% endif %}> Technical & Managerial</a>
        </option>
        <option value="{% url 'competence:manager_workplace_behaviour' associate_id selected_cycle %}"
        {% if competency_category == 'Workplace Behaviour' %} selected="selected" {% endif %}> Workplace Behaviour</a>
        </option>
        <option value="{% url 'competence:manager_organization_development' associate_id  selected_cycle %}"
        {% if competency_category == 'Organization Development' %} selected="selected" {% endif %}> Organization Development</a>
        </option>
    </select>
</div>

<div class="col-md-2 form-group">
    <label> Associate </label>
    <select class="selectpicker search_dropdown" data-width="100%" data-show-subtext="true" data-live-search="true" data-size="6" onchange="location = this.value;">
    {% for associate in associates %}
        {% if competency_category == 'Learning Skills' %}
        <option value="{% url 'competence:manager_learning' associate.associate_id selected_cycle %}"
        {% elif competency_category == 'Sharing Skills' %}
        <option value="{% url 'competence:manager_sharing' associate.associate_id selected_cycle %}"
        {% elif competency_category == 'Technical & Managerial' %}
        <option value="{% url 'competence:manager_technical_managerial' associate.associate_id selected_cycle %}"
        {% elif competency_category == 'Workplace Behaviour' %}
        <option value="{% url 'competence:manager_workplace_behaviour' associate.associate_id selected_cycle %}"
        {% elif competency_category == 'Organization Development' %}
        <option value="{% url 'competence:manager_organization_development' associate.associate_id selected_cycle %}"
        {% endif %}
        {% if associate_id == associate.associate_id %} selected="selected" {% endif %} 
        data-subtext="- {{associate.associate_id}}"> {{associate.associate_name}}</option>  
    {% endfor %}
    </select>
</div>

<div class="col-md-2 form-group">
    <label> Performance Cycle </label>
    <select class="selectpicker search_dropdown" data-width="100%" data-size="6" onchange="location = this.value;">
    {% for cycle in cycles %}
        {% if competency_category == 'Learning Skills' %}
        <option value="{% url 'competence:manager_learning' associate_id cycle %}"
        {% elif competency_category == 'Sharing Skills' %}
        <option value="{% url 'competence:manager_sharing' associate_id cycle %}"
        {% elif competency_category == 'Technical & Managerial' %}
        <option value="{% url 'competence:manager_technical_managerial' associate_id cycle %}"
        {% elif competency_category == 'Workplace Behaviour' %}
        <option value="{% url 'competence:manager_workplace_behaviour' associate_id cycle %}"
        {% elif competency_category == 'Organization Development' %}
        <option value="{% url 'competence:manager_organization_development' associate_id cycle %}"
        {% endif %} 
        {% if selected_cycle == cycle %} selected="selected" {% endif %}> {{cycle}} </option>
    {% endfor %}
    </select>
</div>

<!-- Page Content Holder -->
{% if cycles %}
    {% block competency %} {% endblock %}
{% else%}
    <div class="col-md-12" style="font-size: 16px; font-weight: 600"> * Please select from the above dropdowns</div>
{% endif %}

<div class="modal fade" id="copyCompetence" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="{% url 'competence:copy_competencies' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Copy Competencies</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="selected_start">Effective Start Month</label>
                            <input type="date" name="selected_start" class="form-control" style="width:100%;" required />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="selected_end">Effective End Month</label>
                            <input type="date" name="selected_end" class="form-control" style="width:100%;" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" data-inline="true" class="btn btn-primary" value="Submit">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("associates_competence").style.backgroundColor = "#00665C";
    document.getElementById("associates_competence").style.fontWeight = "600";
</script>     
    
{% endblock %}