{% extends 'menu.html' %} 
<title> {% block head_title %} Final Ratings {% endblock %} </title>
{% block body %}

<style>

    table {
        font-family: "Segoe UI", Arial, sans-serif;
        border: none !important;
        box-shadow: 1px 1px 1px 1px #CECECE;
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        font-weight: 600;
        border-bottom-color: transparent;
    }

    .word_wrap {
        margin-top: 0px;
    }

    p {
        margin: none;
    }

    .btn {
        margin-top: 0.1em;
    }
    
    .pending {
        font-weight: 700;
        color: red;
    }

    .done {
        font-weight: 700;
        color: green;  
    }

    .pending_text {
        color: orangered; 
        float: left;
        font-weight: 600;
        margin-top: 6px;
        font-size: 14px;
    }

    .isDisabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
    }
</style>

<body>

<h4>Final Ratings</h4>
<div class="dropdown pull-right">
    <select class="selectpicker search_dropdown" data-width="fit" data-size="6" onchange="location = this.value;">
        {% for cycle in financial_cycles %}
        <option value="{% url 'competence:final_rating' cycle 'cycle1' %}" 
        {% if selected_cycle == cycle %} selected="selected" {% endif %}> {{cycle}} </option>
        {% endfor %}
    </select>
</div>
<hr>

  <div class="bs-example">
    <ul class="nav nav-tabs" id="myTab">
        {% if cycle > 0 %}
        <li {% if performance_cycle == 'cycle1' %} class="active" {% endif %}>
        <a href="{% url 'competence:final_rating' selected_cycle 'cycle1' %}"> Cycle 1 (April to July) </a>
        </li>
        {% endif %}
        {% if cycle > 1 %}
        <li {% if performance_cycle == 'cycle2' %} class="active" {% endif %}>
            <a href="{% url 'competence:final_rating' selected_cycle 'cycle2' %}"> Cycle 2 (August to November) </a>
        </li>
        {% endif %}
        {% if cycle > 2 %}
        <li {% if performance_cycle == 'cycle3' %} class="active" {% endif %}>
            <a href="{% url 'competence:final_rating' selected_cycle 'cycle3' %}"> Cycle 3 (December to March)</a>
        </li>
        {% endif %}
        {% if cycle > 2 %}
        <li {% if performance_cycle == 'annual' %} class="active" {% endif %}>
            <a href="{% url 'competence:final_rating' selected_cycle 'annual' %}"> Annual Rating (April to March)</a>
        </li>
        {% endif %}
    </ul>
    
    <div class="tab-content">
      <div id="cycle1" class="tab-pane fade in active ">
            <table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
                <thead>
                    <tr>
                        <th>Associate</th>
                        <th>Project</th>
                        <th>Learning <br> Skills</th>
                        <th>Sharing <br> Skills </th>
                        <th>Awards <br> Received </th>
                        <th>Appreciations <br> Received </th>
                        <th>Improvement <br> Areas </th>
                        <!-- Display only for Annual Cycle -->
                        {% if performance_cycle == 'annual' %}
                        <th>Technical <br> Managerial</th>
                        <th>Workplace <br> Behaviour </th>
                        <th>Organizational <br> Development</th>
                        <th>Annual <br> Rating</th>
                        <!-- Display only for Performance Cycles -->
                        {% else %}
                        <th>KRA <br> Rating</th>
                        <th>Performance <br> Rating</th>
                        {% endif %}
                        <th>
                            <center>Actions</th>
                        </center>
                    </tr>
                </thead>
                <tbody>
                    {% for rating in ratingList %} 
                    <tr>
                        <td>{{ rating.associate_name }} ({{ rating.associate_id }})</td>
                        <td>{{ rating.project_name }}</td>
                        <td>
                            {% if rating.learning_pending > 0 %}
                            <a href="{% url 'competence:manager_learning' rating.associate_id ' ' %}" class="pending"> Pending ({{ rating.learning_pending }}) </a>
                            {% else %}
                            <div class="done"> {{ rating.learning_count }} </div> {% endif %}
                        </td>
                        <td>
                            {% if rating.sharing_pending > 0 %}
                            <a href="{% url 'competence:manager_sharing' rating.associate_id ' ' %}" class="pending">Pending ({{ rating.sharing_pending }}) </a>
                            {% else %}
                            <div class="done"> {{ rating.sharing_count }} </div> {% endif %}
                        </td>
                        <td>
                            {% if rating.awards_pending > 0 %}
                            <a href="{% url 'competence:manager_awards' rating.associate_id ' ' %}" class="pending">Pending ({{ rating.awards_pending }}) </a>
                            {% else %}
                            <div class="done"> {{ rating.awards_count }} </div> {% endif %}
                        </td>
                        <td>
                            {% if rating.appreciations_pending > 0 %}
                            <a href="{% url 'competence:manager_appreciations' rating.associate_id ' ' %}" class="pending">Pending ({{ rating.appreciations_pending }}) </a>
                            {% else %}
                            <div class="done"> {{ rating.appreciations_count }} </div> {% endif %}
                        </td>
                        <td>
                            {% if rating.feedbacks_pending > 0 %}
                            <a href="{% url 'competence:manager_feedback' rating.associate_id ' ' %}" class="pending">Pending ({{ rating.feedbacks_pending }}) </a>
                            {% else %}
                            <div class="done"> {{ rating.feedbacks_count }} </div> {% endif %}
                        </td>
                        <!-- Display only for Annual Cycle -->
                        {% if performance_cycle == 'annual' %}
                        <td>
                            {% if rating.technical_managerial == 'Pending' %}
                            <a href="{% url 'competence:manager_technical_managerial' rating.associate_id ' ' %}" class="pending"> {{ rating.technical_managerial }} </a>
                            {% else %}
                            <div class="done"> {{ rating.technical_managerial }} </div> {% endif %}
                        </td>
                        <td>
                            {% if rating.workplace_behaviour == 'Pending' or rating.workplace_behaviour == None %}
                            <a href="{% url 'competence:manager_workplace_behaviour' rating.associate_id ' ' %}" class="pending"> Pending </a>
                            {% else %}
                            <div class="done"> {{ rating.workplace_behaviour }} </div> {% endif %}
                        </td>
                        <td>
                            {% if rating.org_development == 'Pending' or rating.org_development == None %}
                            <a href="{% url 'competence:manager_organization_development' rating.associate_id ' ' %}" class="pending"> Pending </a>
                            {% else %}
                            <div class="done"> {{ rating.org_development }} </div> {% endif %}
                        </td>
                        <td>
                            {% if rating.annual_rating == 'Pending' or rating.annual_rating == None %}
                            <a data-toggle="modal" data-target="#finalrating{{rating.associate_id}}" class="pending"> Pending </a>
                            {% else %}
                            <div class="done"> {{ rating.annual_rating }} </div> {% endif %}
                        </td>

                        <!-- Display only for Performance Cycles -->
                        {% else %} 
                        <td>
                            {% if rating.kra_rating == 'Pending' or rating.kra_rating == None %}
                            <a href="{% url 'competence:manager_kras' rating.associate_id ' ' %}" class="pending"> Pending </a>
                            {% else %}
                            <div class="done"> {{ rating.kra_rating }} </div> {% endif %}
                        </td>
                        <td>
                            {% if rating.overall_rating == 'Pending' or rating.overall_rating == None %}
                            <a data-toggle="modal" data-target="#finalrating{{rating.associate_id}}" class="pending"> Pending </a>
                            {% else %}
                            <div class="done"> {{ rating.overall_rating }} </div> {% endif %}
                        </td>
                        {% endif %}

                        <td>
                            <center>
                                {% if rating.pending_flag != 'Y' %}
                                <a data-toggle="modal" data-target="#finalrating{{rating.associate_id}}">
                                    <i class="material-icons" data-toggle="tooltip" title="Final Rating">&#xE254;</i>
                                </a>
                                {% else %}
                                <a class="isDisabled" data-toggle="modal" data-target="#">
                                    <i class="material-icons" data-toggle="tooltip" title="Pending Approval">&#xE254;</i>
                                </a>
                                {% endif %}
                            </center>
            
                            <div class="modal fade" id="finalrating{{rating.associate_id}}" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <form method="POST" action="{% url 'competence:final_rating_update' rating.associate_id %}">
                                            {% csrf_token %}                    
                                            <input name="selected_cycle" type="hidden" value="{{selected_cycle}}">
                                            <input name="performance_cycle" type="hidden" value="{{performance_cycle}}">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">
                                                    {% if performance_cycle == 'annual' %} Annual Rating
                                                    {% elif performance_cycle == 'cycle1' %} Performance Cycle1 - Final Rating
                                                    {% elif performance_cycle == 'cycle2' %} Performance Cycle2 - Final Rating
                                                    {% elif performance_cycle == 'cycle3' %} Performance Cycle3 - Final Rating
                                                    {% endif %}
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-sm-4 form-group">
                                                        <label for="associate_id">Associate </label>
                                                        <input type="text" name="associate_id" value="{{ rating.associate_name }} ({{ rating.associate_id }})" class="form-control" style="width:100%;" readonly />
                                                    </div>
                                                    <div class="col-sm-4 form-group">
                                                        <label for="learning_count">Learning Skills</label>
                                                        <input type="text" name="learning_count" value="{{ rating.learning_count }}" class="form-control" style="width:100%;" readonly />
                                                    </div>
                                                    <div class="col-sm-4 form-group">
                                                        <label for="sharing_count">Sharing Skills</label>
                                                        <input type="text" name="sharing_count" value="{{ rating.sharing_count }}" class="form-control" style="width:100%;" readonly />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4 form-group">
                                                        <label for="awards_count">Awards Received</label>
                                                        <input type="text" name="awards_count" value="{{ rating.awards_count }}" class="form-control" style="width:100%;" readonly />
                                                    </div>
                                                    <div class="col-sm-4 form-group">
                                                        <label for="appreciations_count">Appreciations Received</label>
                                                        <input type="text" name="appreciations_count" value="{{ rating.appreciations_count }}" class="form-control" style="width:100%;" readonly />
                                                    </div>
                                                    <div class="col-sm-4 form-group">
                                                        <label for="feedbacks_count">Improvement Areas</label>
                                                        <input type="text" name="feedbacks_count" value="{{ rating.feedbacks_count }}" class="form-control" style="width:100%;" readonly />
                                                    </div>
                                                </div>

                                                <!-- Display only for Annual Cycle -->
                                                {% if performance_cycle == 'annual' %}
                                                <div class="row"> 
                                                    <div class="col-sm-4 form-group">
                                                        <label for="kra_rating_cycle1"> KRA Rating - Cycle1</label>
                                                        <input type="text" name="kra_rating_cycle1" value="{{ rating.kra_rating_cycle1 }}" class="form-control" style="width:100%;" readonly />
                                                    </div> 
                                                    <div class="col-sm-4 form-group">
                                                        <label for="kra_rating_cycle2"> KRA Rating - Cycle2</label>
                                                        <input type="text" name="kra_rating_cycle2" value="{{ rating.kra_rating_cycle2 }}" class="form-control" style="width:100%;" readonly />
                                                    </div> 
                                                    <div class="col-sm-4 form-group">
                                                        <label for="kra_rating_cycle3"> KRA Rating - Cycle3</label>
                                                        <input type="text" name="kra_rating_cycle3" value="{{ rating.kra_rating_cycle3 }}" class="form-control" style="width:100%;" readonly />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4 form-group">
                                                        <label for="rating_cycle1">Performance Rating - Cycle1</label>
                                                        <input type="text" name="rating_cycle1" value="{{ rating.rating_cycle1 }}" class="form-control" style="width:100%;" readonly />
                                                    </div>
                                                    <div class="col-sm-4 form-group">
                                                        <label for="rating_cycle2">Performance Rating - Cycle2</label>
                                                        <input type="text" name="rating_cycle2" value="{{ rating.rating_cycle2 }}" class="form-control" style="width:100%;" readonly />
                                                    </div>
                                                    <div class="col-sm-4 form-group">
                                                        <label for="rating_cycle3">Performance Rating - Cycle3</label>
                                                        <input type="text" name="rating_cycle3" value="{{ rating.rating_cycle3 }}" class="form-control" style="width:100%;" readonly />
                                                    </div>
                                                </div>
                                                {% endif  %}

                                                <div class="row">
                                                    {% if performance_cycle != 'annual' %}
                                                    <div class="col-sm-4 form-group">
                                                        <label for="kra_rating">Key Result Areas Rating</label>
                                                        <input type="text" name="kra_rating" value="{{ rating.kra_rating }}" class="form-control" style="width:100%;" readonly />
                                                    </div>
                                                    {% endif %}
                                                    <div class="col-sm-4 form-group">
                                                        <label for="overall_rating">Final Rating</label>
                                                        {% if rating.overall_rating == 'Pending' or rating.overall_rating == None %}
                                                        <select name="overall_rating" class="selectpicker" data-width="100%" data-show-subtext="true" data-size="5">
                                                            <option data-subtext="(Excellent)">A</option>
                                                            <option data-subtext="(Superior)">B</option>
                                                            <option data-subtext="(Competent)">C</option>
                                                            <option data-subtext="(Moderate)">D</option>
                                                            <option data-subtext="(Low)">E</option>
                                                        </select>
                                                        {% else %}
                                                        <input type="text" name="overall_rating" value="{{ rating.overall_rating }}" class="form-control" style="width:100%;" readonly />
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 form-group" style="width:100%;">
                                                        <label for="remarks">Remarks</label>
                                                        <textarea name="remarks" class="form-control" rows="3" style="width:100%;" 
                                                        {% if rating.overall_rating == 'Pending' or rating.overall_rating == None %} required {% else %} readonly {% endif %} />
                                                        {{ rating.remarks }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                {% if rating.pending_flag == 'Y' %}
                                                <div class="pending_text">* Please approve all the pending items to give the Final Rating</div>
                                                {% elif rating.overall_rating == 'Pending' or rating.overall_rating == None %} 
                                                <input type="submit" data-inline="true" class="btn btn-primary" value="Save">
                                                {% endif %}
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>           
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>   
      </div>
    </div>
  </div>

      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
      <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
      <script type="text/javascript">

        $(document).ready(function () {
          $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
          });
          var activeTab = localStorage.getItem('activeTab');
          if (activeTab) {
            $('#myTab a[href="' + activeTab + '"]').tab('show');
          }
        });

        document.getElementById("final_rating").style.backgroundColor = "#00665C";
        document.getElementById("final_rating").style.fontWeight = "600";
        
      </script>

{% endblock %}