{% extends 'menu.html' %} 
<title> {% block head_title %} ADR - Jira {% endblock %} </title>
{% block body %} 

<h4>Extract data from Jira</h4>
<a data-toggle="modal" data-target="#extractjira" class="btn btn-primary add-btn pull-right">Extract</a>
<hr>

<input id="selected_jiraid" type="hidden" value="{{ jira_id }}" />

<table id="jiratable" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th>Project</th>
            <th>Period</th>
            <!-- <th>Assignee </th> -->
            <th>Jira Id</th>
            <th>Story Points</th>
            <th>Total Tasks</th>
            <th>On-time Delivery </th>
            <th>Defects</th>
            <th>First Time Correct</th>
            <th>Competence <br> Rating</th>
        </tr>
    </thead>
    <tbody id="mytable">
        {% for competency in competencies %}
        <tr>
            <td>{{ competency.project_id }}</td>
            <td>{{ competency.month }} - {{ competency.year }}</td>
            <!-- <td>{{ competency.associate_name }} ({{ competency.associate_id }})</td> -->
            <td>{{ competency.jira_id }}</td>
            <td>{{ competency.story_points }}</td>
            <td>{{ competency.total_tasks }}</td>
            <td>{{ competency.ontime_delivery }} %</td>
            <td>{{ competency.defects }}</td>
            <td>{{ competency.firsttime_correct }} %</td>
            <td>{{ competency.technical_competence_rating }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="extractjira" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form method="POST" action="{% url 'competence:get_Data_From_Jira'%}" id="get_data">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enter Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="email_address">Email Id</label>
                            <input type="text" name="email_address" value="{{ login.email_address }}" class="form-control" style="width:100%;" required />
                          </div>
                          <div class="col-sm-6 form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" style="width:100%;" required />
                          </div>
                        <div class="col-sm-6 form-group">
                            <label for="selectedProject">Project Name</label>
                            <select name="selectedProject"  style="width:100%;" required class="form-control" onchange="getproject_key(this.options[this.selectedIndex].getAttribute('data-ProjectKey'))">
                                <option selected readonly hidden style='display: none' value=''>Select</option>
                                {% for project in projects %}
                                <option data-ProjectKey="{{project.project_id}}">{{ project.project_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <script>
                            function getproject_key(a) {
                                document.getElementById("project.project_id").value = a;
                            }
                        </script>
                        <div class="col-sm-6 form-group">
                            <label for="selectedProjectKey">Project Id</label>
                            <input type="text" name="selectedProjectKey" id="project.project_id"  style="width:100%;" class="form-control" readonly/>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="selectedMonth">Select Month</label>
                            <select name="selectedMonth" class="form-control"  style="width:100%;" required>
                                <option selected readonly hidden style='display: none' value=''>Select</option>
                                {% for month in last12months %}
                                <option value="{{ month }}"> {{ month }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6 form-group"></div>
                        {% if error != 'null' %}
                        <div class="col-sm-12 form-group">
                        <p class="form_error">{{error}}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" data-inline="true" class="btn btn-primary" value="Submit">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(window).on('load',function(){
        {% if error != 'null' %}
        $('#extractjira').modal('show');
        {% endif %}
    });

    $(document).ready(function () {
        $('#jiratable').DataTable({
        "aLengthMenu": [[15, 25, 50, 75, -1], [15, 25, 50, 75, "All"]],
        "iDisplayLength": 15,
        "pagingType": "full_numbers",
        "oSearch": { "sSearch": $('#selected_jiraid').val() }
        });
    });

    document.getElementById("jira").style.backgroundColor = "#00665C";
    document.getElementById("jira").style.fontWeight = "600";
</script>

{% endblock %}