
{% extends 'manager/associates_competence.html'%} {% block competency %}
<input name="competency_category" type="hidden" value="Workplace Behaviour">

{% if categories %} 
{% for category in categories|slice:"1" %}
<form method="POST" action="{% url 'competence:manager_workplace_behaviour_update' category.associate_id category.effective_end %}">
    {% csrf_token %}
    <div class="col-sm-2 form-group">
        <label for="status">Status</label>
        <div class="category_status"
        {% if category.status == 'Open' %} style="background: #5A90CE">
        {% elif category.status == 'Pending Approval' %} style="background: orange">
        {% elif category.status == 'Close' %} style="background: green">
        {% endif %} {{ category.status }}
        </div>   
    </div>
    {% if category.status != 'Open' %}
      <div class="col-sm-2 form-group pull-right">
        <label for="avg_rating" style="color:red">Final Rating</label>
        <input style="color:red; font-weight:bold" type="number" min="0" max="5" step=".25" 
          id="avg_rating" name="avg_rating" value="{{ avg_rating }}" class="form-control" style="width:100%;"
          {% if category.status == 'Close' %} readonly {% else %} required {% endif %} />
      </div>
    {% endif %}
    <input name="selected_cycle" type="hidden" value="{{selected_cycle}}">

  <table id="form_table" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
      <thead>
          <tr>
              <th>Organization Value</th>
              <th>Associate Comments</th>
              <th>Manager Feedback</th>
              <th><center>Behaviour Rating</center></th>
          </tr>
      </thead>
      <tbody>
          {% for category in categories %}
          <tr>
            <td>{{ category.category|wordwrap:40|linebreaks }} </td>
            <td>{% if category.status != "Open" %} {{ category.associate_comments|wordwrap:70|linebreaks }} {% endif %}</td>
            <td>
                {% if category.status == "Pending Approval" %}
                <textarea rows="2" name="{{ category.category }}_manager_feedback" class="form-control" style="width:100%;" 
                 required >{{ category.manager_feedback }}</textarea>
                {% else %}
                {{ category.manager_feedback|wordwrap:70|linebreaks }} 
                {% endif %}
            </td>
            <td>
              <center>
                {% if category.status == "Pending Approval" %}
                <input type="number" min="0" max="5" name="{{ category.category }}_manager_rating" value="{{ category.manager_rating }}"
                  class="form-control avgrating" style="width:100%;" {% if category.status == "Pending Approval" %} required onchange="get_Avg_Rating()"
                  {% else %} readonly {% endif %} /> {% else %} {{ category.manager_rating }} {% endif %}
              </center>
            </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

  <div class="modal-footer">
    {% if category.status == "Pending Approval" %}
    <input type="submit" data-inline="true" class="btn btn-primary" value="Save as Draft" onclick="button('Pending Approval')">
    <input type="submit" data-inline="true" class="btn btn-success pull-left" value="Approve" onclick="button('Close')">
    <input type="hidden" id="hidden" name="status"> {% endif %} &nbsp;
  </div>
</form>

{% endfor %} {% else %}
<div id="nodata" style="margin-top: 25%"> No data found</div>
{% endif %}

<script>
  document.getElementById("associates_competence").style.backgroundColor = "#00665C";
  document.getElementById("associates_competence").style.fontWeight = "600";

  function button(status) {
    document.getElementById("hidden").value = status;
  }

  function get_Avg_Rating() {
    var inputs = $(".avgrating");
    var sum = 0.0
    for (var i = 0; i < inputs.length; i++) {
      sum += parseInt($(inputs[i]).val());
    }
    var avg = sum/inputs.length
    avg = (Math.round(avg * 4) / 4).toFixed(2);
    document.getElementById("avg_rating").value = avg;
  }

</script> 

{% endblock %}