       
{% extends 'manager/associates_competence.html' %} {% block competency %} 

{% if learning_skills %}
{% for learning in learning_skills|slice:"1" %}
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th>Skill Title</th>
            <th>Course Title</th>
            <th>Duration</th>
            <th>Applied?</th>
            <th>Proficiency</th>
            <th>Date</th>
            <th>Status</th>
            <th>CDP</th>
            <th>
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>
        {% for learning in learning_skills %}
        <tr>
            <td>{{ learning.skill_title }}</td>
            <td>{{ learning.course_title }}</td>
            <td>{{ learning.skill_duration_hours }} hrs</td>
            <td>{{ learning.skills_applied_flag }}</td>
            <td>{{ learning.proficiency_level }}</td>
            <td>{{ learning.created_date|date:"M d, Y" }}</td>
            <td style="font-weight: 600; 
                {% if learning.status == "Open" %} color: #0052CC;"
                {% elif learning.status == "Pending Approval" %} color: orangered;" 
                {% elif learning.status == "Close" %} color: green;"
                {% endif %}>{{ learning.status }}</td>
                <td>{{ learning.cdp_awarded }}</td>
            <td>
                <center>
                    {% if learning.status == "Pending Approval" %}
                    <a data-toggle="modal" data-target="#editlearning{{learning.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                    </a>
                    {% else %}
                    <a data-toggle="modal" data-target="#editlearning{{learning.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="View">&#xE03B;</i>
                    </a>
                    {% endif %}
                </center>

                <div class="modal fade" id="editlearning{{learning.id}}" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="POST" action="{% url 'competence:manager_learning_update' learning.id %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Learning/Enhancing Skill</h4>
                                    <input name="page" type="hidden" value="manager_learning">
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="skill_title">Skill Title</label>
                                            <input type="text" name="skill_title" value="{{ learning.skill_title }}" class="form-control" style="width:100%;" readonly>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="course_title">Course Title</label>
                                            <input type="name" name="course_title" value="{{ learning.course_title }}" class="form-control" style="width:100%;" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="skill_duration_hours">Duration (in hours)</label>
                                            <input type="number" name="skill_duration_hours" value="{{ learning.skill_duration_hours }}" class="form-control" style="width:100%;"
                                                readonly>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="skills_applied_flag">Skills Applied?</label>
                                            <input type="name" name="skills_applied_flag" value="{{ learning.skills_applied_flag }}" class="form-control" style="width:100%;"
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="proficiency_level">Proficiency Level</label>
                                            <input type="name" name="proficiency_level" value="{{ learning.proficiency_level }}" class="form-control" style="width:100%;" readonly>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="created_date">Date</label>
                                            <input type="date" name="created_date" value="{{ learning.created_date }}" class="form-control" style="width:100%;" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="outcome_deliverable">Outcome Deliverable</label>
                                            <textarea rows="3" name="outcome_deliverable" class="form-control" style="width:100%;" readonly>{{ learning.outcome_deliverable }}</textarea>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="certification">Certification</label>
                                            <textarea rows="3" name="certification" class="form-control" style="width:100%;" readonly>{{ learning.certification }}</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="status">Status</label>
                                            <input type="text" name="status" value="{{ learning.status }}" class="form-control" style="width:100%;" readonly>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="cdp_awarded">CDP Awarded</label>
                                            {% if learning.status == 'Pending Approval'%}
                                            <select name="cdp_awarded" class="form-control" style="width:100%;" required > 
                                                <option selected readonly hidden style='display: none' value=''>Select</option>
                                                {% for cdp_awarded in cdps_awarded %}
                                                <option {% if learning.cdp_awarded == cdp_awarded %} selected="selected" {% endif %}> {{cdp_awarded}}</option>
                                                {% endfor %}
                                            </select>
                                            {% else %}
                                            <input type="number" name="cdp_awarded" value="{{ learning.cdp_awarded }}" class="form-control" style="width:100%;" readonly>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    {% if learning.status == 'Pending Approval'%}
                                    <input type="submit" data-inline="true" class="btn btn-success pull-left" value="Approve" onclick = "button('Close', {{learning.id}})">
                                    {% endif %}
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <input type="hidden" id="{{learning.id}}" name="status">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endfor %}

{% else %}
<div id="nodata" style="margin-top: 25%"> No data found </div>
{% endif %}

<script>
    function button(status, edit_id) {
        document.getElementById(edit_id).value = status;
    }
</script>
{% endblock %}