
{% extends 'menu.html' %} {% block body %}
<input name="selected_category" type="hidden" value="Kras">

<h4 data-toggle="dropdown"> Associates' Key Result Areas </h4>
<a data-toggle="modal" data-target="#copyKras" class="btn btn-primary add-btn pull-right">Copy KRAs</a>
<hr>

<div class="row col-md-10">
{% if categories %}
{% for category in categories|slice:"1" %}
<form method="POST" action="{% url 'competence:manager_kras_update' category.associate_id category.effective_end %}">
{% csrf_token %}
<input name="selected_cycle" type="hidden" value="{{selected_cycle}}">
<input name="performance_cycle" type="hidden" value="{{performance_cycle}}">

<div class="row col-sm-3 form-group">
    <label for="status">Status</label>
    <div class="category_status"
        {% if category.status == 'Create' %} style="background: #5CB85C">
        {% elif category.status == 'Open' %} style="background: #5A90CE">
        {% elif category.status == 'Pending Approval' %} style="background: orange">
        {% elif category.status == 'Close' %} style="background: green">
        {% endif %} {{ category.status }}
    </div>
</div>
{% if category.status != 'Open' and category.status != 'Create' %}
<div class="col-sm-2 form-group pull-right">
    <label for="avg_rating">Final Rating</label>
    <input style="color:red; font-weight:bold" type="number" min="0" max="5" step=".25" 
    id="avg_rating" name="avg_rating" value="{{ avg_rating }}" class="form-control" style="width:100%;" 
    {% if category.status == 'Close' or category.status == 'Create' %} readonly {% else %} required {% endif %} />
</div>
{% endif %}

<table id="form_table" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="15%">Category</th>
            {% if category.status == "Create" or category.status == "Open"  %}
            <th width="5%">Weightage</th>
            <th width="5%">Target (1-5)</th>
            {% endif %}
            {% if category.status == "Pending Approval" or category.status == "Close"  %}
            <th width="25%">Associate Contributions </th>
            <th width="25%">Manager Feedback </th>
            <th width="10%"> <center>Rating (1-5)</center></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.category|wordwrap:50|linebreaks }} </td>
            <!-- Weightage and Target are editable only in CREATE mode -->
            {% if category.status == "Create" or category.status == "Open" %}
            <td>
                <input type="number" min="0" max="100" step="5" name="{{ category.category }}_weightage" value="{{ category.weightage }}"
                class="form-control" style="width:50%;" {% if category.status == "Create" %} required {% else %} readonly {% endif %}>
            </td>
            <td>
                <input type="number" min="0" max="5" name="{{ category.category }}_target" value="{{ category.category_target }}"
                class="form-control" style="width:50%;" {% if category.status == "Create" %} required {% else %} readonly {% endif %}>
            </td>
            {% endif %} 
            
            <!-- Manager Comments and Rating are editable only in PENDING APPROVAL mode -->
            {% if category.status == "Pending Approval" or category.status == "Close" %}
            {% if category.status == "Pending Approval" %}
            <td>{{ category.associate_comments|wordwrap:70|linebreaks }} </td>
            <td>
                <textarea rows="2" id="comments" name="{{ category.category }}_manager_feedback" class="form-control" style="width:100%;"
                required>{{ category.manager_feedback }}</textarea>
            </td>
            <td>
                <input type="number" min="0" max="5" name="{{ category.category }}_manager_rating" value="{{ category.manager_rating }}" 
                class="form-control avgrating" style="width:100%;" required onchange="get_Avg_Rating()">
            </td>
            {% else %}
            <td>{{ category.associate_comments|wordwrap:70|linebreaks }} </td>
            <td>{{ category.manager_feedback|wordwrap:70|linebreaks }}</td>
            <td><center>{{ category.manager_rating }}</center></td>
            {% endif %} 
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

    <div class="modal-footer">
        
        {% if category.status == "Create"  %}
        <input type="submit" data-inline="true" class="btn btn-primary" value="Save as Draft" onclick = "button('Create')" >
        <input type="submit" data-inline="true" class="btn btn-success pull-left" value="Assign" onclick = "button('Open')">
        {% endif %}

        {% if category.status == "Pending Approval" %}
        <input type="submit" data-inline="true" class="btn btn-primary" value="Save as Draft" onclick = "button('Pending Approval')" >
        <input type="submit" data-inline="true" class="btn btn-success pull-left" value="Approve" onclick = "button('Close')">
        {% endif %}

        <input type="hidden" id="hidden" name="status">
    </div>
</form>

{% endfor %} 
{% endif %}
</div>

{% if not categories %}
<div id="nodata">No data available</div>
{% endif %}

<div class="col-md-2 filter">
    <h4 class="filter_header">FILTER</h4>
    <div class="form-group">
        <label> Associate </label>
        <select class="selectpicker search_dropdown" data-width="100%" data-show-subtext="true" data-live-search="true" data-size="6" onchange="location = this.value;">
        {% for associate in associates %}
            <option value="{% url 'competence:manager_kras' associate.associate_id selected_cycle 'cycle1' %}"
            {% if associate_id == associate.associate_id %} selected="selected" {% endif %} 
            data-subtext="- {{associate.associate_id}}"> {{associate.associate_name}}</option>  
        {% endfor %}
        </select>
    </div><hr>
    <div class="form-group">
        <label> Financial Cycle </label>
        <ul class="list-unstyled" id="changelist-filter">
            <li>
            {% for cycle in cycles %}
            <li {% if selected_cycle == cycle %} class="selected" {% endif %}><a href="{% url 'competence:manager_kras' associate_id cycle 'cycle1' %}"> {{cycle}} </a></li>
            {% endfor %}
            </li>
        </ul>
    </div><hr>
    <div class="form-group">
        <label> Performance Cycle </label>
        <ul class="list-unstyled" id="changelist-filter">
            <li>
                {% if cycle > 0 %}
                <li {% if performance_cycle == 'cycle1' %} class="selected" {% endif %}><a href="{% url 'competence:manager_kras' associate_id selected_cycle 'cycle1' %}">Cycle 1 (Apr to Jul) </a></li>
                {% endif %}
                {% if cycle > 1 %}
                <li {% if performance_cycle == 'cycle2' %} class="selected" {% endif %}><a href="{% url 'competence:manager_kras' associate_id selected_cycle 'cycle2' %}">Cycle 2 (Aug to Nov)  </a></li>
                {% endif %}
                {% if cycle > 2 %}
                <li {% if performance_cycle == 'cycle3' %} class="selected" {% endif %}><a href="{% url 'competence:manager_kras' associate_id selected_cycle 'cycle3' %}">Cycle 3 (Dec to Mar) </a></li>
                {% endif %}
            </li>
        </ul>
    </div>
</div>

<div class="modal fade" id="copyKras" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="{% url 'competence:copy_kras' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Copy Key Result Areas</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="selected_start">Effective Start Month</label>
                            <input type="date" name="selected_start" class="form-control" style="width:100%;" required />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="selected_end">Effective End Month</label>
                            <input type="date" name="selected_end" class="form-control" style="width:100%;" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" data-inline="true" class="btn btn-primary" value="Submit">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("manager_kras").style.backgroundColor = "#00665C";
    document.getElementById("manager_kras").style.fontWeight = "600";
    
    function button(status) {
      document.getElementById("hidden").value = status;
    }

    function get_Avg_Rating() {
        var inputs = $(".avgrating");
        var sum = 0.0
        for (var i = 0; i < inputs.length; i++) {
            sum += parseInt($(inputs[i]).val());
        }
        var avg = sum/inputs.length
        avg = (Math.round(avg * 4) / 4).toFixed(2);
        document.getElementById("avg_rating").value = avg;
    }
  
</script>

{% endblock %}