
{% extends 'manager/associates_competence.html' %} {% block competency %}
<input name="category" type="hidden" value="Feedbacks">

{% if feedback %}
{% for feed in feedback|slice:"1" %}
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="15%">Feedback From</th>
            <th width="15%">Category</th>
            <th width="40%">Comments</th>
            <th width="10%">Status</th>
            <th width="10%">Date Created</th>
            <th width="10%">
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>

        {% for feed in feedback %}
        <tr>
            <td>{{feed.feedback_by_name}} ({{feed.feedback_by}})</td>
            <td>{{feed.category}}</td>
            <td class="ellipsis">{{feed.comments }}</td>
            <td style="font-weight: 600; 
                {% if feed.status == "Open" %} color: #0052CC;"
                {% elif feed.status == "In Progress" %} color: orange;"
                {% elif feed.status == "Pending Approval" or feed.status == "Action Approval" %} color: orangered;" 
                {% elif feed.status == "Close" %} color: green;"
                {% endif %}>{{ feed.status }}
            </td>
            <td>{{feed.created_date|date:"M d, Y"}}</td>
            <td>
                <center>
                    <a class="anchor" data-toggle="modal" data-target="#a{{feed.id}}">
                        {% if feed.status == "Close"%}
                        <i class="material-icons" data-toggle="tooltip" title="Details">&#xE03B;</i>
                        {% else %}
                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                        {% endif %}
                    </a>
                </center>
                <div class="modal fade" id="a{{feed.id}}" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="POST" action="{% url 'competence:feedback_update' feed.id %}">
                                <input name='page' type="hidden" value="manager_feedback"> {% csrf_token %}
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Details</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="recognise">Feedback To</label>
                                            <input type="text" name="recognise" value="{{ feed.associate_name }}" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="category">Category</label>
                                            <input type="text" name="category" value="{{ feed.category }}" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="feedbackby">Feedback From</label>
                                            <input type="text" name="feedbackby" value="{{ feed.feedback_by_name }}" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="status">Status</label>
                                            <input type="text" name="status" value="{{ feed.status }}" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="created_date">Date</label>
                                            <input type="date" name="created_date" value="{{ feed.created_date }}" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group" style="width:100%;" required>
                                            <label for="comments">Comments</label>
                                            <textarea name="comments" class="form-control" rows="3" style="width:100%;" readonly/>{{ feed.comments }}</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group" style="width:100%;" required>
                                            <label for="actionpoints">Action Points</label>
                                            <textarea name="actionpoints" class="form-control" rows="3" style="width:100%;" readonly/>{{ feed.action_point }}</textarea>
                                        </div>
                                        <div class="col-sm-6 form-group" style="width:100%;" required>
                                            <label for="supervisorcomments">Supervisor Comments</label>
                                            <textarea name="supervisorcomments" class="form-control" rows="3" style="width:100%;" {% if feed.status == 'Close' %} readonly {% endif %}/>{{ feed.supervisor_comments }}</textarea>
                                        </div>
                                         {% if feed.status != 'Pending Approval' %}
                                        <div class="col-sm-6 form-group" style="width:100%;" required>
                                            <label for="action_implemented">Action Points Implemented</label>
                                            <textarea name="action_implemented" class="form-control" rows="3" style="width:100%;" readonly/>{{ feed.action_implemented }}</textarea>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    {% if feed.status != 'Close' %}
                                    {% if feed.status != 'In Progress' %}
                                    <input name="action" type="submit" data-inline="true" class="btn btn-success pull-left" value="Approve">
                                    <input name="action" type="submit" data-inline="true" class="btn btn-danger pull-left" value="Reject" >
                                    {% endif %}
                                    <input name="action" type="submit" data-inline="true" class="btn btn-primary" value="Save">
                                    {% endif %}
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endfor %} 

{% else %}
<div id="nodata" style="margin-top: 25%">No data found </div>
{% endif %}

{% endblock %}