
{% extends 'manager/associates_competence.html' %} {% block competency %}
<input name="category" type="hidden" value="Asppreciations">

{% if commitments %}
{% for commitment in commitments|slice:"1" %}
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="15%">Recognised By</th>
            <th width="55%">Comments</th>
            <th width="10%">Status</th>
            <th width="10%">Date </th>
            <th width="10%">
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>
        {% for commitment in commitments %}
        <tr>
            <td>{{commitment.recognised_name}} ({{commitment.recognised_by}})</td>
            <td>{{commitment.comments|wordwrap:70|linebreaks }}</td> 
            <td style="font-weight: 600; 
                {% if commitment.status == "Pending Approval" %} color: orangered;" 
                {% elif commitment.status == "Approved" %} color: green;"
                {% endif %}>{{ commitment.status }}
            </td>
            <td>{{commitment.created_date|date:"M d, Y"}}</td>
            <td>
                <center>
                    {% if commitment.status != 'Approved' %}
                    <form method="POST" style="display: inline" action="{% url 'competence:appreciations_update' commitment.id %}">
                        {% csrf_token %}
                        <button type="submit" title="Approve" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <input name="page" type="hidden" value="manager_appreciations">
                    </form>
                    <form method="POST" style="display: inline" action="{% url 'competence:appreciations_delete' commitment.id %}">
                         {% csrf_token %}
                        <button type="submit" title="Reject" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <input name="page" type="hidden" value="manager_appreciations">
                    </form>
                    {% endif %}
                </center>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endfor %} 

{% else %}
<div id="nodata" style="margin-top: 25%">No data found</div>
{% endif %}

{% endblock %}