{% extends 'manager/associates_competence.html' %} {% block competency %}
<input name="category" type="hidden" value="Awards">

{% if awards %}
{% for award in awards|slice:"1" %}
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="15%">Award Category</th>
            <th width="30%">Comments</th>
            <th width="10%">Received On </th>
            <th width="10%">Status</th>
            <th width="10%">
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>
        {% for award in awards %}
        <tr>
            <td>{{award.award_category }}</td>
            <td><p class="word_wrap">{{award.comments }}</p></td>
            <td>{{award.created_date|date:"M d, Y"}}</td>
            <td style="font-weight: 600; 
                {% if award.status == "Pending Approval" %} color: orangered;" 
                {% elif award.status == "Approved" %} color: green;"
                {% endif %}>{{ award.status }}
            </td>
            <td>
                <center>
                    {% if award.status != 'Approved' %}
                    <form method="POST" style="display: inline" action="{% url 'competence:awards_update' award.id %}">
                        {% csrf_token %}
                        <button type="submit" title="Approve" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <input name="page" type="hidden" value="manager_awards">
                    </form>
                    <form method="POST" style="display: inline" action="{% url 'competence:awards_delete' award.id %}">
                         {% csrf_token %}
                        <button type="submit" title="Reject" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <input name="page" type="hidden" value="manager_awards">
                    </form>
                    {% endif %}
                </center>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endfor %} 

{% else %}
<div id="nodata" style="margin-top: 25%">No data found</div>
{% endif %}

{% endblock %}