{% extends 'manager/associates_competence.html' %} {% block competency %} 

{% if sharing_skills %}
{% for sharing in sharing_skills|slice:"1" %}
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th>Skill Title</th>
            <th>Course Title</th>
            <th>Mode of Activity</th>
            <th>Duration</th>
            <th>Date</th>
            <th>Status</th>
            <th>CDP</th>
            <th>
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>
        {% for sharing in sharing_skills %}
        <tr>
            <td>{{ sharing.skill_title }}</td>
            <td>{{ sharing.course_title }}</td>
            <td class="ellipsis">{{ sharing.mode_of_activity }}</td>
            <td>{{ sharing.skill_duration_hours }} hrs </td>
            <td>{{ sharing.created_date|date:"M d, Y" }}</td>
            <td style="font-weight: 600; 
                {% if sharing.status == "Open" %} color: #0052CC;"
                {% elif sharing.status == "Pending Approval" %} color: orangered;" 
                {% elif sharing.status == "Close" %} color: green;"
                {% endif %}>{{ sharing.status }}</td>
            <td>{{ sharing.cdp_awarded }}</td>
            <td>
                <center>
                    {% if sharing.status == "Pending Approval" %}
                    <a data-toggle="modal" data-target="#editsharing{{sharing.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                    </a>
                    {% else %}
                    <a data-toggle="modal" data-target="#editsharing{{sharing.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE03B;</i>
                    </a>
                    {% endif %}
                </center>

                <div class="modal fade" id="editsharing{{sharing.id}}" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="POST" action="{% url 'competence:manager_sharing_update' sharing.id %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Sharing Skill</h4>
                                    <input name="page" type="hidden" value="manager_sharing">
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="skill_title">Skill Title</label>
                                            <input type="text" name="skill_title" value="{{ sharing.skill_title }}" class="form-control" style="width:100%;" readonly>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="course_title">Course Title</label>
                                            <input type="name" name="course_title" value="{{ sharing.course_title }}" class="form-control" style="width:100%;" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="skill_duration_hours">Duration (in hours)</label>
                                            <input type="number" name="skill_duration_hours" value="{{ sharing.skill_duration_hours }}" class="form-control" style="width:100%;" readonly>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="mode">Mode of activity</label>
                                            <input type="text" name="mode_of_activity" value="{{ sharing.mode_of_activity }}" class="form-control" style="width:100%;" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="created_date">Date</label>
                                            <input type="date" name="created_date" value="{{ sharing.created_date }}" class="form-control" style="width:100%;" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label for="outcome_deliverable">Outcome Deliverable</label>
                                            <textarea rows="3" name="outcome_deliverable" class="form-control" style="width:100%;" readonly>{{ sharing.outcome_deliverable }}
                                                </textarea>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <label for="associates_trained">Associates Trained</label>
                                            <textarea rows="3" name="associates_trained" class="form-control" style="width:100%;" readonly>{{ sharing.associates_trained }}
                                                </textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="status">Status</label>
                                            <input type="text" name="status" value="{{ sharing.status }}" class="form-control" style="width:100%;" readonly>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="cdp_awarded">CDP Awarded</label>
                                            {% if sharing.status == 'Pending Approval'%}
                                            <select name="cdp_awarded" class="form-control" style="width:100%;" required>
                                                <option selected readonly hidden style='display: none' value=''>Select</option>
                                                {% for cdp_awarded in cdps_awarded %}
                                                <option {% if sharing.cdp_awarded == cdp_awarded %} selected="selected" {% endif %}> {{cdp_awarded}}</option>
                                                {% endfor %}
                                            </select>
                                            {% else %}
                                            <input type="number" name="cdp_awarded" value="{{ sharing.cdp_awarded }}" class="form-control" style="width:100%;" readonly> {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    {% if sharing.status == 'Pending Approval'%}
                                    <input type="submit" data-inline="true" class="btn btn-success pull-left" value="Approve" onclick="button('Close', {{sharing.id}})">
                                    {% endif %}
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <input type="hidden" id="{{sharing.id}}" name="status">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endfor %}

{% else %}
<div id="nodata" style="margin-top: 25%"> No data found</div>
{% endif %}

<script>
    function button(status, edit_id) {
        document.getElementById(edit_id).value = status;
    }
</script>
{% endblock %}