{% extends 'menu.html' %} 
<title> {% block head_title %} ADR - Pending Approvals {% endblock %} </title>
{% block body %}

<style>

    table {
        font-family: "Segoe UI", Arial, sans-serif;
        border: none !important;
        box-shadow: 1px 1px 1px 1px #CECECE;
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        font-weight: 600;
        border-bottom-color: transparent;
    }

    .word_wrap {
        margin-top: 0px;
    }

    p {
        margin: none;
    }

    .btn {
        margin-top: 0.1em;
    }
    
</style>

<body>

<h4>Pending Approvals</h4>
<hr>

  <div class="bs-example">
    <ul class="nav nav-tabs" id="myTab">
      <li {% if selected_type == "learning" %} class="active" {% endif %}>
        <a href="{% url 'competence:pending_approvals' 'learning' %}">Learning Skills <span class="badge pending_count"> {{learning_skills.count}}</span></a>
      </li>
      <li {% if selected_type == "sharing" %} class="active" {% endif %}>
        <a href="{% url 'competence:pending_approvals' 'sharing' %}">Sharing Skills <span class="badge pending_count"> {{sharing_skills.count}}</span></a>
      </li>
      <li {% if selected_type == "awards" %} class="active" {% endif %}>
        <a href="{% url 'competence:pending_approvals' 'awards' %}">Awards <span class="badge pending_count"> {{awards.count}}</span></a>
      </li>
      <li {% if selected_type == "appreciations" %} class="active" {% endif %}>
        <a href="{% url 'competence:pending_approvals' 'appreciations' %}">Appreciations <span class="badge pending_count"> {{appreciations.count}}</span></a>
      </li>
      <li {% if selected_type == "feedback" %} class="active" {% endif %}>
        <a href="{% url 'competence:pending_approvals' 'feedback' %}">Improvement Areas <span class="badge pending_count"> {{feedbacks.count}}</span></a>
        <!-- <a data-toggle="tab" href="#feedback">Improvement Areas <span class="badge pending_count"> {{feedbacks.count}}</span></a> -->
      </li>
    </ul>
    
    <div class="tab-content">
      <div id="learning" class="tab-pane fade in {% if selected_type == "learning" %} active {% endif %}">
          {% if learning_skills %}
          <table id="learningtable" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
              <thead>
                  <tr>
                      <th>Associate</th>
                      <th>Project</th>
                      <th>Skill Title</th>
                      <th>Course Title</th>
                      <th>Duration</th>
                      <th>Applied?</th>
                      <th>Proficiency</th>
                      <th>Date</th>
                      <th>
                          <center>Actions</th>
                      </center>
                  </tr>
              </thead>
              <tbody>
                  {% for learning in learning_skills %}
                  <tr>
                      <td>{{ learning.associate_name }} ({{ learning.associate_id }})</td>
                      <td>{{ learning.project_name }}</td>
                      <td>{{ learning.skill_title }}</td>
                      <td>{{ learning.course_title }}</td>
                      <td>{{ learning.skill_duration_hours }} hrs</td>
                      <td>{{ learning.skills_applied_flag }}</td>
                      <td>{{ learning.proficiency_level }}</td>
                      <td>{{ learning.created_date|date:"M d, Y" }}</td>
                      <td>
                          <center>
                              <a data-toggle="modal" data-target="#editlearning{{learning.id}}">
                                  <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                              </a>
                          </center>
          
                          <div class="modal fade" id="editlearning{{learning.id}}" role="dialog">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <form method="POST" action="{% url 'competence:manager_learning_update' learning.id %}">
                                          {% csrf_token %}
                                          <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h4 class="modal-title">Edit Learning/Enhancing Skill</h4>
                                              <input name="page" type="hidden" value="pending_approvals">
                                          </div>
                                          <div class="modal-body">
                                              <div class="row">
                                                  <div class="col-sm-6 form-group">
                                                      <label for="associate">Associate</label>
                                                      <input type="text" name="associate" value="{{ learning.associate_name }} ({{ learning.associate_id }})" class="form-control" style="width:100%;" readonly>
                                                  </div>
                                                  <div class="col-sm-6 form-group">
                                                      <label for="project">Project</label>
                                                      <input type="text" name="project" value="{{ learning.project_name }}" class="form-control" style="width:100%;" readonly>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-sm-6 form-group">
                                                      <label for="skill_title">Skill Title</label>
                                                      <input type="text" name="skill_title" value="{{ learning.skill_title }}" class="form-control" style="width:100%;" readonly>
                                                  </div>
                                                  <div class="col-sm-6 form-group">
                                                      <label for="course_title">Course Title</label>
                                                      <input type="name" name="course_title" value="{{ learning.course_title }}" class="form-control" style="width:100%;" readonly>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-sm-6 form-group">
                                                      <label for="skill_duration_hours">Duration (in hours)</label>
                                                      <input type="number" name="skill_duration_hours" value="{{ learning.skill_duration_hours }}" class="form-control" style="width:100%;"
                                                          readonly>
                                                  </div>
                                                  <div class="col-sm-6 form-group">
                                                      <label for="skills_applied_flag">Skills Applied?</label>
                                                      <input type="name" name="skills_applied_flag" value="{{ learning.skills_applied_flag }}" class="form-control" style="width:100%;"
                                                          readonly>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-sm-6 form-group">
                                                      <label for="outcome_deliverable">Outcome Deliverable</label>
                                                      <textarea rows="3" name="outcome_deliverable" class="form-control" style="width:100%;" readonly>{{ learning.outcome_deliverable }}</textarea>
                                                  </div>
                                                  <div class="col-sm-6 form-group">
                                                      <label for="certification">Certification</label>
                                                      <textarea rows="3" name="certification" class="form-control" style="width:100%;" readonly>{{ learning.certification }}</textarea>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-sm-6 form-group">
                                                      <label for="proficiency_level">Proficiency Level</label>
                                                      <input type="name" name="proficiency_level" value="{{ learning.proficiency_level }}" class="form-control" style="width:100%;" readonly>
                                                  </div>
                                                  <div class="col-sm-6 form-group">
                                                      <label for="created_date">Created Date</label>
                                                      <input type="date" name="created_date" value="{{ learning.created_date }}" class="form-control" style="width:100%;" readonly>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-sm-6 form-group">
                                                      <label for="cdp_awarded">CDP Awarded</label>
                                                      <select name="cdp_awarded" class="form-control" style="width:100%;" required>
                                                          <option selected readonly hidden style='display: none' value=''>Select</option>
                                                          {% for cdp_awarded in cdps_awarded %}
                                                          <option {% if learning.cdp_awarded == cdp_awarded %} selected="selected" {% endif %}> {{cdp_awarded}}</option>
                                                          {% endfor %}
                                                      </select>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="modal-footer">
                                              <input type="submit" data-inline="true" class="btn btn-success pull-left" value="Approve" onclick = "button('Close', {{learning.id}})">
                                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                              <input type="hidden" id="{{learning.id}}" name="status">
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          
          {% else %}
          <div id="nodata">Great, no pending items found</div>
          {% endif %}
      </div>

      <div id="sharing" class="tab-pane fade in {% if selected_type == "sharing" %} active {% endif %}">
          {% if sharing_skills %}
          <table id="sharingtable" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
              <thead>
                  <tr>
                      <th>Associate </th>
                      <th>Project</th>
                      <th>Skill Title</th>
                      <th>Course Title</th>
                      <th>Duration</th>
                      <th>Date</th>
                      <th>
                          <center>Actions</th>
                      </center>
                  </tr>
              </thead>
              <tbody>
                  {% for sharing in sharing_skills %}
                  <tr>
                      <td>{{ sharing.associate_name }} ({{ sharing.associate_id }})</td>
                      <td>{{ sharing.project_name }}</td>
                      <td>{{ sharing.skill_title }}</td>
                      <td>{{ sharing.course_title }}</td>
                      <td>{{ sharing.skill_duration_hours }} hrs</td>
                      <td>{{ sharing.created_date|date:"M d, Y" }}</td>
                      <td>
                          <center>
                              <a data-toggle="modal" data-target="#editsharing{{sharing.id}}">
                                  <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                              </a>
                          </center>
          
                          <div class="modal fade" id="editsharing{{sharing.id}}" role="dialog">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <form method="POST" action="{% url 'competence:manager_sharing_update' sharing.id %}">
                                          {% csrf_token %}
                                          <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h4 class="modal-title">Edit sharing/Enhancing Skill</h4>
                                              <input name="page" type="hidden" value="pending_approvals">
                                          </div>
                                          <div class="modal-body">
                                              <div class="row">
                                                  <div class="col-sm-6 form-group">
                                                      <label for="associate">Associate</label>
                                                      <input type="text" name="associate" value="{{ sharing.associate_name }} ({{ sharing.associate_id }})" class="form-control"
                                                          style="width:100%;" readonly>
                                                  </div>
                                                  <div class="col-sm-6 form-group">
                                                      <label for="project">Project</label>
                                                      <input type="text" name="project" value="{{ sharing.project_name }}" class="form-control" style="width:100%;" readonly>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-sm-6 form-group">
                                                      <label for="skill_title">Skill Title</label>
                                                      <input type="text" name="skill_title" value="{{ sharing.skill_title }}" class="form-control" style="width:100%;" readonly>
                                                  </div>
                                                  <div class="col-sm-6 form-group">
                                                      <label for="course_title">Course Title</label>
                                                      <input type="name" name="course_title" value="{{ sharing.course_title }}" class="form-control" style="width:100%;" readonly>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-sm-6 form-group">
                                                      <label for="skill_duration_hours">Duration (in hours)</label>
                                                      <input type="number" name="skill_duration_hours" value="{{ sharing.skill_duration_hours }}" class="form-control" style="width:100%;"
                                                          readonly>
                                                  </div>
                                                  <div class="col-sm-6 form-group">
                                                      <label for="mode">Mode of activity</label>
                                                      <input type="text" name="mode_of_activity" value="{{ sharing.mode_of_activity }}" class="form-control" style="width:100%;" readonly>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-sm-6 form-group">
                                                      <label for="outcome_deliverable">Outcome Deliverable</label>
                                                      <textarea rows="3" name="outcome_deliverable" class="form-control" style="width:100%;" readonly>{{ sharing.outcome_deliverable }}
                                                                                                      </textarea>
                                                  </div>
                                                  <div class="col-sm-6 form-group">
                                                      <label for="associates_trained">Associates Trained</label>
                                                      <textarea rows="3" name="associates_trained" class="form-control" style="width:100%;" readonly>{{ sharing.associates_trained }}
                                                                                                      </textarea>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-sm-6 form-group">
                                                      <label for="created_date">Created Date</label>
                                                      <input type="date" name="created_date" value="{{ sharing.created_date }}" class="form-control" style="width:100%;" readonly>
                                                  </div>
                                                  <div class="col-sm-6 form-group">
                                                      <label for="cdp_awarded">CDP Awarded</label>
                                                      <select name="cdp_awarded" class="form-control" style="width:100%;" required>
                                                          <option selected readonly hidden style='display: none' value=''>Select</option>
                                                          {% for cdp_awarded in cdps_awarded %}
                                                          <option {% if sharing.cdp_awarded == cdp_awarded %} selected="selected" {% endif %}> {{cdp_awarded}}</option>
                                                          {% endfor %}
                                                      </select>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="modal-footer">
                                              <input type="submit" data-inline="true" class="btn btn-success pull-left" value="Approve" onclick = "button('Close', {{sharing.id}})">
                                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                              <input type="hidden" id="{{sharing.id}}" name="status">
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          
          {% else %}
          <div id="nodata">Great, no pending items found </div>
          {% endif %}        
      </div>

      <div id="award" class="tab-pane fade in {% if selected_type == "awards" %} active {% endif %}">
        {% if awards %}
        <table id="awardtable" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th>Associate</th>
                    <th>Project</th>
                    <th>Award</th>
                    <th>Comments</th>
                    <th>Received On</th>
                    <th>
                        <center>Actions</th>
                    </center>
                </tr>
            </thead>
            <tbody>
                {% for award in awards %}
                <tr>
                    <td>{{award.associate_name}} ({{ award.associate_id }})</td>
                    <td>{{award.project_name}}</td>
                    <td>{{award.award_category}}</td>
                    <td><p class="word_wrap">{{award.comments }}</p></td>
                    <td>{{award.created_date|date:"M d, Y"}}</td>
                    <td>
                        <center>
                            {% if award.status != 'Approved' %}
                            <form method="POST" style="display: inline" action="{% url 'competence:awards_update' award.id %}">
                                {% csrf_token %}
                                <button type="submit" title="Approve" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                                <input name="page" type="hidden" value="pending_approvals">
                            </form>
                            <form method="POST" style="display: inline" action="{% url 'competence:awards_delete' award.id %}">
                                 {% csrf_token %}
                                <button type="submit" title="Reject" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <input name="page" type="hidden" value="pending_approvals">
                            </form>
                            {% endif %}
                        </center>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% else %}
        <div id="nodata">Great, no pending items found</div>
        {% endif %}
    </div>
      
      <div id="appreciation" class="tab-pane fade in {% if selected_type == "appreciations" %} active {% endif %}">
          {% if appreciations %}
          <table id="appreciationtable" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
              <thead>
                  <tr>
                      <th>Associate</th>
                      <th>Project</th>
                      <th>Recognised By</th>
                      <th>Comments</th>
                      <th>Date </th>
                      <th>
                          <center>Actions</th>
                      </center>
                  </tr>
              </thead>
              <tbody>
                  {% for appreciation in appreciations %}
                  <tr>
                      <td>{{appreciation.associate_name}} ({{ appreciation.associate_id }})</td>
                      <td>{{appreciation.project_name}}</td>
                      <td>{{appreciation.recognised_name}}</td>
                      <td>{{appreciation.comments|wordwrap:120|linebreaks }}</td>
                      <td>{{appreciation.created_date|date:"M d, Y"}}</td>
                      <td>
                          <center>
                              {% if appreciation.status != 'Approved' %}
                              <form method="POST" style="display: inline" action="{% url 'competence:appreciations_update' appreciation.id %}">
                                  {% csrf_token %}
                                  <button type="submit" title="Approve" class="btn btn-primary">
                                      <span class="glyphicon glyphicon-ok"></span>
                                  </button>
                                  <input name="page" type="hidden" value="pending_approvals">
                              </form>
                              <form method="POST" style="display: inline" action="{% url 'competence:appreciations_delete' appreciation.id %}">
                                   {% csrf_token %}
                                  <button type="submit" title="Reject" class="btn btn-danger">
                                      <span class="glyphicon glyphicon-remove"></span>
                                  </button>
                                  <input name="page" type="hidden" value="pending_approvals">
                              </form>
                              {% endif %}
                          </center>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          
          {% else %}
          <div id="nodata">Great, no pending items found</div>
          {% endif %}
      </div>

      <div id="feedback" class="tab-pane fade in {% if selected_type == "feedback" %} active {% endif %}">
          {% if feedbacks%}
          <table id="feedbacktable" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
              <thead>
                  <tr>
                      <th>Feedback To</th>
                      <th>Project</th>
                      <th>Feedback From</th>
                      <th>Category</th>
                      <th>Comments</th>
                      <th>Status</th>
                      <th>Date Created</th>
                      <th>
                          <center>Actions</th>
                      </center>
                  </tr>
              </thead>
              <tbody>
          
                  {% for feedback in feedbacks %}
                  <tr>
                      <td>{{feedback.associate_name }} ({{feedback.associate_id }})</td>
                      <td>{{feedback.project_name}}</td>
                      <td>{{feedback.feedback_by_name}}</td>
                      <td>{{feedback.category}}</td>
                      <td class="ellipsis">{{feedback.comments}}</td>
                      <td>{{feedback.status}}</td>
                      <td>{{feedback.created_date|date:"M d, Y"}}</td>
                      <td>
                          <center>
                              <a class="anchor" data-toggle="modal" data-target="#a{{feedback.id}}">
                                  {% if feedback.status == "Closed"%}
                                  <i class="material-icons" data-toggle="tooltip" title="Details">&#xE03B;</i>
                                  {% else %}
                                  <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                  {% endif %}
                              </a>
                          </center>
                          <div class="modal fade" id="a{{feedback.id}}" role="dialog">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <form method="POST" action="{% url 'competence:feedback_update' feedback.id %}">
                                          <input name="page" type="hidden" value="pending_approvals"> {% csrf_token %}
                                          <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h4 class="modal-title">Details</h4>
                                          </div>
                                          <div class="modal-body">
                                              <div class="row">
                                                  <div class="col-sm-6 form-group">
                                                      <label for="recognise">Feedback To</label>
                                                      <input type="text" name="recognise" value="{{ feedback.associate_name }}" class="form-control" style="width:100%;" readonly/>
                                                  </div>
                                                  <div class="col-sm-6 form-group">
                                                      <label for="project">Project</label>
                                                      <input type="text" name="project" value="{{ feedback.project_name }}" class="form-control" style="width:100%;" readonly/>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-sm-6 form-group">
                                                      <label for="feedbackby">Feedback From</label>
                                                      <input type="text" name="feedbackby" value="{{ feedback.feedback_by_name }}" class="form-control" style="width:100%;" readonly/>
                                                  </div>
                                                  <div class="col-sm-6 form-group">
                                                      <label for="category">Category</label>
                                                      <input type="text" name="category" value="{{ feedback.category }}" class="form-control" style="width:100%;" readonly/>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-sm-6 form-group">
                                                    <label for="status">Status</label>
                                                    <input type="text" name="status" value="{{ feedback.status }}" class="form-control" style="width:100%;" readonly/>
                                                  </div>
                                                  <div class="col-sm-6 form-group">
                                                      <label for="created_date">Date</label>
                                                      <input type="date" name="created_date" value="{{ feedback.created_date }}" class="form-control" style="width:100%;" readonly/>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-sm-6 form-group" style="width:100%;" required>
                                                      <label for="comments">Comments</label>
                                                      <textarea name="comments" class="form-control" rows="3" style="width:100%;" readonly/>{{ feedback.comments }}</textarea>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-sm-6 form-group" style="width:100%;" required>
                                                      <label for="actionpoints">Action Points</label>
                                                      <textarea name="actionpoints" class="form-control" rows="3" style="width:100%;" readonly/>{{ feedback.action_point }}</textarea>
                                                  </div>
                                                  <div class="col-sm-6 form-group" style="width:100%;" required>
                                                      <label for="supervisorcomments">Supervisor Comments</label>
                                                      <textarea name="supervisorcomments" class="form-control" rows="3" style="width:100%;" {% if feedback.status == 'Closed' %} readonly {% endif %}/>{{ feedback.supervisor_comments }}</textarea>
                                                  </div>
                                                   {% if feedback.status != 'Pending Approval' %}
                                                  <div class="col-sm-6 form-group" style="width:100%;" required>
                                                      <label for="action_implemented">Action Points Implemented</label>
                                                      <textarea name="action_implemented" class="form-control" rows="3" style="width:100%;" readonly/>{{ feedback.action_implemented }}</textarea>
                                                  </div>
                                                  {% endif %}
                                              </div>
                                          </div>
                                          <div class="modal-footer">
                                              {% if feedback.status != 'Closed' %}
                                              {% if feedback.status != 'In Progress' %}
                                              <input name="action" type="submit" data-inline="true" class="btn btn-success pull-left" value="Approve">
                                              <input name="action" type="submit" data-inline="true" class="btn btn-danger pull-left" value="Reject" >
                                              {% endif %}
                                              <input name="action" type="submit" data-inline="true" class="btn btn-primary" value="Save">
                                              {% endif %}
                                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          
          {% else %}
          <div id="nodata">Great, no pending items found </div>
          {% endif %}
        
      </div>
    </div>
  </div>

      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
      <script type="text/javascript">

        $(document).ready(function () {
          $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
          });
          var activeTab = localStorage.getItem('activeTab');
          if (activeTab) {
            $('#myTab a[href="' + activeTab + '"]').tab('show');
          }
        });

        document.getElementById("pending_approvals").style.backgroundColor = "#00665C";
        document.getElementById("pending_approvals").style.fontWeight = "600";

        function button(status, edit_id) {
        document.getElementById(edit_id).value = status;
        }

        $(document).ready(function () {
            $('#learningtable').DataTable();
            $('#sharingtable').DataTable();
            $('#awardtable').DataTable();
            $('#appreciationtable').DataTable();
            $('#feedbacktable').DataTable();
        });
        
      </script>

{% endblock %}