       
{% extends 'menu.html' %} {% block body %}

<h4> Associates' Work Performance </h4>
<hr>

<div class="col-md-2 form-group" style="margin-bottom: 25px;">
    <label> Category </label>
    <select class="selectpicker search_dropdown" data-width="100%" data-size="6" onchange="location = this.value;">
        <option value="{% url 'competence:manager_awards' associate_id selected_cycle %}"
        {% if kra_category == 'Awards' %} selected="selected" {% endif %}> Awards</a>
        </option>
        <option value="{% url 'competence:manager_appreciations' associate_id selected_cycle %}"
        {% if kra_category == 'Appreciations' %} selected="selected" {% endif %}> Appreciations</a>
        </option>
        <option value="{% url 'competence:manager_feedback' associate_id selected_cycle %}"
        {% if kra_category == 'Feedbacks' %} selected="selected" {% endif %}> Improvement Areas</a>
        </option>
    </select>
</div>

<div class="col-md-2 form-group">
    <label> Associate </label>
    <select class="selectpicker search_dropdown" data-width="100%" data-show-subtext="true" data-live-search="true" data-size="6" onchange="location = this.value;">
    {% for associate in associates %}
        {% if kra_category == 'Awards' %}
        <option value="{% url 'competence:manager_awards' associate.associate_id selected_cycle %}"
        {% elif kra_category == 'Appreciations' %}
        <option value="{% url 'competence:manager_appreciations' associate.associate_id selected_cycle %}"
        {% elif kra_category == 'Feedbacks' %}
        <option value="{% url 'competence:manager_feedback' associate.associate_id selected_cycle %}"
        {% endif %}
        {% if associate_id == associate.associate_id %} selected="selected" {% endif %} 
        data-subtext="- {{associate.associate_id}}"> {{associate.associate_name}}</option>  
    {% endfor %}
    </select>
</div>

<div class="col-md-2 form-group">
    <label> Performance Cycle </label>
    <select class="selectpicker search_dropdown" data-width="100%" data-size="6" onchange="location = this.value;">
    {% for cycle in cycles %}
        {% if kra_category == 'Awards' %}
        <option value="{% url 'competence:manager_awards' associate_id cycle %}"
        {% elif kra_category == 'Appreciations' %}
        <option value="{% url 'competence:manager_appreciations' associate_id cycle %}"
        {% elif kra_category == 'Feedbacks' %}
        <option value="{% url 'competence:manager_feedback' associate_id cycle %}"
        {% endif %} 
        {% if selected_cycle == cycle %} selected="selected" {% endif %}> {{cycle}} </option>
    {% endfor %}
    </select>
</div>

<!-- Page Content Holder -->
{% if cycles %}
    {% block work_performance %} {% endblock %}
{% else%}
    <div class="col-md-8" style="font-size: 16px; font-weight: 600"> * Please select from the above dropdowns</div>
{% endif %}

<script>
    document.getElementById("work_performance").style.backgroundColor = "#00665C";
    document.getElementById("work_performance").style.fontWeight = "600";
</script>     
    
{% endblock %}