 {% extends 'menu.html'%} {% block body %} {% load static %} {% block css %} {% endblock %}

<style>

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #009385;
    font-weight: 600;
    cursor: default;
    border-bottom-color: transparent;
}

p {
  padding-left: 10px;
}

</style>

<body>

  <h4>Competence Rating and Descriptions</h4>
  <hr>

  <div class="bs-example">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a data-toggle="tab" href="#sectionA">Technical & Managerial - Rating Scale </a></li>
      <li><a data-toggle="tab" href="#sectionB">Workplace Behavior - Rating Scale</a></li>
      <li><a data-toggle="tab" href="#sectionC">Workplace Behavior - Description</a></li>
      <li><a data-toggle="tab" href="#sectionD">Competency Area - Description</a></li>
    </ul>
    <div class="tab-content">
      <div id="sectionA" class="tab-pane fade in active">
        <h5>Expert:</h5>
        <p>Possesses specialist/authority level knowledge, understanding and application of the competency and recognized in
          the competency area as an expert. Serves as a key talent professional and advises others in the organization by
          working across multiple projects or functions. Has strategic focus to be able to lead and deliver innovative solutions.
          Applies the competency in exceptionally difficult situations involving critical decision making within the scope
          of subject matter and application of a range of tools, technologies and methods. Sought out as a trusted counselor
          or guide to provide insight on subjects ranging from fundamental knowledge through strategic vision.</p>
         
        <h5>Advanced:</h5>
        <p> Possesses in-depth knowledge of the subject matter and gained substantial expertise by performing multiple functional
          and technical roles in the subject area. Works with long-terms perspective and applies the competency in considerably
          difficult situations. Capable of taking a lead role which involves decision making and application of a range of
          tools, technologies and methods in the competency area. Able to coach or teach others on the competency and develop
          assets in the competency area.</p>
         
        <h5>Intermediate:</h5>
        <p>Possesses wider knowledge of the subject matter and gained substantial expertise in the application of technology
          tools, techniques and methods for problem solving and performing required functional and technical tasks independently.
          Applies the competency to solve difficult and non-routine problems and handle situations successfully.</p>
         
        <h5>Basic:</h5>
        <p> Possesses adequate knowledge of the subject matter and expertise in application of technology tools, techniques and
          methods for performing required functional and technical tasks under routine supervision and guidance. Applies
          the competency in somewhat difficult situations.</p>
         
        <h5>Beginner:</h5>
        <p> Possesses conceptual knowledge of the subject matter and preliminary expertise in application of tools, techniques
          and methods. Applies the competency for performing functional and technical tasks in simplest situations, under
          extensive supervision and guidance.</p>
      </div>

      <div id="sectionB" class="tab-pane fade">
        <h5>Excellent:</h5>
        <p> Always demonstrates all the workplace behavior requirements of the organization value and ethics, and is seen as
          a role model for others to follow.</p>
         
        <h5>Good:</h5>
        <p> Always demonstrates all the workplace behavior requirements of the organization value and ethics, with some issues
          and weaknesses.
        </p>
         
        <h5>Satisfactory:</h5>
        <p> Mostly demonstrates all the workplace behavior requirements of the organization value, but requires some more development
          inputs and practice for behavioral change stabilization.</p>
         
        <h5>Moderate:</h5>
        <p> Frequently demonstrates some of the workplace behavior requirements of the organization value, but with significant
          inadequacies, and requires significant developmental inputs and practice for behavioral change.</p>
         
        <h5>Poor:</h5>
        <p> Does not exhibit workplace behavior requirements of the organization value.</p>
      </div>

      <div id="sectionC" class="tab-pane fade">
        <h5>Being a Client Centric Organization</h5>
        <ol type="1">
          <li>Exhibit client first attitude (our organization exists because of our clients) in thought, speech, and action.</li>
          <li>Demonstrate care, concern, and humility while serving clients.</li>
          <li>Exhibit client perspective thinking to understand client needs, problems and opportunities.</li>
          <li>Demonstrate that individual or team success can be achieved from what constitutes success for the client.</li>
          <li>Show that value delivered to the client increase client's business agility.</li>
          <li>Demonstrate creative approaches to meet or exceed client's expectations.</li>
          <li>Exhibit long-term perspective when addressing client's problems, trading off immediate costs against the advantage
            of a long-term relationship.</li>
        </ol>
         

        <h5>The Power of Team Work</h5>
        <ol type="1">
          <li>Demonstrate value of working for team success in thought, speech, and action.</li>
          <li>Show that individual success can be achieved thru team success by synchronizing and synergizing talent and efforts
            to generate outcomes for team success.</li>
          <li>Exhibit alignment to the common vision and goals of the team.</li>
          <li>Show that systematic planning and focus on execution excellence results in successful achievement of team vision
            and goals.
          </li>
          <li>Exhibit competition to collaborate with other members of the team for team success. </li>
          <li>Exhibit creativity and adaptability to manage planned and unplanned changes.</li>
          <li>Demonstrate learnability to rapidly acquire skills and knowledge and readiness to share them.</li>
          <li>Demonstrate learnability to rapidly acquire skills and knowledge and readiness to share them.</li>
          <li>Demonstrate constructive and assertive communication and feedback.</li>
        </ol>
         

        <h5>Demonstrating an Honest, Open, and Respectful Culture</h5>
        <ol type="1">
          <li>Demonstrate honesty, openness, and respect to people in thought, speech, and action. </li>
          <li> Demonstrate professionalism and honesty while dealing (organization and personal transactions) with colleagues,
            clients, suppliers and others.</li>
          <li>Exhibit and also assertively seek respect during work place discussions and activities from colleagues, clients,
            suppliers and others. </li>
          <li>Demonstrate openness and mutual respect during situations involving work stress, conflicts, and negotiations.
          </li>
          <li>Exhibit persistence to live up to personal values and moral commitments to self. </li>
          <li>Demonstrate objectivity, willingness to provide and receive feedback with an intent of improvement, relationship
            development, and successful collaborative working. </li>
          </li>
        </ol>
         

        <h5>The Tenacious Pursuit of Excellence</h5>
        <ol type="1">
          <li>Exhibit self-discipline in thought, speech, and action. </li>
          <li>Demonstrate working smart and hard with concentration. </li>
          <li>Demonstrate systematic work performance and attention to detail, to achieve set goals and targets. </li>
          <li>Demonstrate innovation and continuous improvement in client delivery and/or organization development. </li>
          <li>Proactively escalate issues, risks and failures and work for their prevention. </li>
          <li>Demonstrate time discipline and respect others time. </li>
          <li>Exhibit maintenance of work-life balance. </li>
          </li>
           
        </ol>

        <h5>Supporting an Entrepreneurial Spirit</h5>
        <ol type="1">
          <li>Exhibit optimism, confidence, and courage to take calculated risk for larger gain.</li>
          <li>Proactively question the ""status quo"" and seek to innovate and improve. </li>
          <li>Demonstrate self-motivation for working under various constraints with minimal resources and support. </li>
          <li>Demonstrate forward thinking, and sense new opportunities for products, services, and solutions.</li>
          <li>Demonstrate flexibility, enthusiasm, and energy to inspire colleagues to achieve set goals and targets.</li>
          <li>Plan and execute with ""measure and manage"" perspective to achieve success and growth.</li>
          </li>
        </ol>
      </div>

      <div id="sectionD" class="tab-pane fade">
        <h5>Technology & Tools - Development & Maintenance</h5>
        <ol type="1">
          <li>Develop in-depth application knowledge of the relevant technology platform(s). </li>
          <li>Develop ability to apply technology best practices for design and development.</li>
          <li>Develop ability to design and code software components with efficient technology solution structure, algorithms
            and methods.
          </li>
          <li>Develop ability to apply tools for design, development, documentation, and testing of software components.</li>
          <li>Keep abreast with developments in the technology platform(s).</li>
          <li>Achieve formal designer/developer qualification in the relevant technology and application domains. </li>

        </ol>
         

        <h5>Technology & Tools - QA Testing</h5>
        <ol type="1">
          <li>Develop in-depth application knowledge of software application domain and relevant technology platforms on which
            the software application would be tested.</li>
          <li>Develop in-depth application knowledge of test strategy and test planning development.</li>
          <li>Apply best practices while designing and developing QA artifacts and during testing.</li>
          <li>Develop ability in test automation tools for test design, execution and test management.</li>
          <li>Keep abreast with developments in the testing domain and testing technology and tools.</li>
          <li>Achieve formal software testing qualification in the relevant technology and application domains.</li>

        </ol>
         

        <h5>Technology & Tools - IT Enabled Services</h5>
        <ol type="1">
          <li>Develop in-depth application knowledge of the client specific technology and platform(s).</li>
          <li>Apply best practices for implementation of IT/software support services. </li>
          <li>Develop ability to apply tools for troubleshooting and resolving tickets.</li>
          <li>Keep abreast with developments in the technology platform(s) and tools for IT/software support.</li>
          <li>Achieve formal IT/software support qualification in the relevant technology and application domains.</li>

        </ol>
         

        <h5>Software Engineering - Development & Maintenance</h5>
        <ol type="1">
          <li>Develop in-depth application knowledge of object oriented analysis, design and development and framework based
            development.
          </li>
          <li>Develop ability for dealing with complex technical problems and problem analysis from multiple dimensional perspective
            to solve complex problems in a variety of contexts.</li>
          <li>Develop ability for problem decomposition, solution alternatives development, cost-benefit analysis, and risk analysis,
            solution selection, implementation and validation.</li>
          <li>Develop in-depth application knowledge of frameworks, design patterns, design methods and techniques, and tools.</li>
          <li>Develop in-depth application knowledge of software component design and development using efficient design methods,
            programming techniques, and tools.</li>
          <li>Develop ability to produce software code that conforms to design and requirements first time right.</li>
          <li>Develop ability to review software design and software code to detect defects and inefficient coding solutions.</li>
          <li>Develop ability to test software using manual and test automation for maximum code and requirement coverage.</li>
          <li>Develop ability to use tools effectively for software configuration control, change control, and software release.
          </li>
          <li>Develop ability to analyze defects and identify root cause of defects to help enable defect prevention.</li>

        </ol>
         

        <h5>Software Engineering - QA Testing</h5>
        <ol type="1">
          <li>Develop in-depth application knowledge of testing from technology and application domain and end-user perspective.</li>
          <li>Develop in-depth knowledge of test design methods and techniques, and tools.</li>
          <li>Develop ability for dealing with complex testing problems and problem analysis from multiple dimensional perspective
            to resolve complex problems in a variety of contexts.</li>
          <li>Develop ability to plan and apply automations tools effectively in Software Test Life Cycle.</li>
          <li>Develop ability plan and execute testing using test automation for maximum test coverage (requirement and code
            coverage).
          </li>
          <li>Develop in-depth application knowledge of managing the defect management process.</li>
          <li>Develop ability to analyzes software defects and assess software quality.</li>
          <li>Develop ability to analyze defects and identify root cause of defects to help enable defect prevention.</li>
          <li>Develop ability to estimate/predict defects in software being developed based on past-software quality data and
            assess sufficiency of testing.</li>

        </ol>
         

        <h5>Software Engineering - IT Enabled Services</h5>
        <ol type="1">
          <li>Develop in-depth application knowledge of IT support strategy and support services planning development. </li>
          <li>Develop in-depth application knowledge of IT/software support approaches, methods, and techniques.</li>
          <li>Develop ability for dealing with complex IT support services problems and problem analysis from multiple dimensional
            perspective to resolve complex problems in a variety of contexts.</li>
          <li>Develop ability to plan and execute IT/software support services for maximum SLA compliance achievement.</li>
          <li>Develop ability to analyze tickets/issues and identify root cause of issues to help for prevention by the client.</li>
          <li>Develop ability to estimate/predict ticket/issue volumes based on past data and current state of the software and
            assess sufficiency of helpdesk support.</li>
        </ol>
         

        <h5>Domain</h5>
        <ol type="1">
          <li>Develop comprehension of business domain vocabulary, concepts, principles, business functions and activities.
          </li>
          <li>Develop in-depth knowledge of domain business processes to understand business requirements, software solution
            requirements, solution architecture and design, and verification and validation of software from domain and end-user
            perspective.</li>
          <li>Develop in-depth understanding of the business problems in the domain and innovative ways of solving business problems
            by applying technology solutions.
            <li>Develop ability for dealing with technical problems and problem analysis from multiple dimensional perspective.</li>
            <li>Develop ability for problem decomposition, solution alternatives development, solution implementation and validation.
            </li>
            <li>Develop analytical ability, pragmatism, and other traits to resolve complex problems in a variety of contexts.</li>
        </ol>
         

        <h5>Process - Development & Maintenance</h5>
        <ol type="1">
          <li>Develop in-depth understanding of iterative and agile software process model for software development, maintenance,
            and testing.</li>
          <li>Develop comprehension of software engineering and project management process for software development, maintenance
            and testing.</li>
          <li>Develop process oriented work style with attention to detail.</li>
          <li>Develop ability to measure, manage, and improve work performance.</li>
          <li>Develop ability for learning from mistakes and avoid their recurrence.</li>
          <li>Develop ability for process innovation.</li>
        </ol>
         

        <h5>Process - QA Testing</h5>
        <ol type="1">
          <li>Develop in-depth understanding of iterative and agile process model for software development, maintenance, and
            testing.</li>
          <li>Develop comprehension of software engineering and project management process for software development, maintenance
            and testing.</li>
          <li>Develop ability for process oriented work style with attention to detail.</li>
          <li>Develop ability to measure, manage, and improve work performance.</li>
          <li>Develop ability for learning from mistakes and avoid their recurrence.</li>
          <li>Develop ability for process innovation.</li>
        </ol>
         

        <h5>Process - IT Enabled Services</h5>
        <ol type="1">
          <li>Develop comprehension of processes and standards for managed services (ITIL, ISO 20000).</li>
          <li>Develop comprehension of software and IT support services and project management process for managed services.</li>
          <li>Develop process oriented work style with attention to detail.</li>
          <li>Develop ability to measure, manage, and improve work performance.</li>
          <li>Develop ability for learning from mistakes and avoid their recurrence.</li>
          <li>Develop ability for process innovation.</li>
        </ol>
         

        <h5>Information Security - Development & Maintenance</h5>
        <ol type="1">
          <li>Develop in-depth understanding of adherence to information security policies, controls and processes during project
            life cycle.</li>
          <li>Develop understanding of external and internal issues related to information security, associated risks and risk
            treatment.</li>
          <li>Develop understanding of information security events and incidents, and reporting them.</li>
          <li>Develop in-depth application knowledge of secured software development covering product security during requirements,
            design, development and testing, and deployment.</li>
        </ol>
         

        <h5>Information Security - QA Testing</h5>
        <ol type="1">
          <li>Develop in-depth understanding of adherence to information security policies, controls and processes during project
            life cycle.</li>
          <li>Develop understanding of external and internal issues related to information security, associated risks and risk
            treatment.</li>
          <li>Develop understanding of information security events and incidents, and reporting them.</li>
          <li>Develop in-depth application knowledge of secured software maintenance covering product security during requirements,
            design, development and testing, and deployment.</li>
        </ol>
         

        <h5>Information Security - IT Enabled Services</h5>
        <ol type="1">
          <li>Develop in-depth understanding of adherence to information security policies, controls and processes during project
            life cycle.</li>
          <li>Develop understanding of external and internal issues related to information security, associated risks and risk
            treatment.</li>
          <li>Develop understanding of information security events and incidents, and reporting them.</li>
          <li>Develop in-depth application knowledge of delivering IT enabled services.</li>
        </ol>
         

        <h5>Management</h5>
        <ol type="1">
          <li>Develop ability to manage self to fulfill work commitments consistently and generate outcomes for successful achievement
            of team vision and goals.
            <li>Develop ability to plan work in detail and focus on execution excellence (plan, execute, check and act).
              <li>Develop ability to work as a team problem solver.</li>
              <li>Develop ability for adapting to planned and unplanned change and be a change agent.</li>
              <li>Develop ability to listen and communicate constructively and assertively with colleagues.</li>
              <li>Develop ability to learn rapidly to acquire skills and knowledge of a subject matter.</li>
              <li>Develop ability to share knowledge and expertise with colleagues.</li>
              <li>Develop ability for innovation and continuous performance improvement.</li>
              <li>Develop ability for openness and flexibility to work with and support colleagues.</li>
        </ol>
         

        <h5>Communication</h5>
        <ol type="1">
          <li>Develop ability to fluently speak in English with clarity of thought and clarity of communication.</li>
          <li>Develop ability for creative and original technical writing.</li>
          <li>Develop ability to write technical content precisely, concisely, and in a structured manner.</li>
          <li>Develop ability for business correspondence with business etiquette and professionally.</li>
          <li>Develop ability to listen and assimilate technical subject matter content.</li>
          <li>Develop ability to critically think and analyze information and facts pertaining to a requirement/problem/issue/query,
            and quickly communicate with appropriate response.</li>
          <li>Develop ability to present subject matter precisely, concisely, and in a structured manner keeping the target audience
            in mind.</li>
          <li>Develop ability to present opinions accurately and persuasively – both one-to-one and to a group in a way that
            positively influences the dialogue.</li>
          <li>Develop ability for non-verbal communication to connect with the audience, show sensitivity, humility, and politeness.
          </li>
        </ol>
         

        <h5>Workplace Behavior</h5>
        <ol type="1">
          <li>Being a client centric organization. </li>
          <li>The power of team work. </li>
          <li>Demonstrating an honest, open, and respectful culture. </li>
          <li>The tenacious pursuit of excellence. </li>
          <li>Supporting an entrepreneurial spirit. </li>
        </ol>
      </div>
    </div>
  </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function () {
          $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
          });
          var activeTab = localStorage.getItem('activeTab');
          if (activeTab) {
            $('#myTab a[href="' + activeTab + '"]').tab('show');
          }
        });

        document.getElementById("descriptions").style.backgroundColor = "#00665C";
        document.getElementById("descriptions").style.fontWeight = "600";
      </script>

{% endblock %}