{% extends 'menu.html' %} {% block body %}
<h4>Learning/Enhancing Skills <span class="badge open_count"> {{opencount}} </span> </h4>

<div class="dropdown pull-right">
    <a data-toggle="modal" data-target="#addlearning" class="btn btn-primary add-btn">Add</a> &nbsp;
    <select class="selectpicker search_dropdown" data-width="fit" data-size="6" onchange="location = this.value;">
        {% for cycle in cycles %}
            <option value="{% url 'competence:learning' cycle %}"
            {% if selected_cycle == cycle %} selected="selected" {% endif %}> {{cycle}} </option>
        {% endfor %}
    </select>
</div>
<hr>

{% if learning_skills %}
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th>Skill Title</th>
            <th>Course Title</th>
            <th>Duration</th>
            <th>Outcome/Deliverable</th>
            <th>Certification</th>
            <th>Applied?</th>
            <th>Proficiency</th>
            <th>Date</th>
            <th>Status</th>
            <th>CDP</th>
            <th>
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>
        {% for learning in learning_skills %}
        <tr>
            <td>{{ learning.skill_title }}</td>
            <td>{{ learning.course_title}}</td>
            <td>{{ learning.skill_duration_hours }} hrs</td>
            <td class="ellipsis">{{ learning.outcome_deliverable }}</td>
            <td class="ellipsis">{{ learning.certification }}</td>
            <td>{{ learning.skills_applied_flag }}</td>
            <td>{{ learning.proficiency_level }}</td>
            <td>{{ learning.created_date|date:"M d, Y" }}</td>
            <td style="font-weight: 600; 
                {% if learning.status == "Open" %} color: #0052CC;"
                {% elif learning.status == "Pending Approval" %} color: orangered;" 
                {% elif learning.status == "Close" %} color: green;"
                {% endif %}>{{ learning.status }}</td>
            <td>{{ learning.cdp_awarded }}</td>
            <td>
                <center>
                    {% if learning.status == "Open" %}
                    <a data-toggle="modal" data-target="#editlearning{{learning.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                    </a>
                    <a data-toggle="modal" data-target="#deletelearning{{learning.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                    </a>
                    {% else %}
                    <a data-toggle="modal" data-target="#editlearning{{learning.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="View">&#xE03B;</i>
                    </a>
                    {% endif %}
                </center>

                        <div class="modal fade" id="editlearning{{learning.id}}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="POST" action="{% url 'competence:learning_update' learning.id %}">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Edit Learning/Enhancing Skill</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-6 form-group">
                                                    <label for="skill_title">Skill Title</label>
                                                    <input type="text" name="skill_title" value="{{ learning.skill_title }}" class="form-control" style="width:100%;" {%  if learning.status == 'Open' %} required {% else %} readonly {% endif %}  >
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <label for="course_title">Course Title</label>
                                                    <input type="name" name="course_title" value="{{ learning.course_title }}" class="form-control" style="width:100%;" {%  if learning.status == 'Open' %} required {% else %} readonly {% endif %}  >
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <label for="skill_duration_hours">Duration (in hours)</label>
                                                    <input type="number" min="0" name="skill_duration_hours" value="{{ learning.skill_duration_hours }}" class="form-control" style="width:100%;" {%  if learning.status == 'Open' %} required {% else %} readonly {% endif %}  >
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <label for="skills_applied_flag">Skills Applied?</label>
                                                    {% if learning.status == 'Open' %}
                                                    <select name="skills_applied_flag" class="form-control" style="width:100%;" required}>
                                                        <option selected readonly hidden style='display: none' value=''>Select</option>
                                                        {% for skills_applied_flag in skills_applied_flags %}
                                                        <option {% if learning.skills_applied_flag == skills_applied_flag %} selected="selected" {% endif %}> {{skills_applied_flag}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    {% else %}
                                                    <input type="text" name="skills_applied_flag" value="{{ learning.skills_applied_flag }}" class="form-control" style="width:100%;" readonly>
                                                    {% endif %}
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <label for="proficiency_level">Proficiency Level</label>
                                                    {% if learning.status == 'Open' %}
                                                    <select name="proficiency_level" class="form-control" style="width:100%;" required >
                                                        <option selected readonly hidden style='display: none' value=''>Select</option>
                                                        {% for proficiency_level in proficiency_levels %}
                                                        <option {% if proficiency_level == learning.proficiency_level %} selected="selected" {% endif %}> {{proficiency_level}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    {% else %}
                                                    <input type="text" name="proficiency_level" value="{{ learning.proficiency_level }}" class="form-control" style="width:100%;" readonly>
                                                    {% endif %}
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <label for="created_date">Date</label>
                                                    <input type="date" name="created_date" value="{{ learning.created_date }}" class="form-control" style="width:100%;" {%  if learning.status == 'Open' %} required {% else %} readonly {% endif %}>
                                                </div>
                                                <div class="col-sm-12 form-group">
                                                    <label for="outcome_deliverable">Outcome Deliverable</label>
                                                    <textarea rows="3" name="outcome_deliverable" class="form-control" style="width:100%;" {%  if learning.status == 'Open' %} required {% else %} readonly {% endif %}>{{ learning.outcome_deliverable }}</textarea>
                                                </div>
                                                <div class="col-sm-12 form-group">
                                                    <label for="certification">Certification</label>
                                                    <textarea rows="3" name="certification" class="form-control" style="width:100%;" {%  if learning.status == 'Open' %} required {% else %} readonly {% endif %}  >{{ learning.certification }}</textarea>
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <label for="status">Status</label>
                                                    <input type="text" name="status" value="{{ learning.status }}" class="form-control" style="width:100%;" readonly>
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <label for="cdp_awarded">CDP Awarded</label>
                                                    <input type="number" name="cdp_awarded" value="{{ learning.cdp_awarded }}" class="form-control" style="width:100%;" readonly>
                                                </div>
                                            </div>
                                            
                                        </div>
                                            <div class="modal-footer">
                                                {% if learning.status == 'Open'%}
                                                <input type="submit" data-inline="true" class="btn btn-primary" value="Save as Draft" onclick = "button_edit('Open', {{learning.id}})" >
                                                <input type="submit" data-inline="true" class="btn btn-success pull-left" value="Submit for Approval" onclick = "button_edit('Pending Approval', {{learning.id}})">
                                                {% endif %}
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                <input type="hidden" id="{{learning.id}}" name="status_edit">
                                            </div>
                                    </form>
                                    </div>
                                </div>
                            </div>

                        <div class="modal fade" id="deletelearning{{learning.id}}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content" id="modal-delete">
                                    <div class="modal-body">
                                        <h4 class="modal-title">Confirm Delete ?</h4>
                                        <form action="{% url 'competence:learning_delete' learning.id %}">
                                            <input type="submit" data-inline="true" class="btn btn-danger" value="Delete"> &nbsp;
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<div id="nodata">No data found</div>
{% endif %}

<div class="modal fade" id="addlearning" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{% url 'competence:learning_add' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Learning/Enhancing Skill</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="skill_title">Skill Title</label>
                                <input type="text" name="skill_title" class="form-control" style="width:100%;" required >
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="course_title">Course Title</label>
                                <input type="name" name="course_title" class="form-control" style="width:100%;" required >
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="skill_duration_hours">Duration (in hours)</label>
                                <input type="number" min="0" name="skill_duration_hours" class="form-control" style="width:100%;" required >
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="skills_applied_flag">Skills Applied?</label>
                                <select name="skills_applied_flag" class="form-control" style="width:100%;" required>
                                    {% for skills_applied_flag in skills_applied_flags %}
                                    <option> {{skills_applied_flag}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="proficiency_level">Proficiency Level</label>
                                <select name="proficiency_level" class="form-control" style="width:100%;" required>
                                    {% for proficiency_level in proficiency_levels %}
                                    <option> {{proficiency_level}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-6 form-group">
                              <label for="created_date">Date (MM/DD/YYYY)</label> 
                              <input type="date" id ="currentdate" name="created_date" class="form-control" style="width:100%;" required />
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="outcome_deliverable">Outcome Deliverable</label>
                                <textarea rows="3" name="outcome_deliverable" class="form-control" style="width:100%;" required ></textarea>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="certification">Certification</label>
                                <textarea rows="3" name="certification" class="form-control" style="width:100%;" required></textarea>
                            </div>
                        </div>
                    </div>
                        <div class="modal-footer">
                            <input type="submit" data-inline="true" class="btn btn-primary" value="Save as Draft" onclick = "button_add('Open')" >
                            <input type="submit" data-inline="true" class="btn btn-success pull-left" value="Submit for Approval" onclick = "button_add('Pending Approval')">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <input type="hidden" id="hidden_add" name="status_add">
                        </div>
                </form>
                </div>
            </div>
        </div>

<script>
    document.getElementById("learning").style.backgroundColor = "#00665C";
    document.getElementById("learning").style.fontWeight = "600";

    function button_add(status_add) {
        document.getElementById("hidden_add").value = status_add;
    }

    function button_edit(status_edit, edit_id) {
        document.getElementById(edit_id).value = status_edit;
    }
</script>
        
{% endblock %}