{% extends 'menu.html'%} {% block body %}

<style>
  label {
        font-size: 13px;
        font-weight: 700;
    }
</style>

<h4> {% if category.status == "Open" %} Update {% else %} View {% endif %} Organization Development  
  <span class="status">{{category.status}} </span> 
</h4>

<div class="dropdown pull-right">
    <select class="selectpicker search_dropdown" data-width="fit" data-size="6" onchange="location = this.value;">
        {% for cycle in cycles %}
            <option value="{% url 'competence:organization_development' cycle %}"
            {% if selected_cycle == cycle %} selected="selected" {% endif %}> {{cycle}} </option>
        {% endfor %}
    </select>
</div>
<hr> 

{% if categories %}
{% for category in categories|slice:"1" %}
<div style="color: red; margin-top: 15px;">
    {% if category.status == "Open" %} Please fill up the details and Submit or Save as Draft 
    {% elif category.status == "Pending Approval" %} Data submitted on <strong>{{ category.last_updated_date|date:'M d, Y'}}</strong>. 
    Pending for Approval with your Reporting Manager. 
    {% else %} Approved on <strong>{{ category.last_updated_date|date:'M d, Y' }}</strong>
    <strong style="float: right;"> Overall Rating : {{ avg_rating }}</strong>
    {% endif %}
</div>

<form method="POST" action="{% url 'competence:organization_development_update' category.effective_end%}">
  {% csrf_token %}
  <table id="form_table" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th>Activity</th>
            <th>Contributions</th>
            {% if category.status == "Close" %}
            <th>Manager Feedback</th>
            <th><center>Rating</center></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.category|wordwrap:70|linebreaks }} </td>
            <td>
                {% if category.status == "Open" %}
                <textarea rows="3" id="comments" name="{{ category.category }}_associate_comments" class="form-control" style="width:100%;" 
                 required>{{ category.associate_comments }}</textarea>
                {% else %}
                {{ category.associate_comments|wordwrap:70|linebreaks }} 
                {% endif %}
            </td>
            {% if category.status == "Close" %}
            <td>{{ category.manager_feedback }}</td>
            <td><center>{{ category.manager_rating }}</center></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
  
  <div class="modal-footer">
      {% if category.status == "Open" %} 
      <input type="submit" data-inline="true" class="btn btn-primary" value="Save as Draft" onclick = "button('Open')" >
      <input type="submit" data-inline="true" class="btn btn-success pull-left" value="Submit for Approval" onclick = "button('Pending Approval')">
      <input type="hidden" id="hidden" name="status">
      {% endif %}
  </div>
</form>
{% endfor %}
{% else %}
<div id="nodata">No data available</div>
{% endif %}

<script>
  document.getElementById("organization_development").style.backgroundColor = "#00665C";
  document.getElementById("organization_development").style.fontWeight = "600";

  function button(status) {
      document.getElementById("hidden").value = status;
  }
  
</script> 

{% endblock %}