{% extends 'menu.html' %} {% block body %}
<h4>Extract data from Jira</h4>
<hr>

<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th>Project</th>
            <th>Period</th>
            <th>Story Points</th>
            <th>Total Tasks</th>
            <th>On-time Delivery </th>
            <th>Defects</th>
            <th>First Time Correct</th>
            <th>Competence <br> Rating</th>
        </tr>
    </thead>
    <tbody id="mytable">
        {% for jira in jiras %}
        <tr>
            <td>{{ jira.project_id }}</td>
            <td>{{ jira.month }} - {{ jira.year }}</td>
            <td>{{ jira.story_points }}</td>
            <td>{{ jira.total_tasks }}</td>
            <td>{{ jira.ontime_delivery }} %</td>
            <td>{{ jira.defects }}</td>
            <td>{{ jira.firsttime_correct }} %</td>
            <td>{{ jira.technical_competence_rating }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<script>
    document.getElementById("productivity").style.backgroundColor = "#00665C";
    document.getElementById("productivity").style.fontWeight = "600";
</script>

{% endblock %}