{% extends 'menu.html' %} {% block body %}
<h4>Sharing Skills <span class="badge open_count"> {{opencount}} </span> </h4>

<div class="dropdown pull-right">
    <a data-toggle="modal" data-target="#addsharing" class="btn btn-primary add-btn">Add</a> &nbsp;
    <select class="selectpicker search_dropdown" data-width="fit" data-size="6" onchange="location = this.value;">
        {% for cycle in cycles %}
            <option value="{% url 'competence:sharing' cycle %}"
            {% if selected_cycle == cycle %} selected="selected" {% endif %}> {{cycle}} </option>
        {% endfor %}
    </select>
</div>
<hr>

{% if sharing_skills%}
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th>Skill Title</th>
            <th>Course Title</th>
            <th>Duration</th>
            <th>Outcome/Deliverable</th>
            <th>Mode of activity</th>
            <th>Associates Trained</th>
            <th>Date</th>
            <th>Status</th>
            <th>CDP</th>
            <th>
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>
        {% for sharing in sharing_skills %}
        <tr>
            <td>{{ sharing.skill_title }}</td>
            <td>{{ sharing.course_title }}</td>
            <td>{{ sharing.skill_duration_hours }} hrs </td>
            <td class="ellipsis">{{ sharing.outcome_deliverable}}</td>
            <td class="ellipsis">{{ sharing.mode_of_activity}}</td>
            <td class="ellipsis">{{ sharing.associates_trained}}</td>
            <td>{{ sharing.created_date|date:"M d, Y" }}</td>
            <td style="font-weight: 600; 
                {% if sharing.status == "Open" %} color: #0052CC;"
                {% elif sharing.status == "Pending Approval" %} color: orangered;" 
                {% elif sharing.status == "Close" %} color: green;"
                {% endif %}>{{ sharing.status }}</td>
                <td>{{ sharing.cdp_awarded }}</td>
            <td>
                <center>
                    {% if sharing.status == "Open" %}
                    <a data-toggle="modal" data-target="#editsharing{{sharing.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                    </a>
                    <a data-toggle="modal" data-target="#deletesharing{{sharing.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                    </a>
                    {% else %}
                    <a data-toggle="modal" data-target="#editsharing{{sharing.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="View">&#xE03B;</i>
                    </a>
                    {% endif %}
                </center>

                    <div class="modal fade" id="editsharing{{sharing.id}}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form method="POST" action="{% url 'competence:sharing_update' sharing.id %}">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit Sharing Skill</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="skill_title">Skill Title</label>
                                                <input type="text" name="skill_title" value="{{ sharing.skill_title }}" class="form-control" style="width:100%;" {%  if sharing.status == 'Open' %} required {% else %} readonly {% endif %} >
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="course_title">Course Title</label>
                                                <input type="name" name="course_title" value="{{ sharing.course_title }}" class="form-control" style="width:100%;" {%  if sharing.status == 'Open' %} required {% else %} readonly {% endif %}>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="skill_duration_hours">Duration (in hours)</label>
                                                <input type="number" min="0" name="skill_duration_hours" value="{{ sharing.skill_duration_hours }}" class="form-control" style="width:100%;" {%  if sharing.status == 'Open' %} required {% else %} readonly {% endif %}>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="certification">Mode of activity</label>
                                                <input type="text" name="mode_of_activity" value="{{ sharing.mode_of_activity }}" class="form-control" style="width:100%;" {%  if sharing.status == 'Open' %} required {% else %} readonly {% endif %}>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="created_date">Date</label>
                                                <input type="date" name="created_date" value="{{ sharing.created_date }}" class="form-control" style="width:100%;" {%  if sharing.status == 'Open' %} required {% else %} readonly {% endif %} >
                                            </div>
                                            <div class="col-sm-12 form-group">
                                                <label for="outcome_deliverable">Outcome Deliverable</label>
                                                <textarea rows="3" name="outcome_deliverable" class="form-control" style="width:100%;" {%  if sharing.status == 'Open' %} required {% else %} readonly {% endif %} >{{ sharing.outcome_deliverable }}
                                                </textarea>
                                            </div>
                                            <div class="col-sm-12 form-group">
                                                <label for="associates_trained">Associates Trained</label>
                                                <textarea rows="3" name="associates_trained" class="form-control" style="width:100%;" {%  if sharing.status == 'Open' %} required {% else %} readonly {% endif %} >{{ sharing.associates_trained }}
                                                </textarea>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="status">Status</label>
                                                <input type="text" name="status" value="{{ sharing.status }}" class="form-control" style="width:100%;" readonly >
                                            </div>
                                        </div>
                                        {% if sharing.status == 'Close'%}
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="cdp_awarded">CDP Awarded</label>
                                                <input type="number" name="cdp_awarded" value="{{ sharing.cdp_awarded }}" class="form-control" style="width:100%;" readonly>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        {% if sharing.status == 'Open'%}
                                        <input type="submit" data-inline="true" class="btn btn-primary" value="Save as Draft" onclick = "button_edit('Open', {{sharing.id}})" >
                                        <input type="submit" data-inline="true" class="btn btn-success pull-left" value="Submit for Approval" onclick = "button_edit('Pending Approval', {{sharing.id}})">
                                        {% endif %}
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <input type="hidden" id="{{sharing.id}}" name="status_edit">
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="deletesharing{{sharing.id}}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content" id="modal-delete">
                                <div class="modal-body">
                                    <h4 class="modal-title">Confirm Delete ?</h4>
                                    <form action="{% url 'competence:sharing_delete' sharing.id %}">
                                        <input type="submit" data-inline="true" class="btn btn-danger" value="Delete"> &nbsp;
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<div id="nodata">No data found</div>
{% endif %}

<div class="modal fade" id="addsharing" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{% url 'competence:sharing_add' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Sharing Skill</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="skill_title">Skill Title</label>
                                <input type="text" name="skill_title" class="form-control" style="width:100%;" required >
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="course_title">Course Title</label>
                                <input type="name" name="course_title" class="form-control" style="width:100%;" required >
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="skill_duration_hours">Duration (in hours)</label>
                                <input type="number" min="0" name="skill_duration_hours" class="form-control" style="width:100%;" required >
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="certification">Mode of activity</label>
                                <input type="text" name="mode_of_activity" class="form-control" style="width:100%;" required >
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="created_date">Date</label>
                                <input type="date" id ="currentdate" name="created_date" value="{{ sharing.created_date }}" class="form-control" style="width:100%;" required  >
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="outcome_deliverable">Outcome Deliverable</label>
                                <textarea rows="3" name="outcome_deliverable" class="form-control" style="width:100%;" required >
                                </textarea>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="skills_applied_flag">Associates Trained</label>
                                <textarea rows="3" name="associates_trained" class="form-control" style="width:100%;" required >
                                </textarea>
                            </div>
                        </div>
                    </div>
                        <div class="modal-footer">
                            <input type="submit" data-inline="true" class="btn btn-primary" value="Save as Draft" onclick = "button_add('Open')" >
                            <input type="submit" data-inline="true" class="btn btn-success pull-left" value="Submit for Approval" onclick = "button_add('Pending Approval')">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <input type="hidden" id="hidden_add" name="status_add">
                        </div>
                </form>
                </div>
            </div>
        </div>

<script>
    document.getElementById("sharing").style.backgroundColor = "#00665C";
    document.getElementById("sharing").style.fontWeight = "600";

    function button_add(status_add) {
        document.getElementById("hidden_add").value = status_add;
    }

    function button_edit(status_edit, edit_id) {
        document.getElementById(edit_id).value = status_edit;
    }
</script>

{% endblock %}