{% extends 'menu.html'%} {% block body %}

<h4>Appreciations Given
    <span class="badge open_count"> {{opencount}} </span>
</h4>

<div class="dropdown pull-right">
    <a data-toggle="modal" data-target="#add" class="btn btn-primary add-btn">Add</a> &nbsp;
    <select class="selectpicker" data-width="fit" data-size="6" onchange="location = this.value;">
        {% for cycle in cycles %}
            <option value="{% url 'competence:appreciations_given' cycle %}"
            {% if selected_cycle == cycle %} selected="selected" {% endif %}> {{cycle}} </option>
        {% endfor %}
    </select>
</div>

<hr>

{% if commitments%}
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="15%">Associate Recognised</th>
            <th width="45%">Comments</th>
            <th width="10%">Date</th>
            <th width="10%">Status</th>
            <th width="10%">
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>
        {% for commitment in commitments %}
        <tr>
            <td>{{commitment.associate_name}} ({{commitment.associate_id}})</td>
            <td class="ellipsis">{{commitment.comments }}</td>
            <td>{{commitment.created_date|date:"M d, Y"}}</td>
            <td style="font-weight: 600; 
                {% if commitment.status == "Open" %} color: #0052CC;"
                {% elif commitment.status == "Pending Approval" %} color: orangered;" 
                {% elif commitment.status == "Approved" %} color: green;"
                {% endif %}>{{ commitment.status }}
            </td>
            <td>
                <center>
                    {% if commitment.status == 'Open' %}
                    <a data-toggle="modal" data-target="#{{commitment.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Edit">edit</i>
                    </a>
                    <a class="anchor" data-toggle="modal" data-target="#d{{commitment.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                    </a>
                    {% else %}
                    <a data-toggle="modal" data-target="#{{commitment.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="View">&#xE03B;</i>
                    </a>
                    {% endif %}
                </center>
                <div class="modal fade" id="{{commitment.id}}" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="POST" action="{% url 'competence:appreciations_update' commitment.id %}">
                                <input name='page' type="hidden" value="appreciations_given">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4>{% if commitment.status == 'Open' %} Edit Details {% else %} View Details {% endif %}</h4>
                                </div>
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="recognise">Recognise</label>
                                            <input type="text" name="recognise" value="{{ commitment.associate_name }} ({{commitment.associate_id}})" class="form-control" style="width:100%;" readonly />
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="created_date">Date (MM/DD/YYYY)</label>
                                            <input type="date" name="created_date" value="{{ commitment.created_date|date:'Y-m-d' }}" class="form-control" style="width:100%;" {% if commitment.status == "Open" %} required {% else %} readonly {% endif %} />
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <label for="comments">Comments</label>
                                            <textarea name="comments" class="form-control" rows="3" id="comment" style="width:100%;" {% if commitment.status == "Open" %} required {% else %} readonly {% endif %}/>{{ commitment.comments }}</textarea>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="recogniseby"> {% if commitment.status == "Approved" %} Approved by {% else %} Approved required by {% endif%} </label>
                                            <input type="text" name="recogniseby" value="{{ commitment.approval_required_by_name }} ({{ commitment.approval_required_by }})" class="form-control" style="width:100%;" readonly />
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="status">Status</label>
                                            <input type="text" name="status" value="{{ commitment.status }}" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    {% if commitment.status == 'Open'%}
                                    <input name="action" type="submit" data-inline="true" class="btn btn-success pull-left" value="Send for Approval">
                                    <input name="action" type="submit" data-inline="true" class="btn btn-primary" value="Save">
                                    {% endif %}
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="d{{commitment.id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" id="modal-delete">
                            <div class="modal-body">
                                <h4 class="modal-title">Confirm Delete ?</h4>
                                <form method="POST" action="{% url 'competence:appreciations_delete' commitment.id %}">
                                    {% csrf_token %}
                                    <input type="submit" data-inline="true" class="btn btn-danger" value="Delete"> &nbsp;
                                    <input name='page' type="hidden" value="appreciations_given">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<div id="nodata">No data found</div>
{% endif %}

<div class="modal fade" id="add" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form method="POST" action="{% url 'competence:appreciations_add'%}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="recognise">Recognise</label>
                            <select name="recognise" class="selectpicker" data-width="100%" data-show-subtext="true" data-live-search="true" data-size="5">
                                {% for associate in associates %}
                                <option> {{associate.associate_name}} ({{associate.associate_id}})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6 form-group">
                          <label for="created_date">Date (MM/DD/YYYY)</label> 
                          <input type="date" id ="currentdate" name="created_date" class="form-control" style="width:100%;" required />
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="comments">Comments</label>
                            <textarea name="comments" class="form-control" rows="3" id="comment" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input name="action" type="submit" data-inline="true" class="btn btn-success pull-left" value="Send for Approval">
                    <input name="action" type="submit" data-inline="true" class="btn btn-primary" value="Save">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
    document.getElementById("currentdate").valueAsDate = new Date() 
    document.getElementById("appreciations_given").style.backgroundColor = "#00665C";
    document.getElementById("appreciations_given").style.fontWeight = "600";
</script> 

{% endblock %}