{% extends 'menu.html'%} {% block body %}

<h4>Appreciations Received</h4>

<div class="dropdown pull-right">
    <select class="selectpicker search_dropdown" data-width="fit" data-size="6" onchange="location = this.value;">
        {% for cycle in cycles %}
            <option value="{% url 'competence:appreciations_received' cycle %}"
            {% if selected_cycle == cycle %} selected="selected" {% endif %}> {{cycle}} </option>
        {% endfor %}
    </select>
</div>
<hr>

{% if commitments %}
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="15%">Recognised by</th>
            <th width="65%">Comments</th>
            <th width="10%">Date </th>
            <th width="10%">
                <center>Actions</center>
            </th>
        </tr>
    </thead>
    <tbody>

        {% for commitment in commitments %}
        <tr>
            <td>{{commitment.recognised_name}} ({{commitment.recognised_by}})</td>
            <td class="ellipsis">{{commitment.comments }}</td>
            <td>{{commitment.created_date|date:"M d, Y"}}</td>
            <td>
                <center>
                    <a data-toggle="modal" data-target="#{{commitment.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="View">&#xE03B;</i>
                    </a>
                </center>
                <div class="modal fade" id="{{commitment.id}}" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form>
                                <input name='page' type="hidden" value="appreciations_given">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Details</h4>
                                </div>
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="recognise">Recognised by</label>
                                            <input type="text" name="recognise" value="{{ commitment.recognised_name }} ({{commitment.recognised_by}})" class="form-control" style="width:100%;" readonly
                                            />
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="created_date">Date </label>
                                            <input type="text" name="created_date" value="{{ commitment.created_date|date:" M d, Y " }}" class="form-control" style="width:100%;"
                                                readonly />
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <label for="comments">Comments</label>
                                            <textarea name="comments" class="form-control" rows="3" id="comment" style="width:100%;" readonly/>{{ commitment.comments }}</textarea>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="recogniseby"> Approved by </label>
                                            <input type="text" name="recogniseby" value="{{ commitment.approval_required_by_name }} ({{ commitment.approval_required_by }})" class="form-control" style="width:100%;" readonly />
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="status">Status</label>
                                            <input type="text" name="status" value="{{ commitment.status }}" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<div id="nodata"> No Appreciations received </div>
{% endif %}

<script>
    document.getElementById("appreciations_received").style.backgroundColor = "#00665C";
    document.getElementById("appreciations_received").style.fontWeight = "600";
</script>

{% endblock %}