{% extends 'menu.html' %} {% block body %}

<h4> Contributions towards Key Result Areas </h4>

<div class="dropdown pull-right">
    <select class="selectpicker search_dropdown" data-width="fit" data-size="6" onchange="location = this.value;">
        {% for cycle in cycles %}
        <option value="{% url 'competence:associate_kras' cycle 'cycle1' %}" 
        {% if selected_cycle == cycle %} selected="selected" {% endif %}> {{cycle}} </option>
        {% endfor %}
    </select>
</div>
<hr>

<div class="bs-example">
    <ul class="nav nav-tabs" id="myTab">
        {% if cycle > 0 %}
        <li {% if performance_cycle == 'cycle1' %} class="active" {% endif %}>
                <a href="{% url 'competence:associate_kras' selected_cycle 'cycle1' %}"> Cycle 1 (April to July) </a>
        </li>
        {% endif %} 
        {% if cycle > 1 %}
        <li {% if performance_cycle == 'cycle2' %} class="active" {% endif %}>
            <a href="{% url 'competence:associate_kras' selected_cycle 'cycle2' %}"> Cycle 2 (August to November) </a>
        </li>
        {% endif %} 
        {% if cycle > 2 %}
        <li {% if performance_cycle == 'cycle3' %} class="active" {% endif %}>
            <a href="{% url 'competence:associate_kras' selected_cycle 'cycle3' %}"> Cycle 3 (December to March)</a>
        </li>
        {% endif %}
    </ul>
</div>

<div class="tab-content col-md-12">
{% if categories %}
{% for category in categories|slice:"1" %}
<div style="color: orangered; margin-top: 15px; font-weight: 600">
    {% if category.status == "Open" %} Please fill up the details and Submit or Save as Draft 
    {% elif category.status == "Pending Approval" %} Data submitted on <strong> {{category.last_updated_date|date:'M d, Y'}}. 
    Pending for Approval </strong> with your Reporting Manager. 
    {% else %} Approved on <strong> {{ category.last_updated_date|date:'M d, Y' }} </strong>
    <strong style="float: right;"> Overall Rating : {{ avg_rating }}</strong>
    {% endif %}
</div>

<form method="POST" action="{% url 'competence:associate_kras_update' category.effective_end %}">
    {% csrf_token %}
    <input name="selected_cycle" type="hidden" value="{{selected_cycle}}">
    <input name="performance_cycle" type="hidden" value="{{performance_cycle}}">
    
    <table id="form_table" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
        <thead>
            <tr>
                <th width="15%">Category</th>
                {% if category.status != "Close" %}
                <th width="20%">Description</th>
                {% endif %}
                <th width="10%">Weightage</th>
                <th width="10%">Target (1-5)</th>
                <th width="30%">Associate Contributions </th>
                {% if category.status == "Close" %}
                <th width="30%">Manager Feedback </th>
                <th width="10%"><center>Rating (1-5)</center></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.category|wordwrap:50|linebreaks }} </td>
                {% if category.status != "Close" %}
                <td>{{ category.description|wordwrap:60|linebreaks }}</td>
                {% endif %}
                <td>{{ category.weightage }} % </td>
                <td> >= {{ category.category_target }} </td>
                <td>
                    {% if category.status == "Open" %}
                    <textarea rows="3" id="comments" name="{{ category.category }}_associate_comments" class="form-control" style="width:100%;" 
                     required>{{ category.associate_comments }}</textarea>
                    {% else %}
                    {{ category.associate_comments|wordwrap:70|linebreaks }} 
                    {% endif %}
                </td>
                {% if category.status == "Close" %}
                <td>{{ category.manager_feedback|wordwrap:70|linebreaks }}</td>
                <td><center>{{ category.manager_rating }}</center></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="modal-footer">
        {% if category.status == "Open" %}
        <input type="submit" data-inline="true" class="btn btn-primary" value="Save as Draft" onclick = "button('Open')" >
        <input type="submit" data-inline="true" class="btn btn-success pull-left" value="Submit for Approval" onclick = "button('Pending Approval')">
        <input type="hidden" id="hidden" name="status">
        {% endif %}
    </div>
</form>
{% endfor %}
{% endif %}
</div>

{% if not categories %}
<div id="nodata">KRAs are yet to be defined to you. Please contact your reporting manager </div>
{% endif %}


<script>
    document.getElementById("associate_kras").style.backgroundColor = "#00665C";
    document.getElementById("associate_kras").style.fontWeight = "600";
    
    function button(status) {
      document.getElementById("hidden").value = status;
    }
</script>

{% endblock %}