{% extends 'menu.html' %} {% block body %}
<h4>Awards Received <span class="badge open_count"> {{opencount}} </span> </h4>

<div class="dropdown pull-right">
    <a data-toggle="modal" data-target="#addaward" class="btn btn-primary add-btn">Add</a> &nbsp;
    <select class="selectpicker search_dropdown" data-width="fit" data-size="6" onchange="location = this.value;">
        {% for cycle in cycles %}
            <option value="{% url 'competence:awards_received' cycle %}"
            {% if selected_cycle == cycle %} selected="selected" {% endif %}> {{cycle}} </option>
        {% endfor %}
    </select>
</div>
<hr>

{% if awards %}
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="20%">Category</th>
            <th width="40%">Comments</th>
            <th width="10%">Received On</th>
            <th width="10%">Status</th>
            <th width="10%">
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>
        {% for award in awards %}
        <tr>
            <td>{{ award.award_category }}</td>
            <td class="ellipsis">{{ award.comments}}</td>
            <td>{{ award.created_date|date:"M d, Y" }} </td>
            <td style="font-weight: 600; 
                {% if award.status == "Open" %} color: #0052CC;"
                {% elif award.status == "Pending Approval" %} color: orangered;" 
                {% elif award.status == "Approved" %} color: green;"
                {% endif %}>{{ award.status }}
            </td>
            <td>
                <center>
                    {% if award.status == "Open" %}
                    <a data-toggle="modal" data-target="#editaward{{award.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                    </a>
                    <a data-toggle="modal" data-target="#deleteaward{{award.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                    </a>
                    {% else %}
                    <a data-toggle="modal" data-target="#editaward{{award.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="View">&#xE03B;</i>
                    </a>
                    {% endif %}
                </center>
                        <div class="modal fade" id="editaward{{award.id}}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="POST" action="{% url 'competence:awards_update' award.id %}">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"> {% if award.status == 'Open' %} Edit Details {% else %} View Details {% endif %}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-6 form-group">
                                                    <label for="award_category">Category</label>
                                                    {% if award.status == 'Open' %}
                                                    <select name="award_category" class="form-control" style="width:100%;" required >
                                                        <option selected readonly hidden style='display: none' value=''>Select</option>
                                                        {% for award_category in award_categories %}
                                                        <option {% if award_category == award.award_category %} selected="selected" {% endif %}> {{award_category}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    {% else %}
                                                    <input type="text" name="award_category" value="{{ award.award_category }}" class="form-control" style="width:100%;" readonly>
                                                    {% endif %}
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <label for="created_date">Received On</label>
                                                    <input type="date" name="created_date" value="{{ award.created_date }}" class="form-control" style="width:100%;" {%  if award.status == 'Open' %} required {% else %} readonly {% endif %}>
                                                </div>
                                                <div class="col-sm-12 form-group">
                                                    <label for="comments">Comments</label>
                                                    <textarea name="comments" class="form-control" rows="2" style="width:100%;" {%  if award.status == 'Open' %} required {% else %} readonly {% endif %} /> {{ award.comments }}</textarea>
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <label for="status">Status</label>
                                                    <input type="text" name="status" value="{{ award.status }}" class="form-control" style="width:100%;" readonly>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="modal-footer">
                                                {% if award.status == 'Open'%}
                                                <input type="submit" data-inline="true" class="btn btn-primary" value="Save as Draft" onclick = "button_edit('Open', {{award.id}})" >
                                                <input type="submit" data-inline="true" class="btn btn-success pull-left" value="Submit for Approval" onclick = "button_edit('Pending Approval', {{award.id}})">
                                                {% endif %}
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                <input type="hidden" id="{{award.id}}" name="status_edit">
                                            </div>
                                    </form>
                                    </div>
                                </div>
                            </div>

                        <div class="modal fade" id="deleteaward{{award.id}}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content" id="modal-delete">
                                    <div class="modal-body">
                                        <h4 class="modal-title">Confirm Delete ?</h4>
                                        <form action="{% url 'competence:awards_delete' award.id %}">
                                            <input type="submit" data-inline="true" class="btn btn-danger" value="Delete"> &nbsp;
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<div id="nodata"> No Awards received </div>
{% endif %}

<div class="modal fade" id="addaward" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{% url 'competence:awards_add' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Award</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="award_category">Category</label>
                                <select name="award_category" class="form-control" style="width:100%;" required >
                                    {% for award_category in award_categories %}
                                    <option {% if award_category == award.award_category %} selected="selected" {% endif %}> {{award_category}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="created_date">Received On</label>
                                <input type="date" id ="currentdate" name="created_date" value="{{ award.created_date }}" class="form-control" style="width:100%;" required>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="comments">Comments</label>
                                <textarea name="comments" class="form-control" rows="2" style="width:100%;" required/>{{ award.comments }}</textarea>
                            </div>
                        </div>
                    </div>
                        <div class="modal-footer">
                            <input type="submit" data-inline="true" class="btn btn-primary" value="Save as Draft" onclick = "button_add('Open')" >
                            <input type="submit" data-inline="true" class="btn btn-success pull-left" value="Submit for Approval" onclick = "button_add('Pending Approval')">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <input type="hidden" id="hidden_add" name="status_add">
                        </div>
                </form>
                </div>
            </div>
        </div>

<script>
    document.getElementById("currentdate").valueAsDate = new Date()
    document.getElementById("awards_received").style.backgroundColor = "#00665C";
    document.getElementById("awards_received").style.fontWeight = "600";

    function button_add(status_add) {
        document.getElementById("hidden_add").value = status_add;
    }

    function button_edit(status_edit, edit_id) {
        document.getElementById(edit_id).value = status_edit;
    }
</script>
        
{% endblock %}