{% extends 'menu.html'%} {% block body %}


<h4>Feedback Given
    <span class="badge open_count"> {{opencount}} </span>
</h4>

<div class="dropdown pull-right">
    <a data-toggle="modal" data-target="#add" class="btn btn-primary add-btn">Add</a> &nbsp;
    <select class="selectpicker search_dropdown" data-width="fit" data-size="6" onchange="location = this.value;">
        {% for cycle in cycles %}
            <option value="{% url 'competence:feedback_given' cycle %}"
            {% if selected_cycle == cycle %} selected="selected" {% endif %}> {{cycle}} </option>
        {% endfor %}
    </select>
</div>

<hr>

{% if feedbacks %}
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="15%">FeedBack To</th>
            <th width="15%">Category</th>
            <th width="40%">Comments</th>
            <th width="10%">Status</th>
            <th width="10%">Date </th>
            <th width="10%">
                <center>Actions</th>
            </center>
        </tr>
    </thead>
    <tbody>

        {% for feedback in feedbacks %}
        <tr>
            <td>{{feedback.associate_name}} ({{feedback.associate_id}})</td>
            <td>{{feedback.category}}</td>
            <td class="ellipsis">{{feedback.comments}}</td>
            <td style="font-weight: 600; 
                {% if feedback.status == "Open" %} color: #0052CC;"
                {% elif feedback.status == "In Progress" %} color: orange;"
                {% elif feedback.status == "Pending Approval" or feedback.status == "Action Approval" %} color: orangered;" 
                {% elif feedback.status == "Close" %} color: green;"
                {% endif %}>{{ feedback.status }}
            </td>
            <td>{{feedback.created_date|date:"M d, Y"}}</td>
            <td>
                <center>
                    <a class="anchor" data-toggle="modal" data-target="#a{{feedback.id}}">
                        {% if feedback.status == 'Open'%}
                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                        {% else %}
                        <i class="material-icons" data-toggle="tooltip" title="View">&#xE03B;</i>
                        {% endif %}
                    </a>
                    {% if feedback.status == 'Open'%}
                    <a class="anchor" data-toggle="modal" data-target="#d{{feedback.id}}">
                        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                    </a>
                    {% endif %}
                </center>

                <div class="modal fade" id="a{{feedback.id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <form method="POST" action="{% url 'competence:feedback_update' feedback.id %}">
                                <input name='page' type="hidden" value="feedback_given">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"> Feedback Details </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="recognise">Feedback To</label>
                                            <input type="text" name="recognise" value="{{ feedback.associate_name }} ({{ feedback.associate_id }})" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="category">Category</label>
                                            {% if feedback.status != 'Open' %}
                                            <input type="text" name="category" value="{{ feedback.category }}" class="form-control" style="width:100%;" readonly/>
                                            {% else %}
                                            <select name="category" class="form-control">
                                                {% for category in categories %}
                                                <option value="{{ category.category }}" {% if feedback.category == category.category %} selected="selected" {% endif %}>{{ category.category }}</option>
                                                {% endfor %}
                                            </select>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="created_date">Date (MM/DD/YYYY)</label>
                                            <input type="date" name="created_date" value="{{ feedback.created_date|date:'Y-m-d' }}" class="form-control" style="width:100%;" {% if feedback.status != 'Open' %} readonly {% else %} required {% endif %} />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="status">Status</label>
                                            <input type="text" name="status" value="{{ feedback.status }}" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="status"> {% if feedback.status == 'Close' %} Approved By {% else %} Approval Required By {% endif %} </label>
                                            <input type="text" name="status" value="{{ feedback.approval_required_by_name }} ({{ feedback.approval_required_by }})" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group" style="width:100%;" required>
                                            <label for="comments">Comments</label>
                                            <textarea name="comments" class="form-control" rows="3" style="width:100%;" {% if feedback.status != 'Open' %} readonly {% else %} required {% endif %}/>{{ feedback.comments }}</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group" style="width:100%;" required>
                                            <label for="actionpoints">Action Points</label>
                                            <textarea name="actionpoints" class="form-control" rows="3" style="width:100%;" {% if feedback.status != 'Open' %} readonly {% else %} required {% endif %}/>{{ feedback.action_point }}</textarea>
                                        </div>
                                    </div>
                                    {% if feedback.status != 'Open' and feedback.status != 'Pending Approval' %}
                                    {% if feedback.supervisor_comments and feedback.supervisor_comments.strip %}
                                    <div class="row">
                                        <div class="col-sm-6 form-group" style="width:100%;" required>
                                            <label for="supervisorcomments">Supervisor Comments</label>
                                            <textarea name="supervisorcomments" class="form-control" rows="3" style="width:100%;" readonly/>{{ feedback.supervisor_comments }}</textarea>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if feedback.action_implemented and feedback.action_implemented.strip %}
                                    <div class="row">
                                        <div class="col-sm-6 form-group" style="width:100%;" required>
                                            <label for="action_implemented">Action Points Implemented</label>
                                            <textarea name="action_implemented" class="form-control" rows="3" style="width:100%;" readonly/>{{ feedback.action_implemented }}</textarea>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    {% if feedback.status == 'Open' %}
                                        <input name="action" type="submit" data-inline="true" class="btn btn-success pull-left" value="Send for Approval">
                                        <input name="action" type="submit" data-inline="true" class="btn btn-primary" value="Save">
                                    {% endif %}
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% if feedback.status == 'Open' %}
                <div class="modal fade" id="d{{feedback.id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" id="modal-delete">
                            <div class="modal-body">
                                <h4 class="modal-title">Confirm Delete ?</h4>
                                <form method ='POST' action="{% url 'competence:feedback_delete' feedback.id %}">
                                     {% csrf_token %}
                                    <input name='page' type="hidden" value="feedback_given"> 
                                    <input type="submit" data-inline="true" class="btn btn-danger" value="Delete"> &nbsp;
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<div id="nodata">Sorry, no data found</div>
{% endif %}

<div class="modal fade" id="add" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="{% url 'competence:feedback_add' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Feedback</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="recognise">Feedback To</label>
                            <select name="recognise" class="selectpicker" data-width="100%" data-show-subtext="true" data-live-search="true" data-size="5">
                                {% for associate in associates %}
                                <option> {{associate.associate_name}} ({{associate.associate_id}})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="category">Category</label>
                            <select name="category" class="form-control">
                                {% for category in categories %}
                                <option value="{{ category.category }}">{{ category.category }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="created_date">Date (MM/DD/YYYY)</label>
                            <input type="date" id ="currentdate" name="created_date" class="form-control" style="width:100%;" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="comments">Comments</label>
                            <textarea name="comments" class="form-control" rows="3" style="width:100%;" required /></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="actionpoints">Action Points</label>
                            <textarea name="actionpoints" class="form-control" rows="3" style="width:100%;" required /></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input name="action" type="submit" data-inline="true" class="btn btn-success pull-left" value="Send for Approval">
                    <input name="action" type="submit" data-inline="true" class="btn btn-primary" value="Save">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
        document.getElementById("currentdate").valueAsDate = new Date() 
        document.getElementById("feedback_given").style.backgroundColor = "#00665C";
        document.getElementById("feedback_given").style.fontWeight = "600";
</script>

{% endblock %}