{% extends 'menu.html' %} {% block body %}

<h4>Feedback Received
    <span class="badge open_count"> {{inprogresscount}} </span>
</h4>

<div class="dropdown pull-right">
    <select class="selectpicker search_dropdown" data-width="fit" data-size="6" onchange="location = this.value;">
        {% for cycle in cycles %}
            <option value="{% url 'competence:feedback_received' cycle %}"
            {% if selected_cycle == cycle %} selected="selected" {% endif %}> {{cycle}} </option>
        {% endfor %}
    </select>
</div>
<hr>

{% if feedbacks %}
<table id="example" class="table stripe hover table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th width="15%">Category</th>
            <th width="25%">Comments</th>
            <th width="15%">Feedback by</th>
            <th width="15%">Approved by</th>
            <th width="10%">Status</th>
            <th width="10%">Date</th>
            <th width="10%">
                <center>Actions</center>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for feedback in feedbacks %}
        <tr>
            <td>{{feedback.category}}</td>
            <td class="ellipsis">{{feedback.comments}}</td>
            <td>{{feedback.feedback_by_name}} ({{feedback.feedback_by}})</td>
            <td>{{feedback.approval_required_by_name}} ({{feedback.approval_required_by}})</td>
            <td style="font-weight: 600; 
                {% if feedback.status == "In Progress" %} color: #0052CC;"
                {% elif feedback.status == "Pending Approval" or feedback.status == "Action Approval" %} color: orangered;" 
                {% elif feedback.status == "Close" %} color: green;"
                {% endif %}>{{ feedback.status }}
            </td>
            <td>{{feedback.created_date|date:"M d, Y"}}</td>
            <td>
                <center>
                    <a class="anchor" data-toggle="modal" data-target="#edit{{feedback.id}}">
                    {% if feedback.status != "In Progress" %}
                        <i class="material-icons" data-toggle="tooltip" title="Details">&#xE03B;</i>
                        {% else %}
                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                        {% endif %}
                    </a>
                </center>

                <div class="modal fade" id="edit{{feedback.id}}" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="POST" action="{% url 'competence:feedback_update' feedback.id %}">
                                <input name='page' type="hidden" value="feedback_received"> {% csrf_token %}
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Feedback Details</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="feedbackby">Feedback By</label>
                                            <input type="text" name="feedbackby" value="{{ feedback.feedback_by_name }} ({{feedback.feedback_by}})" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="category">Category</label>
                                            <input type="text" name="category" value="{{ feedback.category }}" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="created_date">Date (MM/DD/YYYY)</label>
                                            <input type="date" name="created_date" value="{{ feedback.created_date|date:'Y-m-d' }}" class="form-control" style="width:100%;" readonly />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="status">{% if feedback.status == 'Close' %} Approved By {% else %} Approval Required By {% endif %}</label>
                                            <input type="text" name="status" value="{{ feedback.approval_required_by_name }} ({{ feedback.approval_required_by}})" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="status">Status</label>
                                            <input type="text" name="status" value="{{ feedback.status }}" class="form-control" style="width:100%;" readonly/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group" style="width:100%;" required>
                                            <label for="comments">Comments</label>
                                            <textarea name="comments" class="form-control" rows="3" style="width:100%;" readonly/>{{ feedback.comments }}</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group" style="width:100%;" required>
                                            <label for="actionpoints">Action Points</label>
                                            <textarea name="actionpoints" class="form-control" rows="3" style="width:100%;" readonly/>{{ feedback.action_point }}</textarea>
                                        </div>
                                    </div>
                                    {% if feedback.supervisor_comments and feedback.supervisor_comments.strip %}
                                    <div class="row">
                                        <div class="col-sm-6 form-group" style="width:100%;" required>
                                            <label for="supervisorcomments">Supervisor Comments</label>
                                            <textarea name="supervisorcomments" class="form-control" rows="3" style="width:100%;" readonly/>{{ feedback.supervisor_comments }}</textarea>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-sm-6 form-group" style="width:100%;" required>
                                            <label for="action_implemented">Action Points Implemented</label>
                                            <textarea name="action_implemented" class="form-control" rows="3" style="width:100%;" {% if feedback.status == 'In Progress' %}
                                                required {%else%} readonly {% endif %}/>{{ feedback.action_implemented }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    {% if feedback.status == 'In Progress' %}
                                    <input name="action" type="submit" data-inline="true" class="btn btn-success pull-left" value="Send for Approval">
                                    <input name="action" type="submit" data-inline="true" class="btn btn-primary" value="Save"> {% endif %}
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </td>
        </tr>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<div id="nodata">No data found</div>
{% endif %}

<script>
        document.getElementById("feedback_received").style.backgroundColor = "#00665C";
        document.getElementById("feedback_received").style.fontWeight = "600";
</script>

{% endblock %}