       
{% extends 'menu.html' %}
<title> {% block head_title %} Performance Rating {% endblock %} </title>
{% block body %}

<style>
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        font-weight: 600;
        border-bottom-color: transparent;
    }

    .rating_container {
        height: 100px;
        border-radius: 5px;
        margin-top: 10px;
        margin-right: 10px;
        background: #FAFAFA;
        box-shadow: 2px 2px 10px 2px rgb(199, 197, 197);
    }

    .rating_container:hover {
        border-top-color: #009486;
        border-top-style: solid;
    }

    .heading {
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
    }

    .rating {
        color: #3A89DF;
        font-size: 30px;
        font-weight: 600;
        vertical-align: middle;
    }

    .remarks {
        margin-top: 10px;
        font-style: italic;
        padding-left: 0px; 
    }

    .details{
        float: right;
        font-size: 12px;
        text-decoration: underline !important;
    }

    .tab-content {
        margin-top: 8px;
        min-height: auto;
        border-radius: 5px;
        box-shadow: 2px 2px 10px 2px rgb(199, 197, 197);
        padding: 12px 20px;
    }
        
    .data_heading {
        font-size: 14px;
        font-weight: 500;
        padding: 6px 0px;
    }

    .data_value {
        font-weight: 700;
        font-size: 18px;
        padding: 2px;
        top: 2px;
    }

    .data_remarks {
        font-weight: 400;
        padding: 2px;
        top: 4px;
        font-style: italic;
    }

    .data_rating {
        font-weight: 700;
        font-size: 30px;
        color: #3A89DF;
        padding: 2px;
        text-align: right;
    }

    .line{
        width: 97.5%;
        border-top: 1px solid rgb(219, 216, 216);
    }
</style>

<h4>Performance Rating</h4>
<div class="dropdown pull-right">
    <select class="selectpicker search_dropdown" data-width="fit" data-size="6" onchange="location = this.value;">
        {% for cycle in cycles %}
        <option value="{% url 'competence:performance_rating' cycle 'cycle1' %}" 
        {% if selected_cycle == cycle %} selected="selected" {% endif %}> {{cycle}} </option>
        {% endfor %}
    </select>
</div>
<hr>

<input name="selected_cycle" type="hidden" value="{{selected_cycle}}">

<div class="bs-example">
    <ul class="nav nav-tabs" id="myTab">
        {% if cycle > 0 %}
        <li {% if performance_cycle == 'cycle1' %} class="active" {% endif %}>
            <a href="{% url 'competence:performance_rating' selected_cycle 'cycle1' %}"> Cycle 1 (April to July) </a>
        </li>
        {% endif %} {% if cycle > 1 %}
        <li {% if performance_cycle == 'cycle2' %} class="active" {% endif %}>
            <a href="{% url 'competence:performance_rating' selected_cycle 'cycle2' %}"> Cycle 2 (August to November) </a>
        </li>
        {% endif %} {% if cycle > 2 %}
        <li {% if performance_cycle == 'cycle3' %} class="active" {% endif %}>
            <a href="{% url 'competence:performance_rating' selected_cycle 'cycle3' %}"> Cycle 3 (December to March)</a>
        </li>
        {% endif %} {% if cycle > 2 %}
        <li {% if performance_cycle == 'annual' %} class="active" {% endif %}>
            <a href="{% url 'competence:performance_rating' selected_cycle 'annual' %}"> Annual Rating (April to March)</a>
        </li>
        {% endif %}
    </ul>
</div>

<div class="tab-content col-md-12">
    <div class="col-md-2 data_heading"> Learning & Sharing Skills : </div>
    <div class="col-md-1 data_value"> {{ learning_count }}</div>
    <div class="col-md-2 data_heading"> Sharing Skills : </div>
    <div class="col-md-1 data_value"> {{ sharing_count }} </div>
    <div class="col-md-2 data_heading"> Awards Recevied : </div>
    <div class="col-md-1 data_value">{{ awards_count }} </div>
    <div class="col-md-2 data_heading"> Appreciations Received: </div>
    <div class="col-md-1 data_value">{{ appreciations_count }} </div>
    <div class="col-md-2 data_heading"> Improvement Areas : </div>
    <div class="col-md-1 data_value">{{ feedbacks_count }}</div>
    {% if performance_cycle == 'annual' %}
    <div class="col-md-2 data_heading"> Technical & Managerial : </div>
    <div class="col-md-1 data_value">{{ rating.rating_technical_managerial }}</div>
    <div class="col-md-2 data_heading"> Workplace Behaviour : </div>
    <div class="col-md-1 data_value">{{ rating.rating_workplace_behaviour }}</div>
    <div class="col-md-2 data_heading"> Org Development : </div>
    <div class="col-md-1 data_value">{{ rating.rating_org_development }}</div>
    {% endif %} 

    <!-- KRA Ratings -->
    {% if performance_cycle == 'cycle1' or performance_cycle == 'annual' %}
    <div class="col-md-2 data_heading"> KRA Rating - Cycle 1 : </div>
    <div class="col-md-1 data_value">{{ rating.rating_kra_cycle1 }}</div>
    {% endif %} 
    {% if performance_cycle == 'cycle2' or performance_cycle == 'annual' %}
    <div class="col-md-2 data_heading"> KRA Rating - Cycle 2 : </div>
    <div class="col-md-1 data_value">{{ rating.rating_kra_cycle2 }}</div>
    {% endif %} 
    {% if performance_cycle == 'cycle3' or performance_cycle == 'annual' %}
    <div class="col-md-2 data_heading"> KRA Rating - Cycle 3 : </div>
    <div class="col-md-1 data_value">{{ rating.rating_kra_cycle3 }}</div>
    {% endif %}
</div>

<!-- Performance Ratings -->
{% if performance_cycle == 'annual' %}
<div class="tab-content col-md-12">
    <div class="col-md-2 data_heading"> Final Rating - Cycle 1 : </div>
    <div class="col-md-1 data_value">{{ rating.rating_cycle1 }}</div>
    <div class="col-md-2 data_heading"> Final Rating - Cycle 2 : </div>
    <div class="col-md-1 data_value">{{ rating.rating_cycle2 }}</div>
    <div class="col-md-2 data_heading"> Final Rating - Cycle 3: </div>
    <div class="col-md-1 data_value">{{ rating.rating_cycle3 }}</div>
</div>
{% endif %}

<div class="tab-content col-md-12">
    <div class="data_heading"> Associate Development Achieved : </div>
    {% if performance_cycle == 'cycle1' %}
    <div class="col-md-11 data_remarks">{{ rating.remarks_cycle1 }}</div>
    <div class="col-md-1 data_rating">{{ rating.rating_cycle1 }} </div>
    {% elif performance_cycle == 'cycle2' %}
    <div class="col-md-11 data_remarks">{{ rating.remarks_cycle2 }}</div>
    <div class="col-md-1 data_rating">{{ rating.rating_cycle2 }} </div>
    {% elif performance_cycle == 'cycle3' %}
    <div class="col-md-11 data_remarks">{{ rating.remarks_cycle3 }}</div>
    <div class="col-md-1 data_rating">{{ rating.rating_cycle3 }} </div>
    {% elif performance_cycle == 'annual' %}
    <div class="col-md-11 data_remarks">{{ rating.remarks_annual }}</div>
    <div class="col-md-1 data_rating">{{ rating.rating_annual }} </div>
    {% endif %}
</div>

{% if feedbacks %}
<div class="tab-content col-md-12">
    <div class="data_heading"> Improvement Needs : </div>
    {% for feedback in feedbacks%}
    <div class="col-md-12 data_remarks">{{ forloop.counter }}. {{ feedback.comments }}</div>
    {% endfor %}
</div>
{% endif %}

<script>
    document.getElementById("performance_rating").style.backgroundColor = "#00665C";
    document.getElementById("performance_rating").style.fontWeight = "600";
</script>     
    
{% endblock %}