<!DOCTYPE html>
<html>

<head>
    <title> ADR </title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />
</head>

<style>
    body {
        background-color: #F5F5F5;
        font-family: "Varela Round", "Segoe UI", Arial, sans-serif;
        font-variant: normal;
    }

    .form-signin {
        width: 85%;
        margin: 0 auto;
        padding: 5% 0% 5% 0%;
    }

    .form-signin .form-control {
        position: relative;
        font-size: 13px;
        height: auto;
        padding: 10px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
        border-color: #009486;
    }

    .form-signin input[type="text", type="password"] {
        background: white;
    }

    .account-wall {
        margin-top: 40%;
        background-color: white;
        border-radius: 4px;
    }

    .heading {
        text-align: center;
        color: #009486;
        font-size: 18px;
        font-weight: 500;
        padding-top: 5%;
    }
    
    .btn {
        outline: 0;
        background: #009486;
        padding: 10px;
        font-weight: 500;
        border-radius: 5px;
        color: #FFFFFF;
        font-size: 16px;
        margin: 15px 0px 15px;
    }

    .btn:hover,
    .btn:focus {
        color: #FFFFFF;
        background: #008073;
    }

    .error {
        margin-top: 15px;
        color: red;
    }

    .return {
        text-align: right;
        margin-bottom: -10px;
        font-size: 12px;
    }
    
</style>

<body>

    {% block content %}
    <div class="container" style="width: 25%; left:35%;">
        <div class="account-wall">
            <p class="heading">Change your Password</p>
            <form class="form-signin" method="post" action="{% url 'competence:update_password' %}">
                {% csrf_token %}
                <!-- <label for "username">User Name</label> -->
                <input type="text" name="username" placeholder="Username" class="form-control" value="{{ login.associate_id }}" required> <br>
                <!-- <label for "username">Password</label> -->
                <input type="password" name="password" placeholder="Current Password" class="form-control" required> <br>
                <!-- <label for "username">New Password</label> -->
                <input type="password" name="new_password" placeholder="New Password" class="form-control" required> <br>
                <!-- <label for "username">Confirm Password</label> -->
                <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control" required> <br>
                {% if invalid %}
                <p class="error"> {{ error}} </p>
                {% endif %}
                <input type="submit" value="Submit" class="btn btn-lg btn-block" />
                <p class="return"> Do you want to go back? &nbsp; 
                    <a style="float:right" href="{% url 'competence:user_login' %}"> Return</a>
                </p>
            </form>
        </div>
    </div>

    {% endblock %}
</body>



</html>