
<!DOCTYPE html>
<html>
<head>
    <title> {% block head_title %} Logout {% endblock %}</title>
</head>

{% block content %}
<p>Logged out!</p>  

<a href="{% url 'competence:user_login' %}">Click here to login again.</a>
{% endblock %}