<!DOCTYPE html>
<html>

<head>
    <title> {% block head_title %} Login {% endblock %}</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />
</head>

<style>
    body {
        background-color: #F5F5F5;
        font-family: "Varela Round", "Segoe UI", Arial, sans-serif;
        font-variant: normal;
    }

    .form-signin {
        width: 85%;
        margin: 0 auto;
        padding: 5% 0% 5% 0%;
    }

    .form-signin .form-control {
        position: relative;
        font-size: 13px;
        height: auto;
        padding: 10px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
        border-color: #009486;
    }

    .form-signin input[type="text", type="password"] {
        background: white;
    }

    .account-wall {
        margin-top: 40%;
        background-color: white;
        border-radius: 4px;
    }

    .profile-img {
        width: 40%;
        height: 20%;
        margin: 0 auto 10px;
        display: block;
    }

    .login {
        text-align: center;
        color: #009486;
        font-size: 18px;
        font-weight: 500;
    }
    
    .btn {
        outline: 0;
        background: #009486;
        padding: 10px;
        font-weight: 500;
        border-radius: 5px;
        color: #FFFFFF;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .btn:hover,
    .btn:focus {
        color: #FFFFFF;
        background: #008073;
    }

    .error {
        font-size: 13px;
        margin-top: 15px;
        color: red;
    }

    .change_pwd {
        float: right;
        font-size: 12px;
    }
    
</style>

<body>

    {% block content %}
    <div class="container" style="width: 25%; left:35%;">
        <div class="account-wall">
            <img class="profile-img" src="http://hyderabadjunction.com/wp-content/uploads/2015/03/SenecaGlobal-Logo.jpg" alt="SENECA GLOBAL">
            <p class="login">Login to your account</p>
            <form class="form-signin" method="post" action="{% url 'competence:user_login' %}">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" class="form-control">
                <br>
                <input type="password" name="password" placeholder="Password" class="form-control">
                <br>
                <a class="change_pwd" href="{% url 'competence:change_password' %}">Change password?</a>
                <br>
                <input type="hidden" name="next" value="{{ next }}" /> {# Assumes you setup the password_reset view in your URLconf #} 
                
                {% if invalid %}
                    <p class="error">Invalid Credentials. Please try again.</p>
                {% endif %}

                {% if next %} 
                    {% if user.is_authenticated %}
                        <p class="error">Sorry, You do not have access to this page. Please contact admin </p>
                    {% else %}
                        <p class="error">Please login to see the requested page.</p>
                    {% endif %} 
                {% endif %}
                <input type="submit" value="Login" class="btn btn-lg btn-block" />
            </form>
        </div>
    </div>

    {% endblock %}
</body>



</html>