<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title> {% block head_title %} SST Welfare Association {% endblock %} </title>
  
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <!-- <link rel="stylesheet" href="style2.css"> -->

    <!-- Bootstrap Select Picker -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css"></script>
    
    <!-- Need to use datatables.net -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter/bootstrap-table-filter.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- SweetAlert -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://unpkg.com/sweetalert2@7.17.0/dist/sweetalert2.all.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />

</head>

<style>
    body {
        font-family: "Segoe UI", Arial, sans-serif;
        /* font-family: "Varela Round"; */
        color: #666666;
    }

    /* ---------------------------------------------------
        NAVIGATION BAR STYLE
    ----------------------------------------------------- */

    .navbar-brand {
        font-size: 22px;
        font-weight: 700;
    }

    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    .navbar {
        background: #393737;
        border: none;
    }

    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }

    /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */

    #sidebar {
        width: 180px;
        position: fixed;
        top: 0;
        left: 0;
        height: 95vh;
        z-index: 999;
        background: #009486;
        color: #fff;
        transition: all 0.3s;
    }

    #sidebarCollapse {
        font-size: 18px;
        margin-left: -20px;
    }

    #sidebar.active {
        margin-left: -180px;
    }

    #sidebar ul li a {
        padding: 3px 10px 3px;
        display: block;
        font-size: 12px;
    }

    #sidebar ul li a:hover {
        background: #008073 !important;
        font-weight: 500 !important;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    a[aria-expanded="false"]::before,
    a[aria-expanded="true"]::before {
        content: '\e259';
        display: block;
        position: absolute;
        right: 20px;
        font-family: 'Glyphicons Halflings';
        font-size: 0.6em;
    }

    a[aria-expanded="true"]::before {
        content: '\e260';
    }

    /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */

    #content {
        width: calc(100% - 180px);
        padding: 40px;
        min-height: 95vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
    }

    #content.active {
        width: 100%;
    }

    h4 {
        font-size: 16px;
        color: #009486;
    }

    .form-control {
        font-size: 13px;
        height: 33px;
    }

    .form-control:focus {
        z-index: 2;
        border-color: #4CB870;
    }

    textarea {
        resize: vertical;
    }

    /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */

    @media (max-width: 768px) {
        #sidebar {
            margin-left: -180px;
        }
        #sidebar.active {
            margin-left: 0;
        }
        #content {
            width: 100%;
        }
        #content.active {
            width: calc(100% - 180px);
        }
        #sidebarCollapse span {
            display: none;
        }
    }

    /* ---------------------------------------------------
        DATA TABLES
    ----------------------------------------------------- */

    #example {
        font-family: "Segoe UI", Arial, sans-serif;
        /* box-shadow: 1px 1px 1px 1px #CECECE; */
        border: none;
    }

    #example th,
    #example td {
        text-align: center;
        vertical-align: center;
        font-size: 14px;
        padding: 10px !important;
        border: 1px solid white !important;
    }

    .ellipsis {
        max-width: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .word_wrap {
        margin: 0px;
    }

    label {
        font-size: 12px;
        font-weight: 700;
    }

    .material-icons {
        line-height: 1;
        font-size: 18px;
    }

    .material-icons:hover {
        color: #009486;
    }

    hr {
        display: block !important;
        margin-top: 0.5em !important;
        margin-bottom: 0.5em !important;
        margin-left: auto !important;
        margin-right: auto !important;
        /* border-style: inset !important; */
        border-width: 1px !important;
    }

    .dataTables_wrapper {
        margin-top: 1.5em;
    }

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate {
        font-family: "Segoe UI", Arial, sans-serif !important;
        font-weight: normal !important;
        font-size: 12px;
    }

    .dataTables_wrapper .dataTables_filter input {
        margin-left: 0.5em !important;
        border-radius: 5px !important;
    }

    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: green;
    }

    .dataTables_wrapper .dataTables_filter input {
        margin-left: 0.5em !important;
        border-radius: 5px !important;
    }

    .table>tbody>tr>td, 
    .table>tbody>tr {
        padding: 8px;
        vertical-align: middle;
    }

    /* ---------------------------------------------------
        BUTTONS
    ----------------------------------------------------- */

    .add-btn {
        border: none !important;
    }

    .btn {
        padding: 5px 12px !important;
    }

    .pull-right {
        margin-top: -2.5em;
    }

    a {
        cursor: pointer;
        text-decoration: none !important;
    }

    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        font-size: 0;
    }

    h5 {
        margin: 20px 10px 10px 10px;
    }

    .associate_data {
        /* box-shadow: 1px 1px 20px 1px #CECECE;  */
        margin:0px; 
        margin-bottom: 25px;
        /* background: #FAFAFA; */
    }

    /* ---------------------------------------------------
        FILTER
    ----------------------------------------------------- */

    .filter {
        margin-top: 16px;
        background: #F6F6F6;
        float: right !important;
    }

    .filter_header {
        text-align: center; 
        color:white; 
        margin: 0px -15px; 
        padding: 6px; 
        background: #009486;
    }

    #changelist-filter a {
        display: block;
        color: #999;
        text-overflow: ellipsis;
        overflow-x: hidden;
    }

    #changelist-filter a:focus,
    #changelist-filter a:hover, 
    #changelist-filter li.selected a:focus, 
    #changelist-filter li.selected a:hover {
        color: #666666;
    }

    #changelist-filter li {
    padding: 2px 0;
    }

    #changelist-filter li.selected {
        border-left: 4px solid #009486;
        padding-left: 10px;
        margin-left: -15px;
    }

    #changelist-filter li.selected a {
        color: #009486;
    }

    /* ---------------------------------------------------
        MODALS
    ----------------------------------------------------- */
    
    .modal-content {
        margin-top: 10% !important;
    }

    #modal-delete.modal-content {
        width: 26%;
        margin: 50% 50% 50% 50%;
        height: 12%;
    }

    /* ---------------------------------------------------
        DELETE CONFIRMATION POPUP
    ----------------------------------------------------- */

    /* Popup container - can be anything you want */

    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

  /* The actual popup */

    .popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: rgb(134, 131, 131);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
    }

  /* Popup arrow */

    .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */

    .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }

  /* Add animation (fade in the popup) */

    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    /* ---------------------------------------------------
        BOOTSTRAP PANELS
    ----------------------------------------------------- */

    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border: none;
    }

    .panel-default>.panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title>a {
        display: block;
        text-decoration: none;
    }

    .panel-group 
    .panel-heading+.panel-collapse>.list-group, 
    .panel-group .panel-heading+.panel-collapse>.panel-body {
        border: none;
    }

    .panel-body {
        padding: 5px;
    }

    .panel-default>.panel-heading+.panel-collapse>.panel-body {
        border-top-color: #EEEEEE;
    }
        
    /* ---------------------------------------------------
        FORMS
    ----------------------------------------------------- */

    .form-group {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .form_error {
        color:red; 
        margin:2px;
    }

    .form-control[disabled] {
        background-color: #eee;
        opacity: 1;
        margin-top: -8px;
    }

    .category_status {
        font-weight: 700;
        padding: 6px 10px;
        text-transform:uppercase;
        border-radius: 5px;
        color: white;
        /* width: fit-content; */
    }

    /* ---------------------------------------------------
        OTHERS
    ----------------------------------------------------- */

    .serial {
        float: right;
        margin-top: 5px;
        font-weight: 700;
    }

    .more-less {
        float: right;
        color: #212121;
        margin: 10px;
    }

    .more-less:hover {
        color: #009486;
    }

    #nodata {
        font-size:16px;  
        color:red;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .view_more {
        margin: 0px -72px 0;
        border: none;
        box-shadow: 1px 1px 1px 1px #CECECE;
    }

    .pending_count {
        background-color: orangered;
        vertical-align: 2px;
    }

    .open_count {
        background-color: #0052CC;
        vertical-align: 2px;
    }

    .status {
        color:orangered; 
        font-style: italic; 
        font-size: 14px;
    }

    /* ---------------------------------------------------
       DROPDOWN
    ----------------------------------------------------- */
    
    .dropdown-toggle {
        padding: 4px 20px 5px 10px !important;
    }
    
    /* #dropdown, #dropdown:hover, #dropdown:focus {
        color: #393737 !important;
        border: none !important;
        margin-top: -3em;
    } */

    /* .dropdown-menu>li>a {
        padding: 4px 12px;
    } */

    /* ---------------------------------------------------
       SWEET ALERTS
    ----------------------------------------------------- */

    .swal2-modal {
        margin-top: 43px !important;
        margin-right: 30px !important;
    }
    
    .swal2-header{
        align-items: left!important; 
    }

</style>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a id="sidebarCollapse" href="#">
                                <i class="glyphicon glyphicon-menu-hamburger" data-toggle="tooltip" title="Show/Hide Menu"></i>
                            </a>
                        </li>
                        <li>
                            <a class="navbar-brand" href="{% url 'competence:dashboard' %}">Home</a>
                        </li>
                    </ul>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                        <li><a href="/admin">Django Admin</a></li>
                        <li class="dropdown">
                                <a href="#" data-toggle="dropdown"> {{ user.username}} <b class="fa fa-angle-down"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'competence:change_password' %}"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
                                    <li><a href="{% url 'competence:user_logout' %}"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                                </ul>
                            </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Sidebar Holder -->
        <nav id="sidebar" style="top:50px;">

            <ul class="list-unstyled components">
                <li>
                    <h5>ADMIN</h5>
                    <li><a id="mmc_payment_status" href="{% url 'competence:mmc_payment_status' ' ' %}"> MMC Payment Status </a></li>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content" style="top:3%">
            {% block body %}
            {% endblock %}
        </div>
    </div>
  
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <!-- Bootstrap Select Picker -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });

        $(document).ready(function () {
            $('#example').DataTable({
            "aLengthMenu": [[15, 25, 50, 75, -1], [15, 25, 50, 75, "All"]],
            "iDisplayLength": 15,
            "pagingType": "full_numbers"
            });
        });

        $(document).ready(function () {
            $('#form_table').DataTable({
                "paging": false,
                "ordering": false,
                "info": false,
                "filter": false,
            });
        });

        function popFunc(idno) {
            var popup = document.getElementById(idno);
            popup.classList.toggle("show");
        }

        $(document).ready(function () {
            var Appr = "{{Appr}}";
            $("#cat-toggle").change(function () {
                if ($(this).val() != Appr) {
                    $("#action-disp").show();
                } else {
                    $("#action-disp").hide();
                }
            });
            $("#add-click").click(function () {
                if ($("#cat-toggle").val() != Appr) {
                    $("#action-disp").show();
                } else {
                    $("#action-disp").hide();
                }
            });
        });

    // Alerts
    if( '{{alert}}' == 'updated'){
        swal({
            title:'<span style = "font-weight:400;font-size:13px; float:left;"><i style = "color:green;" class="fa fa-check-circle fa-lg"></i> &nbsp; Record has been updated successfully</span>',
            showConfirmButton: false,
            timer:1500,
        });  
    }
    else if( '{{alert}}' == 'added'){
        swal({
            title:'<span style = "font-weight:400;font-size:13px;"><i style = "color:green;" class="fa fa-check-circle fa-lg"></i> &nbsp; Record has been added successfully</span>',
            showConfirmButton: false,
            timer:1500,  
        });
    }
    else if( '{{alert}}' == 'deleted'){
        swal({
            title:'<span style = "font-weight:400;font-size:13px;"><i style = "color:red;" class="fa fa-trash fa-lg"></i> &nbsp; Record has been deleted successfully</span>',
            showConfirmButton: false,
            timer:1500,  
        });  
    }
    else if( '{{alert}}' == 'submitted'){
        swal({
            title:'<span style = "font-weight:400;font-size:13px;"><i style = "color:blue;" class="fa fa-check-circle fa-lg"></i> &nbsp; Record has been submitted for Manager Approval</span>',
            showConfirmButton: false,
            timer:1500,  
        });  
    }
    else if( '{{alert}}' == 'approved'){
        swal({
            title:'<span style = "font-weight:400;font-size:13px;"><i style = "color:blue;" class="fa fa-check-circle fa-lg"></i> &nbsp; Record has been approved</span>',
            showConfirmButton: false,
            timer:1500,  
        });  
    }
    document.getElementById("currentdate").valueAsDate = new Date()
    </script>

</body>