body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
  }
  
  .sidenav {
    font-family: "Segoe UI", Arial, sans-serif;
    text-decoration: none;
    display: block;
    padding: 2px 1px 1px 6px;
    height: 94%;
    width: 268px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #009687;
    overflow-x: hidden;
    top: 6%;
    color: white;
  }
  
  .sidenav a {
    padding: 6px 4px 6px 6px;
    text-decoration: none;
    font-size: 15px;
    color: #333333;
    display: block;
    color: black;
    font-weight: 500;
  }
  
  .sidenav h2 {
    font-size: 19px;
    padding-top: 30px;
    padding-left: 6px;
    margin: -4px 0 4px 0;
    width: 250px;
  }
    
  .navbar {
    overflow: hidden;
    background-color: #1F75D1 !important;
    font-family: "Segoe UI", Arial, sans-serif !important;
    text-shadow: 0 0 1px white;
    border-bottom: none !important;
  }

  .navbar-inverse .navbar-brand {
    color: white !important;
    font-size: 30px !important;
    font-weight: 600;
}
  
  .navbar a {
    color: white !important;
  }

  .navbar a:hover {
    font-weight: 500 !important;
  }
  
  .sidenav a:hover{
    text-decoration: none;
    color: white;
    border-right: 3px solid white !important;
    background-color: #009687 !important;
    font-style: italic;
  }
  
 .sidenav a:focus {
    text-decoration: none;
    color: white;
    border-right: 3px solid white;
    background-color: #009687 !important;
    font-style: bold;
  }

.jumbotron {
    margin-top: 5% !important;
    padding-top: 0px !important;
    padding-bottom: 70px !important;
    background-color: #009687 !important;
    box-shadow: 0px 4px 4px grey;
}

  h5 {
    color: white !important;
    font-weight: 400 !important;
    font-family: "Segoe UI", Arial, sans-serif !important;
  }

  th {
    color: #009586;
    font-weight: 450;
  }

  table {
    font-family: "Segoe UI", Arial, sans-serif;
  }